<section class="content-header">
  <h1>My services</h1>
</section>


<section class="content">
      <div class="row" style="width: 100%">
        <div class="coll-md-1" ng-hide="loaded" style="margin: auto; width:60%">
          <i class="fa fa-refresh fa-spin fa-4x" style="text-align: center; display: block"/>
        </div>

        <div class="col-md-12" ng-show="loaded">

             <!-- /.box-header -->
             <div class="box-body">
               <div class="box-group" id="accordion">
                 <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                 <div class="panel box-bg-dark-grey box-warning">
                   <div class="box-header with-border">
                     <div class="box-tools">
                       <div class="dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown">See only
                           <span class="caret"></span>
                         </a>

                         <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a ng-click="privateItems()"> Private (Only me)</a></li>
                            <li><a ng-click="friendItems()"> Visible for partners</a></li>
                            <li><a ng-click="publicItems()"> Public visibility</a></li>
                            <li><a ng-click="allItems()"> All my services</a></li>
                         </ul>
                        </div>
                     </div>
                   </div>

                   <div id="collapseThree" class="panel-collapse collapse in">


                     <!-- Start -->
                       <div class="row">

                         <!-- onlyPrivateDevices -->
                         <div ng-show="noItems" >
                            <h2 style="margin-left:20px;" >No services to show.</h2>
                        </div>

                         <div ng-show="loaded" class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="item in items | customAllServs:searchTerm">
                           <!-- Widget: user widget style 1 -->
                           <div class="box box-widget widget-user-2">
                             <!-- Add the bg color to the header using any of the bg-* classes -->
                             <div style="z-index: -2" class="widget-user-header3 bg-service">

                               <div class="round">
                                 <img style="cursor: pointer" onmouseover="" ui-sref="root.main.serviceProfile.whoSee({serviceId: it._id})" ng-src="{{item.avatar}}" alt="Company Avatar">
                               </div>

                               <div class="tooltip2" id="circle_gray" style="cursor:default"> &nbsp; &nbsp; &nbsp;
                                 <span class=" tooltiptext2" > Unknown </span>
                               </div>

                               <h3 class="widget-user-username2"><a style="color: #000; z-index: -1" href="" ui-sref="root.main.serviceProfile.whoSee({serviceId: it._id})">{{item.name}}</a></h3>
                           <h5 class="widget-user-desc2">{{item.accessLevelCaption}}</h5>
                           <h5 class="widget-user-desc2">{{item.info.location}}</h5>

                            </div>

                            <!-- <div ng-show="item.isRequested" class="widget-user-footer-moreinfo2">
                              <button  ng-click="acceptDataRequest(item._id)" type="button" class="btn btn-success btn-xs"><i class="fa fa-check"></i>&nbsp;Approve</button>
                              <button  ng-click="rejectDataRequest(item._id)" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i>&nbsp;Reject</button>
                            </div> -->

                            <div class="widget-user-footer-moreinfo3" ng-show="item.accessLevel === 1">
                            <span  ><i href="/#" class="fa fa-bar-chart fa-1x" > </i> <strong> Service is private </strong> </span>
                            </div>

                            <div class="widget-user-footer-moreinfo3" ng-show="item.accessLevel === 2 || item.accessLevel === 5">
                            <span  ><i href="/#" class="fa fa-bar-chart fa-1x" > </i> <strong> Metadata accessible</strong> </span>
                            </div>

                            <div class="widget-user-footer-moreinfo3" ng-show="item.accessLevel === 3 || item.accessLevel === 6">
                            <span  ><i href="/#" class="fa fa-bar-chart fa-1x" > </i> <strong> Under Request </strong> </span>
                            </div>

                            <div class="widget-user-footer-moreinfo3" ng-show="item.accessLevel === 4 || item.accessLevel === 7">
                            <span  ><i href="/#" class="fa fa-bar-chart fa-1x" > </i> <strong>Access for friends</strong></span>
                            </div>

                            <div class="widget-user-footer-moreinfo3" ng-show="item.accessLevel === 8">
                            <span  ><i href="/#" class="fa fa-bar-chart fa-1x" > </i> <strong> Service is public </strong> </span>
                            </div>

                            <a href="" class="widget-user-footer-moreinfo" ui-sref="root.main.serviceProfile.whoSee({serviceId: item._id})">More info <i class="fa fa-arrow-circle-right"></i></a>
                         </div>

                       </div>

                     </div>

                   </div>

                 </div>

               </div>

             </div>

           </div>

         </div>

</section>
