<div ng-hide="loaded">
  <div style="margin: auto; width:60%">
    <i class="fa fa-refresh fa-spin fa-5x" style="color: #ECF0F1"></i>
  </div>
</div>
<div class="profile" ng-show="loaded">
    <div class="profile_pic">
        <a ng-href="#/profile/company/{{companyAccountId}}/partners"> <img src={{avatar}} alt="..." class="img-circle profile_img"></a>
    </div>
    <div class="profile_info">
        <!-- <span>Welcome,</span> -->
        <a ng-href="#/profile/company/{{companyAccountId}}/partners"><h2 class="profile_header">{{name}}</h2></a>
    </div>
</div>
