<section class="content-header">
    <h1>Registrations table</h1>
</section>

<section class="content">
<div class="box">
  <!-- /.box-header -->
  <div class="box-body">
    <table id="RegTable" class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Type</th>
        <th>Name<i ng-click="orderByMe('companyName')" class="fa fa-fw fa-sort"/></th>
        <th>Requester<i ng-click="orderByMe('email')" class="fa fa-fw fa-sort"/></th>
        <th>Status<i ng-click="orderByMe('status')" class="fa fa-fw fa-sort"/></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="regis in regisList | orderBy:myOrderBy:rev">
        <td>Organization</td>
        <td>
          <a ui-sref="root.main.registrationProfile.regAdmin({registrationId: regis._id})"><span>{{regis.companyName}}</span></a>
        </td>
        <td>{{regis.email}}</td>
        <td>
          <div style="padding-left:40%" ng-if="regis.status === 'open' || regis.status === 'pending' "> &nbsp; &nbsp; &nbsp;
            <span class="label label-warning">Pending</span>
          </div>
          <div style="padding-left:40%" ng-if="regis.status === 'verified'"> &nbsp; &nbsp; &nbsp;
            <span class="label label-success">Verified</span>
          </div>
          <div style="padding-left:40%" ng-if="regis.status === 'declined'"> &nbsp; &nbsp; &nbsp;
            <span class="label label-danger">Declined</span>
          </div>
        </td>
        <td>
          <i ng-if="regis.status === 'open' " ng-click="verifyAction(regis)" style="color: green; padding-left:10%" class="fa fa-check fa-lg col-sm-4"></i>
          <i ng-if="regis.status === 'open' " ng-click="declineAction(regis)" style="color: red; padding-left:10%" class="fa fa-close fa-lg col-sm-4"></i>
          <a ng-if="regis.status === 'open' " ui-sref="root.main.registrationProfile.regAdmin({registrationId: regis._id})"><i style="padding-left:10%" class="fa fa-search fa-lg col-sm-4"></i></a>
          <a ng-if="regis.status !== 'open' " ui-sref="root.main.registrationProfile.regAdmin({registrationId: regis._id})"><i style="padding-left:40%" class="fa fa-search fa-lg col-sm-4"></i></a>
        </td>
      </tr>
      </tbody>

    </table>
  </div>
  <!-- /.box-body -->
</div>
          <!-- /.box -->
</section>
