<section class="content-header">
    <h1>Registrations table</h1>
</section>

<div class="coll-md-1" ng-hide="loadedPage" style="margin: auto; width:60%">
  <i class="fa fa-refresh fa-spin fa-4x" style="text-align: center; display: block"/>
</div>

<section class="content" ng-show="loadedPage && !imMobile">
<div class="box">
  <!-- /.box-header -->
  <div class="box-body">
    <table id="RegTable" class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Type</th>
        <th>Name<i ng-click="orderByMe('companyName')" class="fa fa-fw fa-sort"/></th>
        <th>Requester<i ng-click="orderByMe('email')" class="fa fa-fw fa-sort"/></th>
        <th>Status<i ng-click="orderByMe('status')" class="fa fa-fw fa-sort"/></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="regis in regisList | orderBy:myOrderBy:rev">
        <td>Organisation</td>
        <td>
          <a ui-sref="root.main.registrationProfile.regAdmin({registrationId: regis._id})"><span>{{regis.companyName}}</span></a>
        </td>
        <td>{{regis.email}}</td>
        <td align="center">
          <div ng-if="regis.status === 'open' || regis.status === 'pending' "> &nbsp; &nbsp; &nbsp;
            <span class="label label-warning">Pending</span>
          </div>
          <div ng-if="regis.status === 'verified'"> &nbsp; &nbsp; &nbsp;
            <span class="label label-success">Verified</span>
          </div>
          <div ng-if="regis.status === 'declined'"> &nbsp; &nbsp; &nbsp;
            <span class="label label-danger">Declined</span>
          </div>
        </td>
        <td>
          <i ng-if="regis.status === 'open' " ng-click="verifyAction(regis._id)" style="color: green; padding-left:10%" class="fa fa-check fa-lg col-sm-4"></i>
          <i ng-if="regis.status === 'open' " ng-click="declineAction(regis._id)" style="color: red; padding-left:10%" class="fa fa-close fa-lg col-sm-4"></i>
          <a ng-if="regis.status === 'open' " ui-sref="root.main.registrationProfile.regAdmin({registrationId: regis._id})"><i style="padding-left:10%" class="fa fa-search fa-lg col-sm-4"></i></a>
          <a ng-if="regis.status !== 'open' " ui-sref="root.main.registrationProfile.regAdmin({registrationId: regis._id})"><i style="padding-left:40%" class="fa fa-search fa-lg col-sm-4"></i></a>
        </td>
      </tr>
      </tbody>

    </table>
  </div>
  <!-- /.box-body -->
</div>
          <!-- /.box -->
</section>

<!-- MOBILE VERSION -->
<section ng-show="loadedPage && imMobile" style="margin: auto; width:80%">
  <hr>
  <span>
    <i ng-click="onSort(false)"  class="fa fa-sort-alpha-asc btn btn-default" aria-hidden="true"></i>
    <i ng-click="onSort(true)"  class="fa fa-sort-alpha-desc btn btn-default" aria-hidden="true"></i>
  </span>
  <hr>
  <div class="box-body box" ng-repeat="regis in regisList | orderBy:'companyName':rev">
    <div>
      <label>Type: </label>
      <span>Organisation</span>
    </div>
    <div>
      <label>Name: </label>
      <a ui-sref="root.main.registrationProfile.regAdmin({registrationId: regis._id})"><span>{{regis.companyName}}</span></a>
    </div>
    <div>
      <label>Mail: </label>
      <span>{{regis.email}}</span>
    </div>
    <div>
      <div ng-if="regis.status === 'open' || regis.status === 'pending' "><b>Status: </b>Pending</div>
      <div ng-if="regis.status === 'verified'"><b>Status: </b>Verified</div>
      <div ng-if="regis.status === 'declined'"><b>Status: </b>Declined</div>
    </div>
    <div class="centered" style="padding:5%">
      <button ng-if="regis.status === 'open' " ng-click="verifyAction(regis._id)" class="btn btn-block btn-success pull-right">Verify</button><hr ng-if="regis.status === 'open' ">
      <button ng-if="regis.status === 'open' " ng-click="declineAction(regis._id)" class="btn btn-block btn-danger pull-right">Decline</button><hr ng-if="regis.status === 'open' ">
      <button ng-if="regis.status === 'open' " ui-sref="root.main.registrationProfile.regAdmin({registrationId: regis._id})" class="btn btn-block btn-info pull-right">View</button>
      <button ng-if="regis.status !== 'open' " ui-sref="root.main.registrationProfile.regAdmin({registrationId: regis._id})" class="btn btn-block btn-info pull-right">View</button>
    </div>
  </div>
  <hr>
</section>
