<section class="content-header">
  <h1>Search results</h1>
</section>


<section class="content" >
  <div class="row" style="width: 100%">
    <div class="coll-md-1" ng-hide="loaded" style="margin: auto; width:60%">
      <i class="fa fa-refresh fa-spin fa-4x" style="text-align: center; display: block"/>
    </div>
    <div class="col-md-4" ng-repeat="result in resultsList | filter: searchFilter" ng-show="loaded">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-gold">
          <div class="widget-user-image">
            <img class="img-circle" ng-src="{{result.avatar}}" alt="Comapany Avatar">
          </div>
          <!-- /.widget-user-image -->
          <h3 class="widget-user-username">{{result.organisation}}</h3>
          <h5 class="widget-user-desc">{{result._id}}</h5>
        </div>
        <a href="" class="widget-user-footer-moreinfo" ui-sref="root.main.companyProfile.devices({companyAccountId: result._id})">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
  </div>
</section>
