<section class="content-header">
    <h1>Organisation logs</h1>
</section>

<div class="coll-md-1" ng-hide="loadedPage" style="margin: auto; max-width:700px">
  <i class="fa fa-refresh fa-spin fa-4x" style="text-align: center; display: block"/>
</div>

 <div class="centered"  ng-show="loadedPage && noLogs">
    <h3 class="well">No logs found...</h3>
 </div>

<!-- /.box-header -->
<section class="content" ng-show="loadedPage && !noLogs">

<div class="box-body">

<div class="row">

  <div class="col-md-12">
    <!-- The time line -->
    <ul class="timeline">
      <!-- timeline time label -->
      <li class="time-label" ng-repeat="d in dates">
            <span class="bg-gray">
              {{ d }}
            </span>

            <div class="timeline-item" style="max-width:700px; margin-top:10px" ng-repeat="log in logs" ng-if="log.dateCaption === d">

              <!-- Clock -->
              <span class="time" > <i class="fa fa-clock-o"></i> {{log.timeCaption}}</span>

                <h3 class="timeline-header bg-warning">

                  <div class="inline">

                    <!-- Label eventType -->
                    <span ng-show="[1, 41, 11, 21].lastIndexOf(log.eventType) !== -1"><i class="fa fa-plus my-green"/></span>
                    <span ng-show="[2, 42, 12, 22].lastIndexOf(log.eventType) !== -1"><i class="fa fa-minus my-red"/></span>
                    <span ng-show="log.eventType===13"><i class="fa fa-user"/></span>
                    <span ng-show="log.eventType===23"><i class="fa fa-sitemap"/></span>
                    <span ng-show="[31, 53].lastIndexOf(log.eventType) !== -1"><i class="fa fa-envelope my-blue"/></span>
                    <span ng-show="[32, 34].lastIndexOf(log.eventType) !== -1"><i class="fa fa-times my-red"/></span>
                    <span ng-show="log.eventType===33"><i class="fa fa-user-plus my-green"/></span>
                    <span ng-show="log.eventType===35"><i class="fa fa-user-times my-red"/></span>
                    <span ng-show="[43, 54].lastIndexOf(log.eventType) !== -1"><i class="fa fa-arrow-up my-green"/></span>
                    <span ng-show="log.eventType===44"><i class="fa fa-arrow-down my-red"/></span>
                    <span ng-show="log.eventType===45"><i class="fa fa-eye"/></span>
                    <span ng-show="log.eventType===51"><i class="fa fa-chain my-blue"/></span>
                    <span ng-show="log.eventType===52"><i class="fa fa-chain-broken"/></span>
                  </div>

                </h3>

                <!-- Description -->
                <span ng-show="log.eventType===1">The {{log.orgOrigin.id.name}} was created</span>
                <span ng-show="log.eventType===2">The {{log.orgOrigin.id.name}} was deleted</span>
                <span ng-show="log.eventType===11">The user {{log.auxConnection.item.name}} joined Vicinity</span>
                <span ng-show="log.eventType===12">The user {{log.auxConnection.item.name}} left Vicinity</span>
                <span ng-show="log.eventType===13">The user {{log.auxConnection.item.name}} had its roles modified</span>
                <span ng-show="log.eventType===21">The node {{log.auxConnection.item.name}} was created</span>
                <span ng-show="log.eventType===22">The node {{log.auxConnection.item.name}} was removed</span>
                <span ng-show="log.eventType===23">The node {{log.auxConnection.item.name}} was modified</span>

                <span ng-show="log.eventType===31 && log.triggeredByMe===true">You have sent a partnership request to {{log.orgDest.id.name}}</span>
                <span ng-show="log.eventType===32 && log.triggeredByMe===true">You have cancelled the partnership request to {{log.orgDest.id.name}}</span>
                <span ng-show="log.eventType===33 && log.triggeredByMe===true">You have accepted the partnership request from {{log.orgDest.id.name}}</span>
                <span ng-show="log.eventType===34 && log.triggeredByMe===true">You have rejected the partnership request from {{log.orgDest.id.name}}</span>
                <span ng-show="log.eventType===35 && log.triggeredByMe===true">You have cancelled the partnership with {{log.orgDest.id.name}}</span>
                <span ng-show="log.eventType===31 && log.triggeredByMe===false">You have received a partnership request from {{log.orgOrigin.id.name}}</span>
                <span ng-show="log.eventType===32 && log.triggeredByMe===false">The partnership request from {{log.orgOrigin.id.name}} has been cancelled</span>
                <span ng-show="log.eventType===33 && log.triggeredByMe===false">Your partnership request has been accepted by {{log.orgOrigin.id.name}}</span>
                <span ng-show="log.eventType===34 && log.triggeredByMe===false">Your partnership request has been rejected by {{log.orgOrigin.id.name}}</span>
                <span ng-show="log.eventType===35 && log.triggeredByMe===false">Your partnership with {{log.orgOrigin.id.name}} has been cancelled</span>

                <span ng-show="log.eventType===41">The {{log.auxConnection.item.name}} was discovered</span>
                <span ng-show="log.eventType===42">The {{log.auxConnection.item.name}} was deleted</span>
                <span ng-show="log.eventType===43">The {{log.auxConnection.item.name}} was enabled</span>
                <span ng-show="log.eventType===44">The {{log.auxConnection.item.name}} was disabled</span>
                <span ng-show="log.eventType===45">Privacy change: {{log.description}} </span>

                <span ng-show="log.eventType===51">Contract stablished between {{log.orgDest.id.name}} and {{log.orgOrigin.id.name}}</span>
                <span ng-show="log.eventType===52">Contract cancelled between {{log.orgDest.id.name}} and {{log.orgOrigin.id.name}}</span>
                <span ng-show="log.eventType===53">Contract request from {{log.orgOrigin.id.name}} to {{log.orgDest.id.name}}</span>
                <span ng-show="log.eventType===54">Contract updated between {{log.orgDest.id.name}} and {{log.orgOrigin.id.name}}</span>

                <br>

                <!-- Initiator -->
                <span>Action performed by <b>{{log.user}}</b></span>

                </div>
            </li>
        <li>
        <i class="fa fa-clock-o bg-gray"></i>
      </li>
    </ul>
  </div>
</div>
</div>
</section>
