<section class="content-header">
  <h1>Neigbourhood</h1>
</section>


<section class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Share with
              <span class="caret"></span>
            </a>

            <ul class="dropdown-menu" role="menu">
               <li><a href="#">Only me (Private)</a></li>
               <li><a href="#">Neighbourhood</a></li>
               <li><a href="#">Everybody (Public)</a></li>
            </ul>
           </div> -->
           <div class="box box-solid">
             <div class="box-header with-border">
               <h3 class="box-title">Neighbourhood</h3>
             </div>
             <!-- /.box-header -->
             <div class="box-body">
               <div class="box-group" id="accordion">
                 <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                 <div class="panel box box-primary">
                   <div class="box-header with-border">
                     <h4 class="box-title">
                       <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                         All your things
                       </a>
                     </h4>
                     <div class="box-tools">
                       <div class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Share with Everybody (Public)
                           <span class="caret"></span>
                         </a>

                         <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Only me (Private)</a></li>
                            <li><a href="#">Neighbourhood</a></li>
                            <li><a href="#">Everybody (Public)</a></li>
                         </ul>
                        </div>
                     </div>
                   </div>
                   <div id="collapseOne" class="panel-collapse collapse in">
                     <div class="box-body box-bg-grey">
                       <div class="row">
                         <div class="col-md-4">
                           <div class="info-box">
                             <span class="info-box-icon bg-aqua"><i class="fa fa-cubes"></i></span>
                             <div class="info-box-content">
                               <span class="info-box-text">ACME ElectroMeter #1</span>
                               <span class="info-box-description">Room 1.001</span>
                             </div>
                           </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-cubes"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">ACME ElectroMeter #2</span>
                              <span class="info-box-description">Room 1.002</span>
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-cubes"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">ACME ElectroMeter #3</span>
                              <span class="info-box-description">Room 1.003</span>
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-cubes"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">ACME ElectroMeter #4</span>
                              <span class="info-box-description">Room 1.004</span>
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-cubes"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">ACME ElectroMeter #5</span>
                              <span class="info-box-description">Room 1.005</span>
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-cubes"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">ACME ElectroMeter #6</span>
                              <span class="info-box-description">Room 1.006</span>
                            </div>
                          </div>
                         </div>
                       </div>
                     </div>
                     <div class="box-footer clear-fix">
                       <ul class="pagination pagination-sm no-margin pull-right">
                         <li><a href="#">«</a></li>
                         <li><a href="#">1</a></li>
                         <li><a href="#">2</a></li>
                         <li><a href="#">»</a></li>
                       </ul>
                     </div>
                   </div>

                 </div>
                 <div class="panel box box-danger">
                   <div class="box-header with-border">
                     <h4 class="box-title">
                       <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                         Things in Jege's alley
                       </a>
                     </h4>
                     <div class="box-tools">
                       <div class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Share with Everybody (Public)
                           <span class="caret"></span>
                         </a>

                         <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Only me (Private)</a></li>
                            <li><a href="#">Neighbourhood</a></li>
                            <li><a href="#">Everybody (Public)</a></li>
                         </ul>
                        </div>
                     </div>
                   </div>

                   <div id="collapseTwo" class="panel-collapse collapse">
                     <div class="box-body box-bg-grey">
                       <div class="row">
                         <div class="col-md-4">
                           <div class="info-box">
                             <span class="info-box-icon bg-aqua"><i class="fa fa-cubes"></i></span>
                             <div class="info-box-content">
                               <span class="info-box-text">ACME ElectroMeter #1</span>
                               <span class="info-box-description">Room 1.001</span>
                             </div>
                           </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-cubes"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">ACME ElectroMeter #2</span>
                              <span class="info-box-description">Room 1.002</span>
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-cubes"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">ACME ElectroMeter #3</span>
                              <span class="info-box-description">Room 1.003</span>
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-cubes"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">ACME ElectroMeter #4</span>
                              <span class="info-box-description">Room 1.004</span>
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-cubes"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">ACME ElectroMeter #5</span>
                              <span class="info-box-description">Room 1.005</span>
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-cubes"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">ACME ElectroMeter #6</span>
                              <span class="info-box-description">Room 1.006</span>
                            </div>
                          </div>
                         </div>
                       </div>

                     </div>
                     <div class="box-footer clear-fix">
                       <ul class="pagination pagination-sm no-margin pull-right">
                         <li><a href="#">«</a></li>
                         <li><a href="#">1</a></li>
                         <li><a href="#">2</a></li>
                         <li><a href="#">»</a></li>
                       </ul>
                     </div>
                   </div>
                 </div>
                 <div class="panel box box-success">
                   <div class="box-header with-border">
                     <h4 class="box-title">
                       <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                         Things in Three towers
                       </a>
                     </h4>
                     <div class="box-tools">
                       <div class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Share with Everybody (Public)
                           <span class="caret"></span>
                         </a>

                         <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Only me (Private)</a></li>
                            <li><a href="#">Neighbourhood</a></li>
                            <li><a href="#">Everybody (Public)</a></li>
                         </ul>
                        </div>
                     </div>
                   </div>
                   <div id="collapseThree" class="panel-collapse collapse">
                     <div class="box-body box-bg-grey">
                       <div class="row">
                         <div class="col-md-4">
                           <div class="info-box">
                             <span class="info-box-icon bg-aqua"><i class="fa fa-cubes"></i></span>
                             <div class="info-box-content">
                               <span class="info-box-text">ACME ElectroMeter #1</span>
                               <span class="info-box-description">Room 1.001</span>
                             </div>
                           </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-cubes"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">ACME ElectroMeter #2</span>
                              <span class="info-box-description">Room 1.002</span>
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-cubes"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">ACME ElectroMeter #3</span>
                              <span class="info-box-description">Room 1.003</span>
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-cubes"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">ACME ElectroMeter #4</span>
                              <span class="info-box-description">Room 1.004</span>
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-cubes"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">ACME ElectroMeter #5</span>
                              <span class="info-box-description">Room 1.005</span>
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-cubes"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">ACME ElectroMeter #6</span>
                              <span class="info-box-description">Room 1.006</span>
                            </div>
                          </div>
                         </div>
                       </div>

                     </div>
                     <div class="box-footer clear-fix">
                       <ul class="pagination pagination-sm no-margin pull-right">
                         <li><a href="#">«</a></li>
                         <li><a href="#">1</a></li>
                         <li><a href="#">2</a></li>
                         <li><a href="#">»</a></li>
                       </ul>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
             <!-- /.box-body -->
           </div>
           <!-- /.box -->
        </div>
      </div>
</section>
