<section class="content-header">
  <a ui-sref="root.main.mydevices" ng-click="allDevices()"><h1>My devices</h1><a/>
</section>


<section class="content">
      <div class="row" style="width: 100%">
        <div class="coll-md-1" ng-hide="loaded" style="margin: auto; width:60%">
          <i class="fa fa-refresh fa-spin fa-4x" style="text-align: center; display: block"/>
        </div>

        <div class="coll-md-1">
          <a class="pull-right btn-sm btn-info edit_profile" style="margin-left: 5px"><b>Trigger Discovery</b></a>
        </div>

        <div class="col-md-12" ng-show="loaded">

             <!-- /.box-header -->
             <div class="box-body">
               <div class="box-group" id="accordion">
                 <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                 <div class="panel box-bg-dark-grey box-warning">
                   <div class="box-header with-border">
                     <h4 class="box-title">
                       <!-- <a ng-click="allDevices()" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> -->
                         {{note}}
                       <!-- </a> -->
                     </h4>
                     <div class="box-tools">
                       <div class="dropdown">
                         <a ui-sref="root.main.mydevices" class="dropdown-toggle" data-toggle="dropdown">See only
                           <span class="caret"></span>
                         </a>

                         <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a ng-click="privateDevices()" ui-sref="root.main.mydevices">Private (Only me)</a></li>
                            <li><a ng-click="friendDevices()" ui-sref="root.main.mydevices">Visible for partners</a></li>
                            <li><a ng-click="publicDevices()" ui-sref="root.main.mydevices">Public visibility</a></li>
                            <li><a ng-click="allDevices()" ui-sref="root.main.mydevices">All my devices</a></li>
                         </ul>
                        </div>
                     </div>
                   </div>

                   <div id="collapseThree" class="panel-collapse collapse in">


                       <div class="row">

                         <div ng-show="noDevices" >
                            <h2 style="margin-left:20px;" >No devices to show.</h2>
                         </div>

                       <div ng-repeat="device in devices | customMyDevs:filterTerm" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

                         <div class="box box-widget widget-user-2">

                           <div style="z-index: -2" class="widget-user-header2 bg-yellow">

                             <div class="round">
                               <img style="cursor: pointer" onmouseover="" ui-sref="root.main.deviceProfile.whoSee({deviceId: device._id})" ng-src="{{device.avatar}}" alt="Device Avatar">
                            </div>

                           <div class="tooltip2" id="circle_green" style="cursor:default"> &nbsp; &nbsp; &nbsp;
                             <span class=" tooltiptext2" > Data Access </span>
                           </div>
                           <h3 class="widget-user-username2"><a style="color: #FFF" href="" ui-sref="root.main.deviceProfile.whoSee({deviceId: device._id})">{{device.name}}</a></h3>
                           <h5 class="widget-user-desc2">{{device.accessLevelCaption}}</h5>
                           <h5 class="widget-user-desc2">{{device.info.location}}</h5>

                            </div>

                            <!-- <div ng-show="device.isRequested" class="widget-user-footer-moreinfo2">
                              <button  ng-click="acceptDataRequest(device._id)" type="button" class="btn btn-success btn-xs"><i class="fa fa-check"></i>&nbsp;Approve</button>
                              <button  ng-click="rejectDataRequest(device._id)" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i>&nbsp;Reject</button>
                            </div> -->

                            <div class="widget-user-footer-moreinfo3" ng-show="device.accessLevel === 1">
                            <span  ><i href="/#" class="fa fa-bar-chart fa-1x" > </i> <strong> Device is private </strong> </span>
                            </div>

                            <div class="widget-user-footer-moreinfo3" ng-show="device.accessLevel === 2 || device.accessLevel === 5">
                            <span  ><i href="/#" class="fa fa-bar-chart fa-1x" > </i> <strong> Metadata accessible</strong> </span>
                            </div>

                            <div class="widget-user-footer-moreinfo3" ng-show="device.accessLevel === 3 || device.accessLevel === 6">
                            <span  ><i href="/#" class="fa fa-bar-chart fa-1x" > </i> <strong> Under Request </strong> </span>
                            </div>

                            <div class="widget-user-footer-moreinfo3" ng-show="device.accessLevel === 4 || device.accessLevel === 7">
                            <span  ><i href="/#" class="fa fa-bar-chart fa-1x" > </i> <strong>Access for friends</strong></span>
                            </div>

                            <div class="widget-user-footer-moreinfo3" ng-show="device.accessLevel === 8">
                            <span  ><i href="/#" class="fa fa-bar-chart fa-1x" > </i> <strong> Device is public </strong> </span>
                            </div>

                            <a href="" class="widget-user-footer-moreinfo" ui-sref="root.main.deviceProfile.whoSee({deviceId: device._id})">More info <i class="fa fa-arrow-circle-right"></i></a>
                         </div>

                       </div>

                     </div>

                   </div>

                 </div>

               </div>

             </div>

           </div>

         </div>

</section>
