<section class="content-header">
  <h1>My devices</h1>
</section>


<section class="content">
      <div class="row" style="width: 100%">
        <div class="coll-md-1" ng-hide="loaded" style="margin: auto; width:60%">
          <i class="fa fa-refresh fa-spin fa-4x" style="text-align: center; display: block"/>
        </div>

        <div class="col-md-12" ng-show="loaded">
          <!-- <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Share with
              <span class="caret"></span>
            </a>

            <ul class="dropdown-menu" role="menu">
               <li><a href="#">Only me (Private)</a></li>
               <li><a href="#">Neighbourhood</a></li>
               <li><a href="#">Everybody (Public)</a></li>
            </ul>
           </div> -->



           <!-- <div class="box box-solid">                             toto bolo povodne-->



             <!-- <div class="box-header with-border">
               <h3 class="box-title">...</h3>
             </div> -->

             <!-- /.box-header -->
             <div class="box-body">
               <div class="box-group" id="accordion">
                 <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                 <div class="panel box-bg-dark-grey box-warning">
                   <div class="box-header with-border">
                     <h4 class="box-title">
                       <a ng-click="allDevices()" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                         My devices
                       </a>
                     </h4>
                     <div class="box-tools">
                       <div class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">See only
                           <span class="caret"></span>
                         </a>

                         <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a ng-click="privateDevices()" href="#">Private (Only me)</a></li>
                            <li><a ng-click="metaDevices()" href="#">Metadata shared with friends</a></li>
                            <li><a ng-click="friendDevices()" href="#">Shared with my friends</a></li>
                            <li><a ng-click="publicDevices()" href="#">Public (Everybody)</a></li>
                         </ul>
                        </div>
                     </div>
                   </div>
                   <div id="collapseThree" class="panel-collapse collapse in">

                     <!-- <div class="box-body box-bg-grey">                        toto bolo povodne-->

                       <div class="row">

                         <!-- <ul class="phones">
                                 <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail">
                                   <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
                                   <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
                                   <p>{{phone.snippet}}</p>
                                 </li>
                               </ul> -->

                         <div ng-show="showAllDevices" ng-repeat="device in devices | filter: searchFilter" class="col-md-4">
                           <!-- <div class="info-box"> -->

                           <div class="box box-widget widget-user-2">

                           <!-- <span class="info-box-icon bg-{{device.color}}"><img src={{device.avatar}}></img></span> -->

                           <!-- <div class="info-box-content"> -->

                             <div style="z-index: -2" class="widget-user-header2 bg-yellow">

                               <div class="round">
                                 <img ng-src="{{device.avatar}}" alt="Company Avatar">
                               </div>
                             <!-- <span class="info-box-icon bg-aqua"><img src="/app/img/tap_water2.png"></img></span> -->

                               <h3 class="widget-user-username2">{{device.name}}</h3>
                               <h5 class="widget-user-desc2">{{device.electricity.serial_number}}</h5>
                               <h5 class="widget-user-desc2">{{device.electricity.location}}</h5>

                               <div style="z-index: 3"class="btn-group btn-block statusDev" ng-show="device.canAnswer">
                                 <button type="button" class="btn col-lg-10 btn-success " >  <!-- ng-click="acceptDataRequest(device._id)" -->
                                   <i class="fa fa-check-circle-o"></i>&nbsp;<b>Data request from {{device.accessRequestFrom}}</b></button>
                                 <button type="button" class="btn col-lg-2 btn-success dropdown-toggle" data-toggle="dropdown">
                                   <span class="caret"></span>
                                   <span class="sr-only">Toggle Dropdown</span>
                                 </button>
                                 <ul class="dropdown-menu" role="menu">
                                   <li><a ng-click="acceptDataRequest(device._id)"><i class="fa fa-check-circle-o"></i>&nbsp;Approve</a></li>
                                   <li><a ng-click="rejectDataRequest(device._id)"><i class="fa fa-times-circle-o"></i>&nbsp;Reject</a></li>
                                 </ul>
                               </div>

                               <!-- <div ng-show="interruptConnection" class="btn-group-justified">        //treba dokodit
                               <div class="btn-group-sm btn-block loc_a ">
                                 <button type="button" class="btn col-lg-10 btn-default ">

                                    <i class="fa fa-bar-chart fa-lg"></i><i class="fa fa-check fa-lg"></i>&nbsp;Active connection</button>

                                 <button type="button" class="btn col-lg-2 btn-default dropdown-toggle" data-toggle="dropdown">
                                   <span class="caret"></span>
                                   <span class="sr-only">Toggle Dropdown</span>
                                 </button>
                                 <ul class="dropdown-menu dropdown-menu-right" role="menu">     "right"pridane
                                    <li><a ng-click="cancelAccess1()"><i class="fa fa-chain-broken fa-lg"></i>&nbsp;Interrupt connection</a></li>
                                 </ul>
                               </div>
                               </div>  -->




                               <!-- <p class="ratings">
                                 <a href="#"><span class="fa fa-square-o"></span></a>
                                 <a href="#"><span class="fa fa-square-o"></span></a>
                                 <a href="#"><span class="fa fa-square-o"></span></a>
                                 <a href="#"><span class="fa fa-square-o"></span></a>
                                 <a href="#"><span class="fa fa-square-o"></span></a>
                               </p> -->
                             </div>
                             <a href="" class="widget-user-footer-moreinfo" ui-sref="root.main.companyProfile.friends({companyAccountId: result._id})">More info <i class="fa fa-arrow-circle-right"></i></a>
                           </div>
                         </div>

                         <div ng-show="showPrivateDevices" ng-repeat="device in devices | filter: searchFilter" class="col-md-4">
                           <!-- <div class="info-box"> -->
                           <div class="box box-widget widget-user-2">

                             <div style="z-index: -2" class="widget-user-header2 bg-yellow">

                               <div class="round">
                                 <img ng-src="{{device.avatar}}" alt="Company Avatar">
                               </div>

                               <!-- <span class="info-box-icon bg-{{device.color}}"><img src={{device.avatar}}></img></span> -->
                             <!-- <span class="info-box-icon bg-aqua"><img src="/app/img/tap_water2.png"></img></span> -->

                             <!-- <div class="info-box-content"> -->

                             <h3 class="widget-user-username2">{{device.name}}</h3>
                             <h5 class="widget-user-desc2">{{device.electricity.serial_number}}</h5>
                             <h5 class="widget-user-desc2">{{device.electricity.location}}</h5>

                               <div class="btn-group btn-block statusDev" ng-show="device.canAnswer">
                                 <button type="button" class="btn col-lg-10 btn-success " >  <!-- ng-click="acceptDataRequest(device._id)" -->
                                   <i class="fa fa-check-circle-o"></i>&nbsp;<b>Data request from {{device.accessRequestFrom}}</b></button>
                                 <button type="button" class="btn col-lg-2 btn-success dropdown-toggle" data-toggle="dropdown">
                                   <span class="caret"></span>
                                   <span class="sr-only">Toggle Dropdown</span>
                                 </button>
                                 <ul class="dropdown-menu" role="menu">
                                   <li><a ng-click="acceptDataRequest(device._id)"><i class="fa fa-check-circle-o"></i>&nbsp;Approve</a></li>
                                   <li><a ng-click="rejectDataRequest(device._id)"><i class="fa fa-times-circle-o"></i>&nbsp;Reject</a></li>
                                 </ul>
                               </div>
                              </div>
                              <a href="" class="widget-user-footer-moreinfo" ui-sref="root.main.companyProfile.friends({companyAccountId: result._id})">More info <i class="fa fa-arrow-circle-right"></i></a>
                           </div>



                         </div>

                         <div ng-show="showMetaDevices" ng-repeat="device in devices | filter: searchFilter" class="col-md-4">
                           <!-- <div class="info-box"> -->

                           <div class="box box-widget widget-user-2">

                             <div style="z-index: -2" class="widget-user-header2 bg-yellow">

                               <div class="round">
                                 <img ng-src="{{device.avatar}}" alt="Company Avatar">
                               </div>

                               <!-- <span class="info-box-icon bg-{{device.color}}"><img src={{device.avatar}}></img></span> -->

                             <!-- <span class="info-box-icon bg-aqua"><img src="/app/img/tap_water2.png"></img></span> -->
                             <!-- <div class="info-box-content"> -->

                             <h3 class="widget-user-username2">{{device.name}}</h3>
                             <h5 class="widget-user-desc2">{{device.electricity.serial_number}}</h5>
                             <h5 class="widget-user-desc2">{{device.electricity.location}}</h5>

                               <div style="z-index: 3" class="btn-group btn-block statusDev" ng-show="device.canAnswer">
                                 <button type="button" class="btn col-lg-10 btn-success " >  <!-- ng-click="acceptDataRequest(device._id)" -->
                                   <i class="fa fa-check-circle-o"></i>&nbsp;<b>Data request from {{device.accessRequestFrom}}</b></button>
                                 <button type="button" class="btn col-lg-2 btn-success dropdown-toggle" data-toggle="dropdown">
                                   <span class="caret"></span>
                                   <span class="sr-only">Toggle Dropdown</span>
                                 </button>
                                 <ul class="dropdown-menu" role="menu">
                                   <li><a ng-click="acceptDataRequest(device._id)"><i class="fa fa-check-circle-o"></i>&nbsp;Approve</a></li>
                                   <li><a ng-click="rejectDataRequest(device._id)"><i class="fa fa-times-circle-o"></i>&nbsp;Reject</a></li>
                                 </ul>
                               </div>

                             </div>
                             <a href="" class="widget-user-footer-moreinfo" ui-sref="root.main.companyProfile.friends({companyAccountId: result._id})">More info <i class="fa fa-arrow-circle-right"></i></a>
                           </div>
                         </div>

                         <div ng-show="showFriendDevices" ng-repeat="device in devices | filter: searchFilter" class="col-md-4">
                           <div class="box box-widget widget-user-2">

                             <div style="z-index: -2" class="widget-user-header2 bg-yellow">

                               <div class="round">
                                 <img ng-src="{{device.avatar}}" alt="Company Avatar">
                               </div>
                           <!-- <div class="info-box"> -->
                               <!-- <span class="info-box-icon bg-{{device.color}}"><img src={{device.avatar}}></img></span> -->

                             <!-- <span class="info-box-icon bg-aqua"><img src="/app/img/tap_water2.png"></img></span> -->
                             <!-- <div class="info-box-content"> -->

                             <h3 class="widget-user-username2">{{device.name}}</h3>
                             <h5 class="widget-user-desc2">{{device.electricity.serial_number}}</h5>
                             <h5 class="widget-user-desc2">{{device.electricity.location}}</h5>

                               <div class="btn-group btn-block statusDev" ng-show="device.canAnswer">
                                 <button type="button" class="btn col-lg-10 btn-success " >  <!-- ng-click="acceptDataRequest(device._id)" -->
                                   <i class="fa fa-check-circle-o"></i>&nbsp;<b>Data request from {{device.accessRequestFrom}}</b></button>
                                 <button type="button" class="btn col-lg-2 btn-success dropdown-toggle" data-toggle="dropdown">
                                   <span class="caret"></span>
                                   <span class="sr-only">Toggle Dropdown</span>
                                 </button>
                                 <ul class="dropdown-menu" role="menu">
                                   <li><a ng-click="acceptDataRequest(device._id)"><i class="fa fa-check-circle-o"></i>&nbsp;Approve</a></li>
                                   <li><a ng-click="rejectDataRequest(device._id)"><i class="fa fa-times-circle-o"></i>&nbsp;Reject</a></li>
                                 </ul>
                               </div>

                             </div>
                             <a href="" class="widget-user-footer-moreinfo" ui-sref="root.main.companyProfile.friends({companyAccountId: result._id})">More info <i class="fa fa-arrow-circle-right"></i></a>
                           </div>
                         </div>

                         <div ng-show="showPublicDevices" ng-repeat="device in devices | filter: searchFilter" class="col-md-4">
                           <div class="box box-widget widget-user-2">

                             <div style="z-index: -2" class="widget-user-header2 bg-yellow">

                               <div class="round">
                                 <img ng-src="{{device.avatar}}" alt="Company Avatar">
                               </div>
                           <!-- <div class="info-box"> -->
                               <!-- <span class="info-box-icon bg-{{device.color}}"><img src={{device.avatar}}></img></span> -->
                             <!-- <span class="info-box-icon bg-aqua"><img src="/app/img/tap_water2.png"></img></span> -->
                             <!-- <div class="info-box-content"> -->
                             <h3 class="widget-user-username2">{{device.name}}</h3>
                             <h5 class="widget-user-desc2">{{device.electricity.serial_number}}</h5>
                             <h5 class="widget-user-desc2">{{device.electricity.location}}</h5>

                               <div class="btn-group btn-block statusDev" ng-show="device.canAnswer">
                                 <button type="button" class="btn col-lg-10 btn-success " >  <!-- ng-click="acceptDataRequest(device._id)" -->
                                   <i class="fa fa-check-circle-o"></i>&nbsp;<b>Data request from {{device.accessRequestFrom}}</b></button>
                                 <button type="button" class="btn col-lg-2 btn-success dropdown-toggle" data-toggle="dropdown">
                                   <span class="caret"></span>
                                   <span class="sr-only">Toggle Dropdown</span>
                                 </button>
                                 <ul class="dropdown-menu" role="menu">
                                   <li><a ng-click="acceptDataRequest(device._id)"><i class="fa fa-check-circle-o"></i>&nbsp;Approve</a></li>
                                   <li><a ng-click="rejectDataRequest(device._id)"><i class="fa fa-times-circle-o"></i>&nbsp;Reject</a></li>
                                 </ul>
                               </div>

                             </div>
                             <a href="" class="widget-user-footer-moreinfo" ui-sref="root.main.companyProfile.friends({companyAccountId: result._id})">More info <i class="fa fa-arrow-circle-right"></i></a>
                           </div>
                         </div>

                       </div>

                     <!-- </div>                            toto bolo povodne-->


                     <div class="bottomLeft">
                       <h5 class="box-title">
                         <a >
                           Make listed devices to be:
                         </a>
                       </h5>
                     <form action="http://www.cs.tut.fi/cgi-bin/run/~jkorpela/checkcombo.pl" ><div>     <!--.asp?-->
                       <select name="menu" class="box-title">
                         <option value="1">Visible only for me (Private)</option>
                         <option value="2">Seen their metadata by friends</option>
                         <option value="3">Seen by everyone (Public)</option>
                       </select>
                       <div ><input type="submit" value="Ok" class="btn-xs btn-primary"></div>
                     </form>
                    </div>
                    </div>


                     <div class="box-footer clearfix pull-right">
                       <!-- <h4 class="box-title">
                         <a >
                           Make listed devices to be:
                         </a>
                       </h4> -->
                        <!-- <form action="">
                            <input type="radio" name="gender" > Visible only for me (Private) &nbsp;
                            <input type="radio" name="gender" > Seen their metadata by friends &nbsp;
                            <input type="radio" name="gender" > Seen by everyone (Public)
                        </form> -->

                        <!-- <input type="text" list="browsers" class="pull-right"></input>
                        <datalist id="browsers">
                          <option value="Internet Explorer">
                          <option value="Firefox">
                          <option value="Chrome">
                          <option value="Opera">
                          <option value="Safari">
                        </datalist> -->

                        <!-- <form action="http://www.cs.tut.fi/cgi-bin/run/~jkorpela/checkcombo.pl" class="pull-right"><div>
                          <select name="menu">
                            <option value="0" selected>(please select:)</option>
                            <option value="1">one</option>
                            <option value="2">two</option>
                            <option value="3">three</option>
                            <option value="other">other, please specify:</option>
                          </select>
                          <div><input type="submit" value="Ok"></div>
                        </form> -->

                       <ul class="pagination pagination-sm no-margin">
                         <li><a href="#">«</a></li>
                         <li><a href="#">1</a></li>
                         <li><a href="#">2</a></li>
                         <li><a href="#">»</a></li>
                       </ul>
                     </div>
                   </div>

                 </div>

               </div>
             </div>
             <!-- /.box-body -->

           <!-- </div>                                                toto bolo povodne-->

           <!-- /.box -->
        </div>
      </div>
</section>
