<section class="content-header">
    <h1>Node detail</h1>
</section>

<!-- MODIFY TEMPLATE -->
<section class="content">
<div ng-show="modify" class="box box-primary" style="width:70%">
  <div class="box-header with-border">
    <h3 class="box-title">{{myNode}}</h3>
  </div>

  <form name="form" role="form" ng-submit="submitNode()">
    <div class="box-body">
      <div class="form-group">
        <label>Node name</label>
        <input class="form-control" ng-model="nName" placeholder="Enter name" required>
      </div>
      <!-- <div class="form-group">
        <label>URI</label>
        <input class="form-control" ng-model="nUri" placeholder="Enter URI" required>
      </div> -->

      <div class="form-group">
        <label>Agent type</label>
        <div class="form-group">
          <div class="radio">
            <label>
              <input name="optionsRadios" ng-model="nAgentType" value="generic.adapter.vicinity.eu" type="radio">
              Vicinity agent
            </label>
          </div>
          <div class="radio">
            <label>
              <input name="optionsRadios" ng-model="nAgentType" value="generic.adapter.sharq.eu" type="radio">
              Sharq adapter
            </label>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" ng-model="nPass" placeholder="Enter password" required>
      </div>

      <div class="form-group">
        <label>Repeat Password</label>
        <input type="password" class="form-control" ng-model="nPass2" placeholder="Repeat password" required/>
        <span class="help-block" style="color: green" ng-show="nPass===nPass2 && nPass2"><i class="fa fa-check"></i> Passwords match!</span>
        <span class="help-block" style="color: red" ng-show="nPass!==nPass2 && nPass2"><i class="fa fa-times"></i> Passwords do not match</span>
      </div>

      </div>

  <div class="box-footer">
    <div class="col-xs-6">
      <button type="submit" ng-disabled="nPass!==nPass2 || !nPass2 || !nPass" class="btn btn-primary">Submit</button>
    </div>
    <div class="col-xs-6">
      <a href="" ng-click="backToList()" class="pull-right">Cancel</a>
    </div>
  </div>
  </form>
</div>

<!-- READ ONLY TEMPLATE-->

<div ng-show="!modify" class="box box-primary" style="width:70%">
  <div class="box-header with-border">
    <h3 class="box-title">{{myNode}}</h3>
  </div>

    <div class="box-body">
      <div class="form-group">
        <label>Node name</label>
        <p>{{nName}}</p>
      </div>
      <!-- <div class="form-group">
        <label>URI</label>
        <p>{{nUri}}</p>
      </div>
      <div class="form-group">
        <label>Agent</label>
        <p>{{nAgent}}</p>
      </div> -->
      <!-- <div class="form-group">
        <label>Password</label>
        <p>{{nPass}}</p>
      </div> -->
      <div class="form-group">
        <label>ADID</label>
        <p>{{nId}}</p>
      </div>
      <div class="form-group">
        <label>Type</label>
        <p>{{nType}}</p>
      </div>
    </div>

  <div class="box-footer">
    <div class="col-xs-6">
      <button ng-click="toModify()" class="btn btn-primary">Modify</button>
    </div>
    <div class="col-xs-6">
      <a href="" ng-click="backToList()" class="pull-right">Cancel</a>
    </div>
  </div>
</div>
</section>
