<div class="coll-md-1" ng-hide="loadedPage" style="margin: auto; width:60%">
  <i class="fa fa-refresh fa-spin fa-4x" style="text-align: center; display: block"/>
</div>

<section ng-hide="!loadedPage">
  <span ng-show="!loaded">
    <i ng-click="onSort(false)" class="fa fa-sort-alpha-asc btn btn-default" aria-hidden="true"></i>
    <i ng-click="onSort(true)" class="fa fa-sort-alpha-desc btn btn-default" aria-hidden="true"></i>
  </span>
  <hr ng-show="!loaded">
  <div ng-if="user.id._id === selectedUser._id || editing === false && user.id.status !== 'deleted'" class="box-body box" ng-repeat="user in userAccounts | orderBy:'name':rev">
      <div class="col-sm-2">
        <a ui-sref="root.main.userProfile({userAccountId: user.id._id, companyAccountId: companyId})"><strong>{{user.id.name}}</strong></a>
      </div>
      <div class="col-sm-3">
        <p>{{user.id.email}}</p>
      </div>
      <div class="col-sm-3">
        <div ng-repeat="role in user.id.authentication.principalRoles">
          <span class="label label-success">{{role}}</span>
      </div>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-default btn-block pull-right" ng-show="!loaded" ng-click="startUpdate(user.id)">Change roles</button>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-default btn-block pull-right" ng-show="!loaded" ng-click="deleteUser(user.id)">Delete User</button>
      </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-4" ng-show="loaded">
      <select class="form-control select2 select2-hidden-accessible" multiple="" data-placeholder="Select roles" style="width: 100%" tabindex="-1" aria-hidden="true">
        <option>administrator</option>
        <option>infrastructure operator</option>
        <option>service provider</option>
        <option>device owner</option>
        <option>system integrator</option>
      </select>
    </div>
    <div class="col-sm-2" ng-show="loaded">
      <button class="btn btn-default btn-block" ng-click="updateRoles()">Update</button>
    </div>
    <div class="col-sm-2" ng-show="loaded">
      <button class="btn btn-default btn-block" ng-click="cancelChanges()">Cancel</button>
    </div>
  </div>
</section>
