<div class="coll-md-1" ng-hide="loaded" style="margin: auto; width:60%">
  <i class="fa fa-refresh fa-spin fa-4x" style="text-align: center; display: block"/>
</div>

<div class="centered" ng-show="noUsers">
  <h3 class="well">No users found...</h3>
</div>

<div class="active tab-pane" id="activity">
    <div class="row">
        <div ng-show="loaded & !noUsers" class="col-md-6 col-lg-4" ng-repeat="user in userAccounts">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2" style="cursor: pointer" onmouseover="" ui-sref="root.main.userProfile({userAccountId: user.id._id, companyAccountId: companyId})" >
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-user">
                    <div class="widget-user-image">
                        <img class="img-circle" ng-src="{{user.id.avatar}}" alt="User Avatar">
                    </div>
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username"><a style="color: #FFF" href="">{{user.id.name}}</a></h3>       <!-- {{friend.accountOf.name}}-->
                    <h5 class="widget-user-desc">{{user.id.occupation}}</h5>             <!--{{friend.accountOf.occupation}} - {{friend._id}}-->
                    <h5 class="widget-user-desc">{{user.id.email}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
