<section class="content-header">
    <h1>Organisation notifications</h1>
</section>

<div class="coll-md-1" ng-hide="loadedPage" style="margin: auto; width:60%">
  <i class="fa fa-refresh fa-spin fa-4x" style="text-align: center; display: block"/>
</div>

  <!-- /.box-header -->
<section class="content" ng-show="loadedPage">

  <div class="box-body">
    <div class="box-group" id="accordion">
      <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
      <div class="panel box-bg-dark-grey box-warning">
        <div class="box-header with-border">
          <div class="box-tools">
            <div class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">Select period
                <span class="caret"></span>
              </a>

              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                 <li><a ng-click="notificationsDays('today')">Today</a></li>
                 <li><a ng-click="notificationsDays('week')">Whole week</a></li>
                 <li><a ng-click="notificationsDays('month')">Whole month</a></li>
                 <li><a ng-click="notificationsDays('year')">Whole year</a></li>
              </ul>
             </div>
          </div>
        </div>
      </div>
    </div>

  <!-- row -->
  <div class="row" ng-if="dates.length === 0">
    <h3>There are no notifications in the selected period: <b>{{period}}</b></h3>
  </div>

  <div class="row" ng-if="dates.length > 0">
    <h3>Visible period: <b>{{period}}</b></h3>
    <br>
    <div class="col-md-12">
      <!-- The time line -->
      <ul class="timeline">
        <!-- timeline time label -->
        <li class="time-label" ng-repeat="d in dates">
              <span class="bg-gray">
                {{ d }}
              </span>
              <div class="timeline-item well" style="width:80%; margin-top:10px" ng-repeat="notif in notifs2" ng-if="notif.dateCaption === d">
                <span class="ciara"></span>
                  <span class="padded" > <i class="fa fa-clock-o"></i> {{notif.timeCaption}}</span>
                <hr>
                  <span class="padded" ng-show="notif.type.lastIndexOf('Request') === -1 && notif.type !== 'deviceDiscovered'"><b>{{notif.sentBy.organisation}}</b> changes status of <b>{{notif.deviceId.name}}</b></span>
                  <span class="padded" ng-show="notif.type === 'deviceDiscovered'">New devices has been discovered!</span>
                  <span class="padded" ng-show="notif.type === 'deviceRequest' && (notif.status === 'responded' || notif.status=== 'waiting')"><b>{{notif.sentBy.organisation}}</b> requests using <b>{{notif.deviceId.name}}</b></span>
                  <span class="padded" ng-show="notif.type === 'friendRequest' && (notif.status === 'responded' || notif.status=== 'waiting')"><b>{{notif.sentBy.organisation}}</b> wants to partner with you</span>
                  <span class="padded" ng-show="notif.type === 'registrationRequest'"><b>{{notif.sentByReg.companyName}}</b> wants to register in Vicinity</span>
                  <span class="padded" ng-show="notif.type === 'deviceRequest' && !(notif.status === 'responded' || notif.status=== 'waiting')"><b>{{notif.sentBy.organisation}}</b> responded our request to use <b>{{notif.deviceId.name}}</b></span>
                  <span class="padded" ng-show="notif.type === 'friendRequest' && !(notif.status === 'responded' || notif.status=== 'waiting')"><b>{{notif.sentBy.organisation}}</b> responded our partnership request</span>
                <hr>

                <div class="row">

                  <div class="centered col-xs-6">
                    <span ng-show="notif.type==='deviceRequest'"><span class="label label-default paddedSides">Device request</span></span>
                    <span ng-show="notif.type==='friendRequest'"><span class="label label-default paddedSides">Friend request</span></span>
                    <span ng-show="notif.type==='registrationRequest'"><span class="label label-default paddedSides">Registration request</span></span>
                    <span ng-show="notif.type==='deviceEnabled'"><span class="label label-default paddedSides">Device enabled</span></span>
                    <span ng-show="notif.type==='deviceDisabled'"><span class="label label-default paddedSides">Device disabled</span></span>
                    <span ng-show="notif.type==='deviceDiscovered'"><span class="label label-default paddedSides">Device discovered</span></span>
                  </div>

                  <div class="centered col-xs-6">
                    <span ng-show="notif.status==='waiting'"><span class="label label-warning paddedSides">Waiting</span></span>
                    <span ng-show="notif.status==='responded'"><span class="label label-primary paddedSides">Responded</span></span>
                    <span ng-show="notif.status==='rejected'"><span class="label label-danger paddedSides">Declined</span></span>
                    <span ng-show="notif.status==='accepted'"><span class="label label-success paddedSides">Accepted</span></span>
                  </div>

                </div>

                <hr>

                  <div class="centered" ng-show="notif.type === 'deviceRequest'">
                    <span ng-if="notif.status === 'waiting'" class="well">
                      <i ng-click="acceptDataRequest(notif.deviceId._id, notif._id)" class="fa fa-check fa-lg  fontGreen paddedSides"></i>
                      <i ng-click="rejectDataRequest(notif.deviceId._id, notif._id)" class="fa fa-close fa-lg  fontRed paddedSides"></i>
                      <a ui-sref="root.main.deviceProfile.whoSee({deviceId: notif.deviceId._id})"><i class="fa fa-search fa-lg paddedSides"></i></a>
                    </span>
                    <span ng-if="notif.status !== 'waiting'" class="well">
                      <a ui-sref="root.main.deviceProfile.whoSee({deviceId: notif.deviceId._id})"><i class="fa fa-search fa-lg "></i></a>
                    </span>
                  </div>

                  <div class="centered" ng-show="notif.type === 'friendRequest'">
                    <span ng-if="notif.status === 'waiting'" class="well">
                      <i ng-click="acceptNeighbourRequest(notif._id, notif.sentBy._id)" class="fa fa-check fa-lg fontGreen paddedSides"></i>
                      <i ng-click="rejectNeighbourRequest(notif._id, notif.sentBy._id)" class="fa fa-close fa-lg fontRed paddedSides"></i>
                      <a ui-sref="root.main.companyProfile.devices({companyAccountId: notif.sentBy._id})"><i class="fa fa-search fa-lg paddedSides"></i></a>
                    </span>
                    <span ng-if="notif.status !== 'waiting'" class="well">
                      <a ui-sref="root.main.companyProfile.devices({companyAccountId: notif.sentBy._id})"><i class="fa fa-search fa-lg"></i></a>
                    </span>
                  </div>

                  <div class="centered" ng-show="notif.type === 'registrationRequest'">
                    <span ng-if="notif.status === 'waiting'" class="well">
                      <i ng-click="acceptRegistration(notif.sentByReg._id, notif._id)" class="fa fa-check fa-lg  fontGreen paddedSides"></i>
                      <i ng-click="rejectRegistration(notif.sentByReg._id, notif._id)" class="fa fa-close fa-lg  fontRed paddedSides"></i>
                      <a ui-sref="root.main.registrationProfile.regAdmin({registrationId: reg.sentByReg._id})"><i class="fa fa-search fa-lg paddedSides"></i></a>
                    </span>
                    <span ng-if="notif.status !== 'waiting'" class="well">
                      <a ui-sref="root.main.registrationProfile.regAdmin({registrationId: reg.sentByReg._id})"><i class="fa fa-search fa-lg"></i></a>
                    </span>
                  </div>

                  <div class="centered" ng-show="notif.type.lastIndexOf('Request') === -1 && notif.type !== 'deviceDiscovered'">
                    <span class="well">
                      <a ui-sref="root.main.deviceProfile.whoSee({deviceId: notif.deviceId._id})"><i class="fa fa-search fa-lg "></i></a>
                    </span>
                  </div>

                  <div class="centered" ng-show="notif.type === 'deviceDiscovered'">
                    <span class="well">
                      <a href="/app/#!/mydevices"><i class="fa fa-search fa-lg "></i></a>
                    </span>
                  </div>

                <br>

              </div>

        </li>
        <li>
          <i class="fa fa-clock-o bg-gray"></i>
        </li>
      </ul>

<!--  OPTIONS to improve layout https://bootsnipp.com/snippets/featured/single-column-responsive-timeline
      <article class="panel panel-info panel-outline" style="width:10%">
        <div class="panel-heading icon">
            <i class="glyphicon glyphicon-info-sign"></i>
        </div>
        <div class="panel-body">
            END
        </div>
      </article> -->

    </div>
  </div>
</section>
