<section class="content-header">
  <h1>User profile</h1>
</section>


<section class="content">

  <div class="row" style="width: 100%">
    <div class="coll-md-1" ng-hide="loaded" style="margin: auto; width:60%">
      <i class="fa fa-refresh fa-spin fa-4x" style="text-align: center; display: block"/>
    </div>

    <div class="col-md-6" ng-show="loaded">

        <div id="login-wrap" class="box-body box box-primary" >

            <!-- Profile Image -->
            <!-- If not my profile, just let me see the avatar -->
            <div ng-show="!isMyProfile" style="width: 200px; text-align: center; margin: 0 auto">
              <img ng-src="{{avatar}}" class="img-circle" alt="User profile picture" style="height:200px; width:200px;  text-align: center; border: 3px solid; border-color: #d2d6de">
            </div>

            <!-- If my profile, let me modify the avatar -->
            <div ng-show="isMyProfile" id="changeAvatar" style="width: 200px; text-align: center; margin: 0 auto">
              <span style="position: absolute" >+Change avatar</span>
              <a href="" ng-click="showLoadPic()" style="cursor: pointer">
                <img id="pic" ng-src="{{avatar}}" class="img-circle" alt="User profile picture" style="height:200px; width:200px; text-align: center; border: 3px solid; border-color: #d2d6de">
              </a>
            </div>

            <input id="input1" ng-show="showInput" style="margin-left: 44%; margin-top: 10px; margin-bottom: 10px" type="file"></input>       <!-- onchange="readURL(this)" -->
            <a ng-click="cancelLoadPic()" style="margin-left: 42%" ng-show="showInput" id="editCancel1" class=" btn-sm btn-primary-bvr edit_profile"><i style="color: red" class="fa fa-times"></i>Cancel</a>
            <a ng-show="showInput" id="editUpload2" ng-click="uploadPic()" class=" btn-sm btn-primary-bvr edit_profile"><i style="color: green" class="fa fa-check"></i>Upload</a>        <!--  -->

            <!-- Main profile info, displayed under avatar -->
            <h3 style="margin-top:10px" class="profile-username text-center">{{name}}</h3>
            <p class="text-muted text-center">{{occupation}}</p>


        <!-- Starts the profile description -->

            <!-- Name  -->
            <strong><i class="fa fa fa-male margin-r-5"></i> Name</strong>
            <a id="nameButt" ng-show="isMyProfile" ng-click="changeToInput()" href="" class="pull-right btn-sm btn-primary-bvr edit_profile"><i style="color: black" class="fa fa-pencil"></i> Edit</a>
            <a id="edits2" ng-click="saveNewName()" class="pull-right btn-sm btn-primary-bvr edit_profile" style="margin-left: 5px"><i style="color: green" class="fa fa-check"></i>Save</a>
            <a id="edits1" ng-click="backToEdit()" style="margin-left: 35%" class="pull-right btn-sm btn-primary-bvr edit_profile"><i style="color: red" class="fa fa-times"></i>Cancel</a>
            <p id="myName" class="text-muted">{{name}}</p>
            <input id="editNameInput" style="display: block; margin-top: 5px; margin-left: 0px" class="style-1" type="text" ng-model="name"></input>

            <hr>

            <!-- Email -->
            <strong><i class="fa fa-at margin-r-5"></i> Email</strong>
            <p class="text-muted">{{email}}</p>

            <hr ng-show="isMyProfile">

            <!-- If my profile, let me change password -->
            <strong ng-show="isMyProfile"><i class="fa fa-unlock margin-r-5"></i> Password</strong>
            <a id="passButt" ng-show="isMyProfile" ng-click="changeToInput3()" href="" class="pull-right btn-sm btn-primary-bvr edit_profile"><i style="color: black" class="fa fa-pencil"></i> Edit</a>
            <a id="edits23" ng-click="saveNewPassport()" class="pull-right btn-sm btn-primary-bvr edit_profile" style="margin-left: 5px"><i style="color: green" class="fa fa-check"></i>Save</a>
            <a id="edits13" ng-click="backToEdit3()" style="margin-left: 35%" class="pull-right btn-sm btn-primary-bvr edit_profile"><i style="color: red" class="fa fa-times"></i>Cancel</a>
            <p id="passP" ng-show="isMyProfile" class="text-muted">{{pass}}</p>
            <input id="editPassOldInput" style="display: block; margin-top: 5px; margin-left: 0px" class="style-1" type="password" placeholder="Old password" ng-model="oldPass"></input>
            <input id="editPassNew1Input" style="display: block; margin-top: 5px; margin-left: 0px" class="style-1" type="password" placeholder="New password" ng-model="pass1"></input>
            <input id="editPassNew2Input" style="display: block; margin-top: 5px; margin-left: 0px" class="style-1" type="password" placeholder="New password again" ng-model="pass2"></input>

            <hr>

            <!-- Organisation -->
            <strong><i class="fa fa-university margin-r-5"></i> Organisation</strong>
            <p class="text-muted"><a ui-sref="root.main.companyProfile.devices({companyAccountId: orgId})">{{organisation}}</a></p>

            <hr ng-show="sameCompany">

            <!-- Roles: show if my company -->
            <strong ng-show="sameCompany"><i class="fa fa-pencil-square-o margin-r-5"></i> Roles</strong>
            <p>
              <div ng-show="sameCompany" ng-repeat="role in roles">
                <span class="label label-success">{{role}}</span>
              </div>
            </p>

            <hr>

            <!-- Occupation -->
            <strong><i class="fa fa-briefcase margin-r-5"></i> Occupation</strong>
            <a id="nameButt1" ng-show="isMyProfile" href="" ng-click="changeToInput1()" class="pull-right btn-sm btn-primary-bvr edit_profile"><i style="color: black" class="fa fa-pencil"></i>Edit</a>
            <a id="edits21" ng-click="saveNewOccupation()" class="pull-right btn-sm btn-primary-bvr edit_profile" style="margin-left: 5px"><i style="color: green" class="fa fa-check"></i>Save</a>
            <a id="edits11" ng-click="backToEdit1()" style="margin-left: 35%" class="pull-right btn-sm btn-primary-bvr edit_profile"><i style="color: red" class="fa fa-times"></i>Cancel</a>
            <p id="nameP1" class="text-muted">{{occupation}}</p>
            <input id="editOccupationInput" style="display: block; margin-top: 5px; margin-left: 0px" class="style-1" type="text" ng-model="occupation"></input>

            <hr>

            <!-- Access level-->
            <strong ng-show="isMyProfile"><i class="fa fa-eye margin-r-5"></i> Who can see?</strong>
             <a ng-show="isMyProfile" id="accessEdit" class="pull-right btn-sm btn-primary-bvr edit_profile" ng-click="changeToInputAL()"><i style="color: black" class="fa fa-pencil"></i>Edit</a>
             <a ng-click="saveNewAccess()" id="accessSave" class="pull-right btn-sm btn-primary-bvr edit_profile" style="margin-left: 5px"><i style="color: green" class="fa fa-check"></i>Save</a>
             <a ng-click="backToEditAL()" style="margin-left: 35%" id="accessCancel" class="pull-right btn-sm btn-primary-bvr edit_profile"><i style="color: red" class="fa fa-times"></i>Cancel</a>

              <p id="accessName" class="text-muted" style="display: block" ng-show="isMyProfile">
                {{accessLevelCaption}}
              </p>

              <select id="editAccessName" name="menu">
                <option value="0" selected>Change status to:</option>
                <option value="1">Only my organisation</option>
                <option value="2">Only my friends</option>
                <option value="3">Everyone can see</option>
              </select>

      </div>
    </div>
  </div>
</section>
