<section class="content-header">
    <h1>Device logs</h1>
</section>

<div class="coll-md-1" ng-hide="loadedPage" style="margin: auto; max-width:700px">
  <i class="fa fa-refresh fa-spin fa-4x" style="text-align: center; display: block"/>
</div>

<div class="coll-md-1" ng-show="loadedPage && noLogs" style="margin: auto; max-width:700px">
  <h3 class="well">No logs found...</h3>
</div>

<!-- /.box-header -->
<section class="content" ng-show="loadedPage && !noLogs">

<div class="box-body">

<div class="row">

  <div class="col-md-12">
    <!-- The time line -->
    <ul class="timeline">
      <!-- timeline time label -->
      <li class="time-label" ng-repeat="d in dates">
            <span class="bg-gray">
              {{ d }}
            </span>

            <div class="timeline-item" style="max-width:700px; margin-top:10px" ng-repeat="log in logs" ng-if="log.dateCaption === d">

              <!-- Clock -->
              <span class="time" > <i class="fa fa-clock-o"></i> {{log.timeCaption}}</span>

                <h3 class="timeline-header bg-warning">

                  <div class="inline">

                    <!-- Label eventType -->
                    <span ng-show="[1, 41, 11, 21].lastIndexOf(log.eventType) !== -1"><i class="fa fa-plus my-green"/></span>
                    <span ng-show="[2, 42, 12, 22].lastIndexOf(log.eventType) !== -1"><i class="fa fa-minus my-red"/></span>
                    <span ng-show="log.eventType===13"><i class="fa fa-user"/></span>
                    <span ng-show="log.eventType===23"><i class="fa fa-sitemap"/></span>
                    <span ng-show="[31, 54].lastIndexOf(log.eventType) !== -1"><i class="fa fa-envelope my-blue"/></span>
                    <span ng-show="[32, 34, 52, 55].lastIndexOf(log.eventType) !== -1"><i class="fa fa-times my-red"/></span>
                    <span ng-show="log.eventType===33"><i class="fa fa-user-plus my-green"/></span>
                    <span ng-show="log.eventType===35"><i class="fa fa-user-times my-red"/></span>
                    <span ng-show="log.eventType===43"><i class="fa fa-arrow-up my-green"/></span>
                    <span ng-show="log.eventType===44"><i class="fa fa-arrow-down my-red"/></span>
                    <span ng-show="log.eventType===45"><i class="fa fa-eye"/></span>
                    <span ng-show="log.eventType===51"><i class="fa fa-chain my-blue"/></span>
                    <span ng-show="log.eventType===53"><i class="fa fa-chain-broken"/></span>
                  </div>

                </h3>

                <!-- Description -->
                <span ng-show="log.eventType===41">The {{log.auxConnection.item.name}} was discovered</span>
                <span ng-show="log.eventType===42">The {{log.auxConnection.item.name}} was deleted</span>
                <span ng-show="log.eventType===43">The {{log.auxConnection.item.name}} was enabled</span>
                <span ng-show="log.eventType===44">The {{log.auxConnection.item.name}} was disabled</span>
                <span ng-show="log.eventType===45">Privacy change: {{log.description}} </span>

                <span ng-show="log.eventType===51 && log.triggeredByMe===true">You accepted the request from {{log.orgDest.organisation}} to access {{log.auxConnection.item.name}} data</span>
                <span ng-show="log.eventType===52 && log.triggeredByMe===true">You rejected the request from {{log.orgDest.organisation}} to access {{log.auxConnection.item.name}} data</span>
                <span ng-show="log.eventType===53 && log.triggeredByMe===true">You cancelled your data access to {{log.auxConnection.item.name}}</span>
                <span ng-show="log.eventType===54 && log.triggeredByMe===true"> You requested access to {{log.auxConnection.item.name}} which belongs to {{log.orgDest.organisation}}</span>
                <span ng-show="log.eventType===55 && log.triggeredByMe===true"> You cancelled your access request to {{log.auxConnection.item.name}} which belongs to {{log.orgDest.organisation}}</span>
                <span ng-show="log.eventType===51 && log.triggeredByMe===false">{{log.orgOrigin.organisation}} accepted your data access request to {{log.auxConnection.item.name}}</span>
                <span ng-show="log.eventType===52 && log.triggeredByMe===false">{{log.orgOrigin.organisation}} rejected your data access request to {{log.auxConnection.item.name}}</span>
                <span ng-show="log.eventType===53 && log.triggeredByMe===false">{{log.orgOrigin.organisation}} cancelled the connection with {{log.auxConnection.item.name}}</span>
                <span ng-show="log.eventType===54 && log.triggeredByMe===false">{{log.orgOrigin.organisation}} requests access to {{log.auxConnection.item.name}}</span>
                <span ng-show="log.eventType===55 && log.triggeredByMe===false">{{log.orgOrigin.organisation}} cancelled the access request to {{log.auxConnection.item.name}}</span>

                <br>

                <!-- Initiator -->
                <span>Action performed by <b>{{log.user}}</b></span>

                </div>
            </li>
        <li>
        <i class="fa fa-clock-o bg-gray"></i>
      </li>
    </ul>
  </div>
</div>
</div>
</section>
