<!-- TODO: Issue #6 Create view to list search results -->

<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

      <!-- Logo -->
      <a href="#/home" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>VCNIT</b>LST</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>VICINITY</b></span>
      </a>

      <!-- Header Navbar -->
      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->


        <div class="navbar-custom-menu">

          <!-- <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form> -->

          <form action="" method="get" class="navbar-form navbar-left bvr-navbar-form">
            <div id="ramik"class="input-group">
              <input id="bvr-search-input" type="text" name="q" class="form-control" placeholder="Search..." ng-model="searchTerm">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat" ui-sref="root.main.searchresults({searchTerm: searchTerm})" ><i class="fa fa-search"></i>
                </button>
              </span>
            </div>

          </form>
          <!-- <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search..." ng-model="searchTerm">
                  <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat" ui-sref="root.main.searchresults({searchTerm: searchTerm})" ><i class="fa fa-search"></i>
                    </button>
                  </span>
          </div> -->

          <ul class="nav navbar-nav">
            <li class="dropdown messages-menu" ui-view="messagesMenuView"/>
            <!-- Notifications Menu -->
            <li class="dropdown notifications-menu" ui-view="notificationsMenuView">
            </li>
            <!-- Tasks Menu -->
            <li class="dropdown tasks-menu" ui-view="taskMenuView">
            </li>
            <!-- User Account Menu -->
            <li class="dropdown user user-menu" ui-view="userAccountView">
            </li>
            <!-- Control Sidebar Toggle Button -->
            <li>
              <a href="" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li>
          </ul>

        </div>
      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">


        <!-- search form (Optional) -->
        <form action="" method="get" class="sidebar-form">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search..." ng-model="searchTerm">
                <span class="input-group-btn">
                  <button type="submit" name="search" id="search-btn" class="btn btn-flat" ui-sref="root.main.searchresults({searchTerm: searchTerm})" ><i class="fa fa-search"></i>
                  </button>
                </span>
          </div>
        </form>
        <!-- /.search form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
          <li class="header">HEADER</li>
          <!-- Optionally, you can add icons to the links -->
          <li class="active"><a href="#/drivers"><i class="fa fa-link"></i> <span>Drivers</span></a></li>
          <li><a href="#/parking_slots"><i class="fa fa-link"></i> <span>Parking slots</span></a></li>
          <li class="treeview">
            <a href=""><i class="fa fa-link"></i> <span>Sensors</span> <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
              <li><a href="#/sensors_temperature">Temperature</a></li>
              <li><a href="#/sensors_electro">Electrometers</a></li>
              <li><a href="#/sensors_heating">Heatingmeters</a></li>
            </ul>
          </li>
        </ul>
        <!-- /.sidebar-menu -->
      </section>
      <!-- /.sidebar -->
    </aside>
    <div class="content-wrapper" ui-view="mainContentView">
    </div>
    <footer class="main-footer">
      <!-- To the right -->
      <div class="pull-right hidden-xs">
        v0.1
      </div>
      <!-- Default to the left -->
      <strong>Copyright &copy; 2015 <a href="http://www.bavenir.eu" target="_blank">bAvenir, s.r.o </a>.</strong> All rights reserved.
    </footer>
  </div>
