<section class="content-header">
    <h1>Organisation notifications</h1>
</section>

<div class="coll-md-1" ng-hide="loadedPage" style="margin: auto; max-width:700px">
  <i class="fa fa-refresh fa-spin fa-4x" style="text-align: center; display: block"/>
</div>

  <!-- /.box-header -->
<section class="content" ng-show="loadedPage">

  <div class="box-body">

    <div class="box-group" id="accordion" style="max-width:800px">
      <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
      <div class="panel box-bg-dark-grey box-warning">
        <div class="box-header with-border">
          <div class="box-tools">
            <div class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">Select period
                <span class="caret"></span>
              </a>

              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                 <li><a ng-click="notificationsDays('today')">Today</a></li>
                 <li><a ng-click="notificationsDays('week')">Whole week</a></li>
                 <li><a ng-click="notificationsDays('month')">Whole month</a></li>
                 <li><a ng-click="notificationsDays('year')">Whole year</a></li>
              </ul>
             </div>
          </div>
        </div>
      </div>
    </div>

  <!-- row -->
  <div class="row" ng-if="dates.length === 0">
    <h3>There are no notifications in the selected period: <b>{{period}}</b></h3>
  </div>

  <div class="row" ng-if="dates.length > 0">
    <h3>Visible period: <b>{{period}}</b></h3>
    <br>
    <div class="col-md-12">
      <!-- The time line -->
      <ul class="timeline">
        <!-- timeline time label -->
        <li class="time-label" ng-repeat="d in dates">
              <span class="bg-gray">
                {{ d }}
              </span>

              <!-- <i class="fa fa-envelope bg-blue"></i> -->

              <div class="timeline-item" style="max-width:700px; margin-top:10px" ng-repeat="notif in notifs2" ng-if="notif.dateCaption === d">

                <!-- Clock -->
                <span class="time" > <i class="fa fa-clock-o"></i> {{notif.timeCaption}}</span>

                  <h3 class="timeline-header">

                    <div class="inline">
                      <!-- Label type -->
                      <span ng-show="notif.type===1"><span class="label label-default paddedSides">Registration request</span></span>
                      <span ng-show="notif.type===11"><span class="label label-default paddedSides">Item enabled</span></span>
                      <span ng-show="notif.type===12"><span class="label label-default paddedSides">Item disabled</span></span>
                      <span ng-show="notif.type===13"><span class="label label-default paddedSides">Item discovered</span></span>
                      <span ng-show="notif.type===21"><span class="label label-default paddedSides">Item connection request</span></span>
                      <span ng-show="notif.type===22"><span class="label label-default paddedSides">Item connection rejected</span></span>
                      <span ng-show="notif.type===23"><span class="label label-default paddedSides">Item connection canceled</span></span>
                      <span ng-show="notif.type===24"><span class="label label-default paddedSides">Item connection accepted</span></span>
                      <span ng-show="notif.type===31"><span class="label label-default paddedSides">Partnership request</span></span>
                      <span ng-show="notif.type===32"><span class="label label-default paddedSides">Partnership cancelled</span></span>
                      <span ng-show="notif.type===33"><span class="label label-default paddedSides">Partnership rejected</span></span>
                      <span ng-show="notif.type===34"><span class="label label-default paddedSides">Partnership accepted</span></span>

                      <!-- Label status -->
                      <span ng-show="notif.status==='waiting'"><span class="label label-warning paddedSides">Waiting</span></span>
                      <span ng-show="notif.status==='responded'"><span class="label label-primary paddedSides">Responded</span></span>
                      <span ng-show="notif.status==='info'"><span class="label label-primary paddedSides">Info</span></span>
                      <span ng-show="notif.status==='rejected'"><span class="label label-danger paddedSides">Declined</span></span>
                      <span ng-show="notif.status==='accepted'"><span class="label label-success paddedSides">Accepted</span></span>
                    </div>

                  </h3>

                  <!-- Description -->
                  <span class="padded" ng-show="notif.type === 1"><b>{{notif.sentByReg.companyName}}</b> wants to register in Vicinity</span>
                  <span class="padded" ng-show="notif.type === 13">New device(s) have been discovered!</span>
                  <span class="padded" ng-show="notif.type === 11">{{notif.itemId.name}} has been enabled.</span>
                  <span class="padded" ng-show="notif.type === 12">{{notif.itemId.name}} has been disabled.</span>
                  <span class="padded" ng-show="notif.type === 21 && (notif.status === 'responded' || notif.status=== 'waiting')"><b>{{notif.sentBy.organisation}}</b> requests using <b>{{notif.itemId.name}}</b></span>
                  <span class="padded" ng-show="[22, 24].lastIndexOf(notif.type) >= 0 && !(notif.status=== 'waiting')"><b>{{notif.sentBy.organisation}}</b> responded our request to use <b>{{notif.itemId.name}}</b></span>
                  <span class="padded" ng-show="notif.type === 23"><b>{{notif.sentBy.organisation}}</b> interrupted the connection with <b>{{notif.itemId.name}}</b></span>
                  <span class="padded" ng-show="notif.type === 31 && (notif.status === 'responded' || notif.status=== 'waiting')"><b>{{notif.sentBy.organisation}}</b> wants to partner with you.</span>
                  <span class="padded" ng-show="[33, 34].lastIndexOf(notif.type) >= 0 && !(notif.status=== 'waiting')"><b>{{notif.sentBy.organisation}}</b> responded our partnership request.<b>{{notif.itemId.name}}</b></span>
                  <!-- <span class="padded" ng-show="notif.type === 32">You canceled friend request with <b>{{notif.itemId.name}}</b></span> -->

                  <span class="ciara" ng-class="bckColor"></span>

                  <div class="centered" ng-show="notif.type === 21">
                    <span ng-if="notif.status === 'waiting'" class="f">
                      <i ng-click="acceptDataRequest(notif.itemId._id, notif._id)" class="fa fa-check fa-lg  fontGreen paddedSides"></i>
                      <i ng-click="rejectDataRequest(notif.itemId._id, notif._id)" class="fa fa-close fa-lg  fontRed paddedSides"></i>
                      <a ui-sref="root.main.deviceProfile.whoSee({deviceId: notif.itemId._id})"><i class="fa fa-search fa-lg paddedSides"></i></a>
                    </span>
                    <span ng-if="notif.status !== 'waiting'" >
                      <a ui-sref="root.main.deviceProfile.whoSee({deviceId: notif.itemId._id})"><i class="fa fa-search fa-lg "></i></a>
                    </span>
                  </div>

                  <div class="centered" ng-show="notif.type === 31">
                    <span ng-if="notif.status === 'waiting'" >
                      <i ng-click="acceptNeighbourRequest(notif._id, notif.sentBy._id)" class="fa fa-check fa-lg fontGreen paddedSides"></i>
                      <i ng-click="rejectNeighbourRequest(notif._id, notif.sentBy._id)" class="fa fa-close fa-lg fontRed paddedSides"></i>
                      <a ui-sref="root.main.companyProfile.devices({companyAccountId: notif.sentBy._id})"><i class="fa fa-search fa-lg paddedSides"></i></a>
                    </span>
                    <span ng-if="notif.status !== 'waiting'" >
                      <a ui-sref="root.main.companyProfile.devices({companyAccountId: notif.sentBy._id})"><i class="fa fa-search fa-lg"></i></a>
                    </span>
                  </div>

                  <div class="centered" ng-show="notif.type === 1">
                    <span ng-if="notif.status === 'waiting'" >
                      <i ng-click="acceptRegistration(notif.sentByReg._id, notif._id)" class="fa fa-check fa-lg  fontGreen paddedSides"></i>
                      <i ng-click="rejectRegistration(notif.sentByReg._id, notif._id)" class="fa fa-close fa-lg  fontRed paddedSides"></i>
                      <a ui-sref="root.main.registrationProfile.regAdmin({registrationId: reg.sentByReg._id})"><i class="fa fa-search fa-lg paddedSides"></i></a>
                    </span>
                    <span ng-if="notif.status !== 'waiting'" >
                      <a ui-sref="root.main.registrationProfile.regAdmin({registrationId: reg.sentByReg._id})"><i class="fa fa-search fa-lg"></i></a>
                    </span>
                  </div>

                  <div class="centered" ng-show="[1, 13, 21, 31].indexOf(notif.type) === -1">
                    <span>
                      <a ui-sref="root.main.deviceProfile.whoSee({deviceId: notif.itemId._id})"><i class="fa fa-search fa-lg "></i></a>
                    </span>
                  </div>

                  <!-- <div class="centered" ng-show="notif.type === 'deviceDiscovered'">
                    <span>
                      <a href="http://vicinity.bavenir.eu/#/mydevices"><i class="fa fa-search fa-lg "></i></a>
                    </span>
                  </div> -->

                <br>

              </div>

        </li>
        <li>
          <i class="fa fa-clock-o bg-gray"></i>
        </li>
      </ul>

<!--  OPTIONS to improve layout https://bootsnipp.com/snippets/featured/single-column-responsive-timeline
      <article class="panel panel-info panel-outline" style="width:10%">
        <div class="panel-heading icon">
            <i class="glyphicon glyphicon-info-sign"></i>
        </div>
        <div class="panel-body">
            END
        </div>
      </article> -->

    </div>
  </div>
</section>
