<div class="coll-md-1" ng-show="!loaded" style="margin: auto; width:60%">
  <i class="fa fa-refresh fa-spin fa-4x" style="text-align: center; display: block"/>
</div>
<div class="row">
  <div class="col-sm-6">
    <h3>{{mainTitle}}</h3>
  </div>
  <div class="col-sm-6">
    <img class="pull-right" src="img/logos/shqlogo.png"/>
  </div>
</div>
<section ng-show="loaded">
  <!-- No items found -->
  <div class="active tab-pane">
    <div class="centered" ng-show="noItems">
       <h3 class="well">No items found...</h3>
    </div>
    <!-- Contracts summary -->
    <div class="box-body box" ng-repeat="contract in contracts" ng-show="!detailsShow">
      <div class="col-sm-1">
        <i class="fa fa-arrow-right fa-4x my-green" ng-show="!contract.imServiceProv" aria-hidden="true"></i>
        <i class="fa fa-arrow-left fa-4x my-red" ng-show="contract.imServiceProv" aria-hidden="true"></i>
      </div>
      <div class="col-sm-3">
        <table style="width:100%">
          <tr><td><label> Service Name </label></td></tr>
          <tr><td><span>{{contract.foreignIot.items[0].name}}</span></td></tr>
          <tr><td><span>{{contract.ctid}}</span></td></tr>
        </table>
      </div>
      <div class="col-sm-2">
        <table style="width:100%">
          <tr><td><label> Service Provider </label></td></tr>
          <tr ng-show="!contract.imServiceProv"><td><span>{{contract.foreignIot.uid[0].extid}}</span></td></tr>
          <tr ng-show="contract.imServiceProv"><td><span>Me</span></td></tr>
        </table>
      </div>
      <div class="col-sm-2">
        <table style="width:100%">
          <tr><td><label> IoT Owner </label></td></tr>
          <tr><td><span>{{contract.iotOwner.cid.name}}</span></td></tr>
        </table>
      </div>
      <div class="col-sm-1">
        <table style="width:100%">
          <tr><td><label> Status </label></td></tr>
          <tr><td><span ng-show="contract.status === 'pending'" class="label label-warning">{{contract.status}}</span></td></tr>
          <tr><td><span ng-show="contract.status === 'accepted'" class="label label-success">{{contract.status}}</span></td></tr>
        </table>
      </div>
      <div class="col-sm-1">
        <table style="width:100%">
          <tr><td><label> Type </label></td></tr>
          <tr><td><span class="label label-info">{{contract.type}}</span></td></tr>
          <tr><td><span ng-show="contract.readWrite" class="label label-warning">Read/Write</span></td></tr>
          <tr><td><span ng-hide="contract.readWrite" class="label label-warning">Read Only</span></td></tr>
        </table>
      </div>
      <div class="col-sm-2 padded centered">
        <button ng-show="!contract.active" ng-click="acceptContract(contract._id)"><i class="fa fa-check"></i></button>
        <button ng-click="showDetails(contract._id, false)"><i class="fa fa-eye"></i></button>
        <button ng-click="removeContract(contract._id)"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <!-- Contract details -->
    <div class="box box-body" ng-show="detailsShow">
      <div class="box-header with-border well">
          <h3 class="box-title">Main Info</h3>
          <button class="pull-right paddedSides" ng-click="closeDetails()"><i class="fa fa-times"></i></button>
      </div>
      <div class="box-body">
        <p><b>ID:</b> {{wholeContract.ctid}}</p>
        <p><b>Service name:</b> {{wholeContract.foreignIot.items[0].name}}</p>
        <p><b>Service owner:</b> {{wholeContract.foreignIot.uid[0].extid}}</p>
        <p><b>Service requester:</b> {{wholeContract.iotOwner.cid.name}}</p>
        <p><b>Write rights:</b>
          <input type="checkbox" checked="wholeContract.readWrite" ng-model="wholeContract.readWrite" ng-show="edit">
          <span class="label label-info" ng-show="!wholeContract.readWrite && !edit"> No </span>
          <span class="label label-info" ng-show="wholeContract.readWrite && !edit"> Yes </span>
        </p>
        <p ng-show="!edit"><b>Status:</b>
          <span ng-show="wholeContract.status === 'pending'" class="label label-warning">{{wholeContract.status}}</span>
          <span ng-show="wholeContract.status === 'accepted'" class="label label-success">{{wholeContract.status}}</span>
        </p>
      </div>
      <div class="box-header with-border well">
          <h3 class="box-title">Legal Description</h3>
      </div>
      <div class="box-body">
        {{wholeContract.legalDescription}}
      </div>
      <div class="box-header with-border well">
          <h3 class="box-title">IoT infrastructure components</h3>
      </div>
      <div class="box-body">
        <table id="RegTable" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Name<i ng-click="orderByMe('name')" class="fa fa-fw fa-sort"/></th>
              <th>OID<i ng-click="orderByMe('oid')" class="fa fa-fw fa-sort"/></th>
              <th>Type<i ng-click="orderByMe('type')" class="fa fa-fw fa-sort"/></th>
              <th>Owner<i ng-click="orderByMe('owner')" class="fa fa-fw fa-sort"/></th>
              <th>Active<i ng-click="orderByMe('active')" class="fa fa-fw fa-sort"/></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="thing in alldevices | orderBy:myOrderBy:rev">
              <td class="col-sm-1">
                <span>{{thing.name}}</span>
              </td>
              <td class="col-sm-1">
                <span>{{thing.oid}}</span>
              </td>
              <td class="col-sm-1">
                <span>{{thing.typeOfItem}}</span>
              </td>
              <td class="col-sm-1">
                <span>{{thing.uid.extid}}</span>
              </td>
              <td class="col-sm-1">
                <span ng-show="thing.status" class="label label-success">{{thing.status}}</span>
                <span ng-hide="thing.status" class="label label-danger">{{thing.status}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
