<!-- TODO: Issue #6 Create view to list search results -->

<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

      <!-- VICINITY Logo -->
      <!--  TODO Is it a ok to redirect to Alldevices as home??-->
      <!-- <a href="#/home"  class="logo"> -->
      <a ui-sref="root.main.allDevices" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>VCNT</b>LST</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>VICINITY</b></span>
      </a>

      <!-- Header Navbar -->
      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->


        <div class="navbar-custom-menu">

          <form ui-view="searchUp" action="" method="get" class="navbar-form navbar-left bvr-navbar-form">
          </form>

          <ul class="nav navbar-nav">
            <!-- <li class="dropdown messages-menu" ui-view="messagesMenuView"/> -->
            <!-- Notifications Menu -->
            <li class="dropdown notifications-menu" ui-view="notificationsMenuView">
            </li>
            <!-- Tasks Menu -->
            <!-- <li class="dropdown tasks-menu" ui-view="taskMenuView">
            </li> -->
            <!-- User Account Menu -->
            <li class="dropdown user user-menu" ui-view="userAccountView">
            </li>
            <!-- Control Sidebar Toggle Button -->
            <!-- <li>
              <a href="" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li> -->
            <li class="dropdown notifications-menu" ui-view="settingsMenuView">
            </li>
            <!-- The sidebar's background -->
            <!-- This div must placed right after the sidebar for it to work-->

          </ul>

        </div>
      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->

    <aside class="main-sidebar">

      <div class="sidebar">

      <div class="sidebar-menu" ui-view="companyAccountView"></div>

        <ul class="sidebar-menu">
          <li onload="myInit()" class="header">MENU</li>
          <!-- Optionally, you can add icons to the links -->

          <!-- tabindex="0" in li ?? -->
          <!-- checkbox hack -->
          <!-- JS -->

          <!-- <li><a ui-sref="root.main.neighbourhood" ><i class="fa fa-link"></i> <span >Neighbourhood</span></a></li> -->
          <!-- <li><a ui-sref="root.main.mydevices"><i class="fa fa-link"></i> <span>My devices</span></a></li> -->
          <!-- <li><a ui-sref="root.main.partneredEntities"><i class="fa fa-link"></i> <span>Partnered entities</span></a></li> -->
          <!-- <li><a ui-sref="root.main.myServices"><i class="fa fa-link"></i> <span>My services</span></a></li> -->
          <li><a ui-sref="root.main.allDevices" ><i class="fa fa-link"></i> <span>Devices</span></a></li>
          <li><a ui-sref="root.main.allServices"><i class="fa fa-link"></i> <span>Services</span></a></li>
          <li><a ui-sref="root.main.allEntities"><i class="fa fa-link"></i> <span>Organisations</span></a></li>
          <li><a ng-show="isIntegrator" ui-sref="root.main.myNodes"><i class="fa fa-link"></i> <span>Access Points</span></a></li>
          <li><a ng-show="isIntegrator || isDevOwn || isServProv" ui-sref="root.main.contracts"><i class="fa fa-link"></i> <span>Contracts</span></a></li>
          <li><a ng-show="isDev" ui-sref="root.main.allRegistrations"><i class="fa fa-link"></i> <span>Registrations</span></a></li>
        </ul>

        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>

    <div class="content-wrapper" ui-view="mainContentView">
    </div>

    <!-- Back to top -->
    <i id="backToTop" ng-class="myColor" class="fa fa-caret-square-o-up fa-4x" aria-hidden="true" ng-show="isScrollable" ng-click="goToTop()"></i>

    <footer class="main-footer">
      <!-- To the right -->
      <div class="pull-right hidden-xs">
        v0.1
      </div>

      <!-- Default to the left -->
      <img src="img/logos/logo_eu.jpg"/>&nbsp; This project has received funding from the European Union’s Horizon 2020 Framework Programme for Research and Innovation under grant agreement no 688467 and no LCE-01-2016/731285/SHAR-Q.
      <br>
      <br>
      <strong>Copyright &copy; 2015-2018 <a href="http://www.bavenir.eu" target="_blank">bAvenir, s.r.o </a>.</strong> All rights reserved.
    </footer>

    <!-- <aside class="control-sidebar control-sidebar-dark">
    </aside>

    <div class="control-sidebar-bg"></div> -->

  </div>
