<section class="content-header">
  <h1> {{header}} </h1>
</section>

<section class="content">

  <!-- Filter -->
  <div class="panel panel-primary">
    <p class="panel-heading">
      <b>FILTERS</b>
      <a class="pull-right" ng-show="isCollapsed" ng-click="collapseFlag()" data-toggle="collapse" data-target="#lvl_filters"><i style="color:white" class="fa fa-plus-square fa-2x"></i></a>
      <a class="pull-right" ng-show="!isCollapsed" ng-click="collapseFlag()" data-toggle="collapse" data-target="#lvl_filters"><i style="color:white" class="fa fa-minus-square fa-2x"></i></a>
    </p>
    <div id="lvl_filters" class="collapse">
    <div class="dropdown" style="margin: 10px">
      <a ui-sref="root.main.allDevices" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-filter"></i> Visibility and access rights
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
         <li><a ng-click="filterItems(0)" ui-sref="root.main.allDevices">My disabled {{typeOfItem}}</a></li>
         <li><a ng-click="filterItems(1)" ui-sref="root.main.allDevices">My private {{typeOfItem}}</a></li>
         <li><a ng-click="filterItems(2)" ui-sref="root.main.allDevices">My {{typeOfItem}} for friends</a></li>
         <li><a ng-click="filterItems(3)" ui-sref="root.main.allDevices">My public {{typeOfItem}}</a></li>
         <li><a ng-click="filterItems(4)" ui-sref="root.main.allDevices">My {{typeOfItem}}</a></li>
         <li><a ng-click="filterItems(8)" ui-sref="root.main.allDevices">Contracted {{typeOfItem}}</a></li>
         <li><a ng-click="filterItems(9)" ui-sref="root.main.allDevices">Mine & Contracted {{typeOfItem}}</a></li>
         <li><a ng-click="filterItems(5)" ui-sref="root.main.allDevices">Friend's {{typeOfItem}}</a></li>
         <li><a ng-click="filterItems(6)" ui-sref="root.main.allDevices">All public {{typeOfItem}}</a></li>
         <li><a ng-click="filterItems(7)" ui-sref="root.main.allDevices">All {{typeOfItem}}</a></li>
      </ul>
     </div>
     <div class="dropdown" style="margin: 10px">
       <a ui-sref="root.main.allDevices" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-filter"></i> Device types
         <span class="caret"></span>
       </a>
       <ul class="dropdown-menu" role="menu">
          <li ng-repeat="item in itemFilter.subclasses"><a ng-click="refresh(item)" ui-sref="root.main.allDevices">{{item}}</a></li>
       </ul>
      </div>
    </div>
  </div>

<!-- Start -->
  <div class="row" ng-show="loadedPage">

    <!-- onlyPrivateDevices -->
    <div ng-show="noItems" >
       <h2 style="margin-left:20px;">No {{typeOfItem}} found for the current selection...</h2>
   </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="dev in devs | nameFilter:searchTerm">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div style="z-index: -2" class="widget-user-header2 bg-yellow">

          <div class="round">
            <img style="cursor: pointer" onmouseover="" ui-sref="root.main.deviceProfile.whoSee({deviceId: dev._id})" ng-src="{{dev.avatar}}" alt="Company Avatar">
          </div>

          <div class="tooltip2" id="circle_gray" style="cursor:default"> &nbsp; &nbsp; &nbsp;
            <span class=" tooltiptext2" > Unknown </span>
          </div>

          <h3 class="widget-user-username2"><a style="color: #FFF; z-index: -1" href="" ui-sref="root.main.deviceProfile.whoSee({deviceId: dev._id})">{{dev.name}}</a></h3>
          <h5 class="widget-user-desc2"><a style="text-decoration: underline; color: #FFF" href="" ui-sref="root.main.companyProfile.devices({companyAccountId: dev.cid.id._id})">{{dev.cid.id.name}}</a></h5>
          <h5 class="widget-user-desc2" ng-show="dev.status === 'enabled'">Enabled</h5>
          <h5 class="widget-user-desc2" ng-show="dev.status === 'disabled'">Disabled</h5>
          <h5 class="widget-user-desc2" ng-show="dev.isPublic">Device is public</h5>
          <h5 class="widget-user-desc2" ng-show="dev.isFriendData">Access for friends</h5>
          <h5 class="widget-user-desc2" ng-show="dev.isPrivate">Private data</h5>
          <img ng-if="dev.adid.type === 'vcnt'" class="pull-right widget-logo-vcnt" src="img/logos/vcntlogo.png"/>
          <img ng-if="dev.adid.type === 'shq'" class="pull-right widget-logo-shq" src="img/logos/shqlogo.png"/>
        </div>

        <div class="widget-user-footer-moreinfo2 bg-gray" ng-show="!dev.isOwner && !dev.imFriend && !dev.isContracted">
             <i class="fa fa-circle-thin fa-lg"></i>
              &nbsp;<b>Other's Device</b>
        </div>

        <div class="widget-user-footer-moreinfo2 bg-purple" ng-show="!dev.isOwner && dev.imFriend && !dev.isContracted" >
          <i class="fa fa-circle fa-lg"></i>
              &nbsp;<b>Friend's Device</b>
        </div>

        <div class="widget-user-footer-moreinfo2 bg-aqua" ng-show="dev.isOwner">
             <i class="fa fa-user fa-lg"></i>
              &nbsp;<b>My Device</b>
        </div>

        <div class="widget-user-footer-moreinfo2 bg-olive" ng-show="dev.isContracted">
             <i class="fa fa-link fa-lg"></i>
              &nbsp;<b>Contracted Device</b>
        </div>


        <a href="" ui-sref="root.main.deviceProfile.whoSee({deviceId: dev._id})" class="widget-user-footer-moreinfo" >More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>

  </div>

  <div class="coll-md-1" ng-hide="loaded" style="margin: auto; width:60%">
    <i class="fa fa-refresh fa-spin fa-4x" style="text-align: center; display: block"/>
  </div>

  <div class="centered" ng-show="!allItemsLoaded && loaded">
    <h3 ng-click="loadMore()" class="well" style="cursor: pointer">Load more items</h3>
  </div>

  <div class="centered" ng-show="allItemsLoaded && !noItems">
    <h3 class="well">All items loaded!</h3>
  </div>

</section>
