<section class="content-header">
  <h1>User profile</h1>
</section>


<section class="content">



    <div class="row" style="width: 100%">
      <div class="coll-md-1" ng-hide="loaded" style="margin: auto; width:60%">
        <i class="fa fa-refresh fa-spin fa-4x" style="text-align: center; display: block"/>
      </div>

        <div class="col-md-6" ng-show="loaded">

          <!-- Profile Image -->

          <!-- <div class="box-body"> -->

            <div id="login-wrap" class="box-body box box-primary">

              <div ng-show="!isMyProfile" class="round_profile">                 <!--      class="profile-user-img img-responsive img-circle" -->
                <img ng-src="{{avatar}}" alt="User profile picture">
              </div>

              <div ng-show="isMyProfile" id="changeAvatar" class="round_profile">
                <span style="position: absolute">+Change avatar</span>
                <a href="" ng-click="showLoadPic()">
                  <img id="pic" ng-src="{{avatar}}" alt="User profile picture" >
                </a>
              </div>

              <!-- <input id="input1" ng-show="showInput" style="margin-left: 44%; margin-top: 10px; margin-bottom: 10px" type="file" nv-file-select uploader="uploader" />       fileread="uploadme.src" -->

              <input id="input1" ng-show="showInput" style="margin-left: 44%; margin-top: 10px; margin-bottom: 10px" type="file" />       <!-- onchange="readURL(this)" -->


              <!-- Name: <span ng-bind="item.file.name"></span> -->
              <a ng-click="cancelLoadPic()" style="margin-left: 42%" ng-show="showInput" id="editCancel1" class=" btn-sm btn-primary-bvr edit_profile"><i style="color: red" class="fa fa-times"></i>Cancel</a>
              <a ng-show="showInput" id="editUpload2" ng-click="uploadPic()" class=" btn-sm btn-primary-bvr edit_profile"><i style="color: green" class="fa fa-check"></i>Upload</a>        <!--  -->

              <!-- <input type='file' onchange="readURL(this);" /> -->
              <!-- <img id="blah" src="#" alt="your image" /> -->

              <!-- <img class="profile-user-img img-responsive img-circle" src={{avatar}} alt="User profile picture"> -->

              <span id="nameUnderAvatar" ><h3 style="margin-top:10px" class="profile-username text-center">{{nameAvatar}}</h3> </span>
              <span id="newNameUnderAvatar"><h3 style="margin-top:10px" class="profile-username text-center">{{newName}}</h3> </span>

              <p id="occupationUnderAvatar" class="text-muted text-center">{{occupationAvatar}}</p>
              <p id="newOccupationUnderAvatar" class="text-muted text-center">{{newOccupation}}</p>

            <strong><i class="fa fa fa-male margin-r-5"></i> Name</strong>
            <a id="nameButt" ng-show="isMyProfile" ng-click="changeToInput()" href="" class="pull-right btn-sm btn-primary-bvr edit_profile">Edit</a>
            <a ng-click="saveNewName()" id="edits2" class="pull-right btn-sm btn-primary-bvr edit_profile" style="margin-left: 5px"><i style="color: green" class="fa fa-check"></i>Save</a>
            <a ng-click="backToEdit()" style="margin-left: 35%" id="edits1" class="pull-right btn-sm btn-primary-bvr edit_profile"><i style="color: red" class="fa fa-times"></i>Cancel</a>

            <p id="nameP" class="text-muted">
              {{nameAvatar}}
            </p>
            <p id="namePnew" class="text-muted">
              {{newName}}
            </p>

            <input id="editNameInput" style="display: block; margin-top: 5px; margin-left: 0px" class="style-1" type="text" ng-model="name"></input>   <!-- value={{name}} -->


            <hr>

            <strong><i class="fa fa-at margin-r-5"></i> Email</strong>
            <!-- <a ng-show="isMyProfile" href="" class="pull-right btn-sm btn-primary-bvr edit_profile">Edit</a> -->

            <p class="text-muted">
              {{email}}
            </p>

            <hr ng-show="isMyProfile">

            <strong ng-show="isMyProfile"><i class="fa fa-unlock margin-r-5"></i> Password</strong>
            <a id="passButt" ng-show="isMyProfile" ng-click="changeToInput3()" href="" class="pull-right btn-sm btn-primary-bvr edit_profile">Edit</a>

            <a ng-click="saveNewPassport()" id="edits23" class="pull-right btn-sm btn-primary-bvr edit_profile" style="margin-left: 5px"><i style="color: green" class="fa fa-check"></i>Save</a>
            <a ng-click="backToEdit3()" style="margin-left: 35%" id="edits13" class="pull-right btn-sm btn-primary-bvr edit_profile"><i style="color: red" class="fa fa-times"></i>Cancel</a>


            <p id="passP" ng-show="isMyProfile" class="text-muted">
              {{text1}}
            </p>

            <input id="editPassOldInput" style="display: block; margin-top: 5px; margin-left: 0px" class="style-1" type="password" placeholder="Old password" ng-model="oldPass"></input>
            <input id="editPassNew1Input" style="display: block; margin-top: 5px; margin-left: 0px" class="style-1" type="password" placeholder="New password" ng-model="pass1"></input>
            <input id="editPassNew2Input" style="display: block; margin-top: 5px; margin-left: 0px" class="style-1" type="password" placeholder="New password again" ng-model="pass2"></input>

            <hr >

            <strong><i class="fa fa-university margin-r-5"></i> Organisation</strong>
            <!-- <a ng-show="isMyProfile" href="" class="pull-right btn-sm btn-primary-bvr edit_profile">Edit</a> -->

            <p class="text-muted">
              {{organisation}}
            </p>

            <hr>

            <strong><i class="fa fa-briefcase margin-r-5"></i> Occupation</strong>
            <a id="nameButt1" ng-show="isMyProfile" href="" ng-click="changeToInput1()" class="pull-right btn-sm btn-primary-bvr edit_profile">Edit</a>
            <a ng-click="saveNewOccupation()" id="edits21" class="pull-right btn-sm btn-primary-bvr edit_profile" style="margin-left: 5px"><i style="color: green" class="fa fa-check"></i>Save</a>
            <a ng-click="backToEdit1()" style="margin-left: 35%" id="edits11" class="pull-right btn-sm btn-primary-bvr edit_profile"><i style="color: red" class="fa fa-times"></i>Cancel</a>


            <p id="nameP1" class="text-muted">
              {{occupationAvatar}}
            </p>

            <p id="nameP1new" class="text-muted">
              {{newOccupation}}
            </p>

            <input id="editOccupationInput" style="display: block; margin-top: 5px; margin-left: 0px" class="style-1" type="text" ng-model="occupation"></input>

            <hr>

            <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>
            <a id="nameButt2" ng-show="isMyProfile" ng-click="changeToInput2()" href="" class="pull-right btn-sm btn-primary-bvr edit_profile">Edit</a>
            <a ng-click="saveNewLocation()" id="edits22" class="pull-right btn-sm btn-primary-bvr edit_profile" style="margin-left: 5px"><i style="color: green" class="fa fa-check"></i>Save</a>
            <a ng-click="backToEdit2()" style="margin-left: 35%" id="edits12" class="pull-right btn-sm btn-primary-bvr edit_profile"><i style="color: red" class="fa fa-times"></i>Cancel</a>

            <p id="namePloc" class="text-muted">
              {{locationAvatar}}
            </p>

            <p id="namePlocnew" class="text-muted">
              {{newLocation}}
            </p>

            <input id="editLocationInput" style="display: block; margin-top: 5px; margin-left: 0px" class="style-1" type="text" ng-model="location"></input>

            <!-- <hr>

            <strong><i class="fa fa-pencil margin-r-5"></i> Badges</strong>
            <a ng-show="isMyProfile" href="" class="pull-right btn-sm btn-primary-bvr edit_profile">Edit</a>

            <p>
              <span ng-repeat="badge in badges" class="label label-success badge_in_profile">{{badge}}</span>
            </p> -->



            <!-- <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

            <p>{{notes}}</p> -->
          </div>

          <!-- <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src={{avatar}} alt="User profile picture">

              <h3 class="profile-username text-center">{{name}}</h3>

              <p class="text-muted text-center">{{occupation}}</p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Followers</b> <a class="pull-right">{{followers.length}}</a>
                </li>
                <li class="list-group-item">
                  <b>Following</b> <a class="pull-right">{{following.length}}</a>
                </li>
                <li class="list-group-item">
                  <b>Friends</b> <a class="pull-right">{{friends.length}}</a>
                </li>
              </ul> -->

              <!-- Align button correctly -->
              <!-- <div class="btn-group btn-block" ng-show="canAnswerNeighbourRequest">
                <button type="button" class="btn col-lg-10 btn-success " ng-click="acceptNeighbourRequest()">
                  <i class="fa fa-check-circle-o"></i>&nbsp;<b>Accept neighbour request</b></button>
                <button type="button" class="btn col-lg-2 btn-success dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a ng-click="acceptNeighbourRequest()"><i class="fa fa-check-circle-o"></i>&nbsp;Accept</a></li>
                  <li><a ng-click="rejectNeighbourRequest()"><i class="fa fa-times-circle-o"></i>&nbsp;Reject</a></li>
                </ul>
              </div>
              <a class="btn btn-primary btn-block" ng-show="canSendNeighbourRequest"
                 ng-click="sendNeighbourRequest()"><i class="fa fa-user-plus"></i>&nbsp;<b>Send neighbour
                request</b></a>
              <a class="btn btn-default btn-block" ng-show="canCancelNeighbourRequest"
                 ng-click="cancelNeighbourRequest()"><i class="fa fa-user-plus"></i>&nbsp;<b>Cancel neighbour request</b></a>
              <a class="btn btn-default btn-block" ng-show="isNeighbour"
                ng-click="cancelNeighbourship()"><i class="fa fa-user-times"></i>&nbsp;<b>Cancel neighbourship</b></a>
              <a href="#" class="btn btn-primary btn-block" ng-hide="isMyProfile"><i class="fa fa-star-o"></i>&nbsp;<b>Follow</b></a> -->

              <!-- TODO: Issue #6 Add friend and unfriend button -->
            </div>
            <!-- /.box-body -->

          <!-- /.box -->


      <!-- About me box -->

      <!-- HISTORY -->

      <!-- <div class="col-md-6" ng-show="loaded">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">History</h3>
            </div>

            <div class="box-body">

              <section class="content">


                <div class="row">
                  <div class="col-md-12">

                    <ul class="timeline">

                      <li class="time-label">
                            <span class="bg-gray">
                              10 Feb. 2014
                            </span>
                      </li>

                      <li>
                        <i class="fa fa-user-plus bg-green"></i>

                        <div class="timeline-item">

                          <img  src="../../../../app/img/entities/logo_facility.png" class="avatar" alt="Avatar">

                          <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                          <h3 class="timeline-header">&nbsp; Facility 4U accepted your partnership request. You are partners now!</h3>


                        </div>
                      </li>
                      <li>
                        <i class="fa fa-envelope bg-yellow"></i>

                        <div class="timeline-item">
                          <img style="cursor: pointer" onmouseover="" ui-sref="root.main.userProfile({userAccountId: userAccounts[0]._id, companyAccountId: thisCompany._id})" src="{{userAccounts[0].avatar}}" class="avatar" alt="Avatar">

                          <span class="time"><i class="fa fa-clock-o"></i> 49 mins ago</span>

                          <h3 class="timeline-header no-border"><a ui-sref="root.main.userProfile({userAccountId: userAccounts[0]._id, companyAccountId: thisCompany._id})">&nbsp; {{userAccounts[0].name}}</a> sent neighbourhood request to {{friendsThisCom[0].organisation}}</h3>
                        </div>
                      </li>

                      <li class="time-label">
                            <span class="bg-gray">
                              3 Jan. 2014
                            </span>
                      </li>

                      <li>
                        <i class="fa fa-camera bg-purple"></i>

                        <div class="timeline-item">
                          <img style="cursor: pointer" onmouseover="" ui-sref="root.main.userProfile({userAccountId: userAccounts[1]._id, companyAccountId: thisCompany._id})" src="{{userAccounts[1].avatar}}" class="avatar" alt="Avatar">
                          <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>

                          <h3 class="timeline-header"><a ui-sref="root.main.userProfile({userAccountId: userAccounts[1]._id, companyAccountId: thisCompany._id})">&nbsp; {{userAccounts[1].name}}</a> uploaded logo of the company</h3>

                          <div class="timeline-body">
                            <img src="{{thisCompany.avatar}}" alt="..." class="margin">
                          </div>
                        </div>
                      </li>

                      <li>
                        <i class="fa fa-clock-o bg-gray"></i>
                      </li>
                    </ul>
                  </div>

                </div>

              </section>

            </div>

          </div>
        </div> -->
       </div>
       </div>
</section>
