<section class="content-header">
  <h1>All devices</h1>
</section>

<section class="content">

  <div class="row" style="width: 100%">

    <div id="ramik" class="input-group bvr2-navbar-form navbar-right col-md-2 " ng-show="loadedPage">
      <input id="bvr-search-input" type="text" name="q" class="form-control" placeholder="Search..." ng-model="searchTerm">
      <span class="input-group-btn">
        <button  type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>      <!-- ui-sref="root.main.neighbourhood({searchTerm: searchTerm})" -->
      </span>
    </div>

  </div>

<!-- Start -->
  <div class="row" ng-show="loadedPage">

    <!-- onlyPrivateDevices -->
    <div ng-show="onlyPrivateDevices" >
       <h2 style="margin-left:20px;">There is no shared device with you.</h2>
   </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="dev in devs | nameFilter:searchTerm">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div style="z-index: -2" class="widget-user-header2 bg-yellow">

          <div class="round">
            <img style="cursor: pointer" onmouseover="" ui-sref="root.main.deviceProfile.whoSee({deviceId: dev._id})" ng-src="{{dev.avatar}}" alt="Company Avatar">
          </div>

          <div class="tooltip2" id="circle_gray" style="cursor:default"> &nbsp; &nbsp; &nbsp;
            <span class=" tooltiptext2" > Unknown </span>
          </div>

          <h3 class="widget-user-username2"><a style="color: #FFF; z-index: -1" href="" ui-sref="root.main.deviceProfile.whoSee({deviceId: dev._id})">{{dev.name}}</a></h3>
          <h5 class="widget-user-desc2"><a style="text-decoration: underline; color: #FFF" href="" ui-sref="root.main.companyProfile.devices({companyAccountId: dev.hasAdministrator[0]._id})">{{dev.hasAdministrator[0].organisation}}</a></h5>
          <h5 class="widget-user-desc2">{{dev.accessLevelCaption}}</h5>
          <h5 class="widget-user-desc2">{{dev.info.location}}</h5>

        </div>

        <div  class="widget-user-footer-moreinfo2" ng-show="dev.isUnderRequest && !dev.cancelRequest && !dev.interruptConnection">
          <a href=""  ng-click="processMyAccess(dev._id)" class=" btn-xs btn-success btn-block" >
             <i class="fa fa-bar-chart fa-lg"></i>
             <i class="fa fa-plus fa-lg"></i>
              &nbsp;<b>Get access!</b>
         </a>
        </div>

        <div class="widget-user-footer-moreinfo2" ng-show="dev.isUnderRequest && dev.cancelRequest">
         <a href=""  ng-click="cancelMyRequest(dev._id)"  class="btn-xs btn-default btn-block" >
            <i class="fa fa-bar-chart fa-lg"></i>
            <i class="fa fa-times fa-lg"></i>
             &nbsp;Cancel request
        </a>
        </div>

        <div class="widget-user-footer-moreinfo2" ng-show="dev.isUnderRequest && dev.interruptConnection">
         <a href=""  ng-click="cancelMyAccess(dev._id)"  class="btn-xs btn-default btn-block" >
            <i class="fa fa-chain-broken fa-lg"></i>
             &nbsp;Interrupt connection
        </a>
        </div>


        <div class="widget-user-footer-moreinfo3" ng-show="dev.isPublic" >
        <span><i href="/#" class="fa fa-bar-chart fa-1x"></i> <strong> Device is public </strong> </span>
        </div>

        <div class="widget-user-footer-moreinfo3" ng-show="dev.isFriendData">
        <span><i href="/#" class="fa fa-bar-chart fa-1x" > </i> <strong>Access for friends</strong></span>
        </div>

        <div class="widget-user-footer-moreinfo3" ng-show="dev.isPrivate">
        <span><i href="/#" class="fa fa-bar-chart fa-1x" > </i> <strong>Private data</strong></span>
        </div>

        <div class="widget-user-footer-moreinfo3" ng-show="dev.isOwner">
        <span><strong>My device</strong></span>
        </div>

        <a href="" ui-sref="root.main.deviceProfile.whoSee({deviceId: dev._id})" class="widget-user-footer-moreinfo" >More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>

  </div>

  <div class="coll-md-1" ng-hide="loaded" style="margin: auto; width:60%">
    <i class="fa fa-refresh fa-spin fa-4x" style="text-align: center; display: block"/>
  </div>

  <div class="centered" ng-show="!allItemsLoaded && loaded">
    <h3 ng-click="loadMore()" class="well" style="cursor: pointer">Load more items</h3>
  </div>

  <div class="centered" ng-show="allItemsLoaded && !noItems">
    <h3 class="well">All items loaded!</h3>
  </div>

</section>
