<section class="content-header">
  <h1>User profile</h1>
</section>


<section class="content">



      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" ng-src="{{avatar}}" alt="User profile picture">

              <h3 class="profile-username text-center">{{name}}</h3>

              <p class="text-muted text-center">{{occupation}}</p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Followers</b> <a class="pull-right">{{followers.length}}</a>
                </li>
                <li class="list-group-item">
                  <b>Following</b> <a class="pull-right">{{following.length}}</a>
                </li>
                <li class="list-group-item">
                  <b>Friends</b> <a class="pull-right">{{friends.length}}</a>
                </li>
              </ul>

              <a href="#" class="btn btn-primary btn-block" ng-hide="isMyProfile"><b>Follow</b></a>
              <!-- TODO: Issue #6 Add friend and unfriend button -->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
      
      
      <!-- About me box -->
      
      <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">About Me</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-university margin-r-5"></i> Organisation</strong>

              <p class="text-muted">
                {{organisation}}
              </p>

              <hr>

              <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

              <p class="text-muted">{{location}}</p>

              <hr>

              <strong><i class="fa fa-pencil margin-r-5"></i> Badges</strong>

              <p>
                <div ng-repeat="badge in badges"><span class="label label-success">{{badge}}</span></div>
              </p>

              <hr>

              <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

              <p>{{notes}}</p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
    </div>
        <div class="col-md-9">
          <div class="nav-tabs-custom">
                       <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a ng-href="{{locationPrefix}}#gateways" aria-controls="home" role="tab" data-toggle="tab">Gateways</a></li>
              <li role="presentation"><a ng-href="{{locationPrefix}}#friends" aria-controls="profile" role="tab" data-toggle="tab">Friends</a></li>
              <li role="presentation"><a ng-href="{{locationPrefix}}#following" aria-controls="messages" role="tab" data-toggle="tab">Following</a></li>
              <li role="presentation"><a ng-href="{{locationPrefix}}#follows" aria-controls="settings" role="tab" data-toggle="tab">Follows</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="gateways">gateways</div>
              <div role="tabpanel" class="tab-pane" id="profile">friends</div>
              <!-- TODO: Issue #6 add list of friends -->
              <div role="tabpanel" class="tab-pane" id="messages">following</div>
              <div role="tabpanel" class="tab-pane" id="settings">follows</div>
            </div>

          </div>
        </div>  
      </div>
</section>