<section class="content-header">
  <h1>Company profile</h1>
</section>


<section class="content">
      <div class="row" >
        <div class="coll-md-1" ng-hide="loaded" style="margin: auto; width:60%">
          <i class="fa fa-refresh fa-spin fa-4x" style="text-align: center; display: block"/>
        </div>

        <div class="col-md-3" ng-show="loaded">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" ng-src="{{avatar}}" alt="Company profile picture">

              <h3 class="profile-username text-center">{{name}}</h3>

              <p class="text-muted text-center">{{occupation}}</p>

              <ul class="list-group list-group-unbordered">
                <!-- <li class="list-group-item">
                  <b>Followers</b> <a class="pull-right">{{followers.length}}</a>
                </li>
                <li class="list-group-item">
                  <b>Following</b> <a class="pull-right">{{following.length}}</a>
                </li> -->
                <li class="list-group-item">
                  <a ng-href="#!/profile/company/{{companyAccountId}}/friends"> <b>Partners</b> <span class="pull-right">{{friends.length}}</span></a>
                </li>
                <li class="list-group-item">
                  <a ng-href="#!/profile/company/{{companyAccountId}}/userAccounts"> <b>User accounts</b> <span class="pull-right">{{users.length}}</span></a>
                </li>
                <li ng-show="!isMyProfile" class="list-group-item">
                  <a ng-href="#!/profile/company/{{companyAccountId}}/devices"> <b>Devices</b> <span class="pull-right">{{devices.length}}</span></a>
                </li>
                <li ng-show="isMyProfile" class="list-group-item">
                  <b>Devices</b> <span class="pull-right">{{devices.length}}</span>
                </li>
              </ul>

              <!-- Align button correctly -->
              <div class="btn-group btn-block" ng-show="canAnswerNeighbourRequest">
                <button type="button" class="btn col-lg-10 btn-success " ng-click="acceptNeighbourRequest()">
                  <i class="fa fa-check-circle-o"></i>&nbsp;<b>Accept partnership request</b></button>
                <button type="button" class="btn col-lg-2 btn-success dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a ng-click="acceptNeighbourRequest()"><i class="fa fa-check-circle-o"></i>&nbsp;Accept</a></li>
                  <li><a ng-click="rejectNeighbourRequest()"><i class="fa fa-times-circle-o"></i>&nbsp;Reject</a></li>
                </ul>
              </div>
              <a class="btn btn-primary btn-block" ng-show="canSendNeighbourRequest"
                 ng-click="sendNeighbourRequest()"><i class="fa fa-user-plus"></i>&nbsp;<b>Send partnership
                request</b></a>
              <a class="btn btn-default btn-block" ng-show="canCancelNeighbourRequest"
                 ng-click="cancelNeighbourRequest()"><i class="fa fa-user-plus"></i>&nbsp;<b>Cancel partnership request</b></a>
              <a class="btn btn-default btn-block" ng-show="isNeighbour"
                ng-click="cancelNeighbourship()"><i class="fa fa-user-times"></i>&nbsp;<b>Cancel partnership</b></a>
              <!-- <a href="#" class="btn btn-primary btn-block" ng-hide="isMyProfile"><i class="fa fa-star-o"></i>&nbsp;<b>Follow</b></a> -->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->


      <!-- About me box -->

      <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">About Me</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-university margin-r-5"></i> Organisation</strong>

              <p class="text-muted">
                {{organisation}}
              </p>

              <hr>

              <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

              <p class="text-muted">{{location}}</p>

              <hr>

              <strong><i class="fa fa-pencil margin-r-5"></i> Badges</strong>

              <p>
                <div ng-repeat="badge in badges"><span class="label label-success">{{badge}}</span></div>
              </p>

              <hr>

              <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

              <p>{{notes}}</p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <div class="col-md-9" ng-show="loaded">
          <div class="nav-tabs-custom">
                       <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              <li ng-show="!isMyProfile" ui-sref-active="active"><a ui-sref="root.main.companyProfile.devices"><i class="fa fa-clone"></i>&nbsp;Devices</a></li>
              <li ui-sref-active="active"><a ui-sref="root.main.companyProfile.friends"><i class="fa fa-users"></i>&nbsp;Partners</a></li>
              <!-- <li ui-sref-active="active"><a ui-sref="root.main.companyProfile.friends"><i class="fa fa-users"></i>&nbsp;Friends</a></li> -->
              <li ui-sref-active="active"><a ui-sref="root.main.companyProfile.history"><i class="fa fa-clock-o"></i>&nbsp;History</a></li>
              <li ui-sref-active="active"><a ui-sref="root.main.companyProfile.userAccounts"><i class="fa fa-user"></i>&nbsp;User accounts</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content" ui-view="tabPanel">
            </div>
          </div>
        </div>
      </div>
</section>
