<div class="active tab-pane" id="activity">
  <div class="row">
    <div class="col-md-4">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-cubes"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">ACME ElectroMeter #1</span>
          <span class="info-box-description">Room 1.001</span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
     <div class="info-box">
       <span class="info-box-icon bg-aqua"><i class="fa fa-cubes"></i></span>
       <div class="info-box-content">
         <span class="info-box-text">ACME ElectroMeter #2</span>
         <span class="info-box-description">Room 1.002</span>
       </div>
     </div>
    </div>
    <div class="col-md-4">
     <div class="info-box">
       <span class="info-box-icon bg-aqua"><i class="fa fa-cubes"></i></span>
       <div class="info-box-content">
         <span class="info-box-text">ACME ElectroMeter #3</span>
         <span class="info-box-description">Room 1.003</span>
       </div>
     </div>
    </div>
    <div class="col-md-4">
     <div class="info-box">
       <span class="info-box-icon bg-aqua"><i class="fa fa-cubes"></i></span>
       <div class="info-box-content">
         <span class="info-box-text">ACME ElectroMeter #4</span>
         <span class="info-box-description">Room 1.004</span>
       </div>
     </div>
    </div>
    <div class="col-md-4">
     <div class="info-box">
       <span class="info-box-icon bg-aqua"><i class="fa fa-cubes"></i></span>
       <div class="info-box-content">
         <span class="info-box-text">ACME ElectroMeter #5</span>
         <span class="info-box-description">Room 1.005</span>
       </div>
     </div>
    </div>
    <div class="col-md-4">
     <div class="info-box">
       <span class="info-box-icon bg-aqua"><i class="fa fa-cubes"></i></span>
       <div class="info-box-content">
         <span class="info-box-text">ACME ElectroMeter #6</span>
         <span class="info-box-description">Room 1.006</span>
       </div>
     </div>
    </div>
  </div>

</div>
