<div class="coll-md-1" ng-show="!loaded" style="margin: auto; width:60%">
  <i class="fa fa-refresh fa-spin fa-4x" style="text-align: center; display: block"/>
</div>
<h3>{{mainTitle}}</h3>
<section ng-show="loaded">
  <!-- No items found -->
  <div class="active tab-pane">
    <div class="centered" ng-show="noItems">
       <h3 class="well">No items found...</h3>
    </div>
    <!-- Contracts summary -->
    <div class="box-body box" ng-repeat="contract in contracts" ng-show="!detailsShow">
      <div class="col-sm-1">
        <i class="fa fa-arrow-left fa-4x my-red" ng-show="!contract.imServiceProv" aria-hidden="true"></i>
        <i class="fa fa-arrow-right fa-4x my-green" ng-show="contract.imServiceProv" aria-hidden="true"></i>
      </div>
      <div class="col-sm-2">
        <label> Service Name </label>
        <p>{{contract.serviceProvider.items[0].id.name}}</p>
      </div>
      <div class="col-sm-2">
        <table style="width:100%">
          <tr><td><label> Service Provider </label></td></tr>
          <tr ng-show="!contract.imServiceProv"><td><span>{{contract.serviceProvider.uid.extid}}</span></td></tr>
          <tr ng-show="contract.imServiceProv"><td><span>Me</span></td></tr>
        </table>
      </div>
      <div class="col-sm-2">
        <table style="width:100%">
          <tr><td><label> Status </label></td></tr>
          <tr><td><span ng-show="contract.status === 'pending'" class="label label-warning">{{contract.status}}</span></td></tr>
          <tr><td><span ng-show="contract.status === 'accepted'" class="label label-success">{{contract.status}}</span></td></tr>
        </table>
      </div>
      <div class="col-sm-2">
        <table style="width:100%">
          <tr><td><label> Type </label></td></tr>
          <tr><td><span class="label label-info">{{contract.type}}</span></td></tr>
        </table>
      </div>
      <div class="col-sm-3 padded centered">
        <button ng-show="!contract.agreed"  ng-click="acceptContract(contract._id)"><i class="fa fa-check"></i></button>
        <button ng-click="showDetails(contract._id, false)"><i class="fa fa-eye"></i></button>
        <button ng-disabled="contract.imServiceProv || contract.status !== 'accepted'" ng-click="showDetails(contract._id, true)"><i class="fa fa-pencil"></i></button>
        <button ng-click="removeContract(contract._id)"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <!-- Contract details -->
    <div class="box box-body" ng-show="detailsShow">
      <div class="box-header with-border well">
          <h3 class="box-title">Main Info</h3>
          <button class="pull-right paddedSides" ng-click="closeDetails()"><i class="fa fa-times"></i></button>
          <button class="pull-right paddedSides" ng-show="edit" ng-click="editContract()">Update</button>
      </div>
      <div class="box-body">
        <p><b>ID:</b> {{wholeContract.ctid}}</p>
        <p><b>Service name:</b> {{wholeContract.serviceProvider.items[0].id.name}}</p>
        <p><b>Service owner:</b> {{wholeContract.serviceProvider.uid.extid}}</p>
        <p><b>IoT owner:</b> {{wholeContract.iotOwner.uid.extid}}</p>
        <p><b>Write rights:</b>
          <input type="checkbox" checked="wholeContract.readWrite" ng-model="wholeContract.readWrite" ng-show="edit">
          <span class="label label-info" ng-show="!wholeContract.readWrite && !edit"> No </span>
          <span class="label label-info" ng-show="wholeContract.readWrite && !edit"> Yes </span>
        </p>
        <p ng-show="!edit"><b>Status:</b>
          <span ng-show="wholeContract.status === 'pending'" class="label label-warning">{{wholeContract.status}}</span>
          <span ng-show="wholeContract.status === 'accepted'" class="label label-success">{{wholeContract.status}}</span>
        </p>
      </div>
      <div class="box-header with-border well">
          <h3 class="box-title">Legal Description</h3>
      </div>
      <div class="box-body">
        {{wholeContract.legalDescription}}
      </div>
      <div class="box-header with-border well">
          <h3 class="box-title">IoT infrastructure components</h3>
      </div>
      <div class="box-body">
      <div class="checkbox" ng-repeat="thing in alldevices">
        <ul>
          <li>
            <input type="checkbox" checked="thing.status" ng-model="thing.status" ng-show="edit">
            {{thing.id.name}} -- {{thing.extid}} -- {{thing.id.typeOfItem}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</section>
