<section class="content-header">
  <h1>Neigbourhood</h1>
</section>


<section class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Share with
              <span class="caret"></span>
            </a>

            <ul class="dropdown-menu" role="menu">
               <li><a href="#">Only me (Private)</a></li>
               <li><a href="#">Neighbourhood</a></li>
               <li><a href="#">Everybody (Public)</a></li>
            </ul>
           </div> -->
           <div class="box box-solid">
             <div class="box-header with-border">
               <h3 class="box-title">Entities</h3>
             </div>
             <!-- /.box-header -->
             <div class="box-body">
               <div class="box-group" id="accordion">
                 <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                 <div class="panel box box-primary">
                   <div class="box-header with-border">
                     <h4 class="box-title">
                       <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                          Camera systems s.r.o.
                       </a>
                     </h4>
                   </div>
                   <div id="collapseOne" class="panel-collapse collapse in">
                     <div class="box-body box-bg-grey">
                       <div class="row">
                         <div class="col-md-4">
                           <div class="info-box">
                             <span class="info-box-icon bg-aqua"><i class="fa fa-video-camera"></i></span>
                             <div class="info-box-content">
                               <span class="info-box-text">Camera #1</span>
                               <span class="info-box-description">Location 1.1</span>
                              <!-- <div class="col-xs-12 bottom text-center"> -->
                      <!--    <div class="col-xs-12 col-sm-6 emphasis"> -->
                            <p class="ratings">
                              <span class="active_data"><a href="/#" class="fa fa-bar-chart fa-2x" title="connection established, see details"> </a> </span>
                            </p>
                      <!--    </div> -->
                    <!--    </div> -->
                             </div>

                           </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-video-camera"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">Camera #2</span>
                              <span class="info-box-description">Location 1.2</span>
                              <p class="ratings">
                                <span class="inactive_data"><i class="fa fa-bar-chart fa-2x"> </i></span>
                                <!-- <span class="inactive_data_img"><img src="img/icons/data_request.png"></span> -->
                                <span class="inactive_data_img"><a href="#"><img src="img/icons/data_request.png" title="send data request"></a></span>
                                <!-- <span class="inactive_data_img"><input type="image" src="img/icons/data_request.png"/></span> -->
                              </p>
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-video-camera"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">Camera #3</span>
                              <span class="info-box-description">Location 2.1</span>
                              <p class="ratings">
                                <span class="inactive_data"><i class="fa fa-bar-chart fa-2x"> </i> </span>
                                <span class="request_sent"><img src="img/icons/request_sent.png" title="data request sent"></span>
                              </p>
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-video-camera"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">Camera #4</span>
                              <span class="info-box-description">Location 2.2</span>
                              <div class="btn-group-sm btn-block loc_a ">
                                <button type="button" class="btn col-lg-10 btn-default ">

                                   <i class="fa fa-bar-chart fa-lg"></i><i class="fa fa-check fa-lg"></i>&nbsp;Active connection</button>

                                <button type="button" class="btn col-lg-2 btn-default dropdown-toggle" data-toggle="dropdown">
                                  <span class="caret"></span>
                                  <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a ><i class="fa fa-chain-broken fa-lg"></i>&nbsp;Interrupt connection</a></li>
                                </ul>
                              </div>


                              <!-- <a href="#" class="btn-sm btn-primary btn-block loc_a greyc" >
                                 <i class="fa fa-chain-broken fa-lg"></i>
                                  &nbsp;<b>Interrupt connection</b>
                             </a> -->
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-video-camera"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">Camera #5</span>
                              <span class="info-box-description">Location 3.1</span>

                              <!-- <div class="btn-group btn-block">
                                <button type="button" class="btn col-lg-10 btn-unsuccess ">
                                  <i class="fa fa-times fa-lg"></i>&nbsp;<b>No connection</b></button>
                                <button type="button" class="btn col-lg-2 btn-unsuccess dropdown-toggle" data-toggle="dropdown">
                                  <span class="caret"></span>
                                  <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a ><i class="fa fa-bar-chart fa-lg"></i>
                                  <i class="fa fa-plus fa-lg"></i>&nbsp;Send data request</a></li>
                                </ul>
                              </div> -->

                              <a href="#" class="btn-sm btn-success btn-block loc_a" >
                                 <i class="fa fa-bar-chart fa-lg"></i>
                                 <i class="fa fa-plus fa-lg"></i>
                                  &nbsp;<b>Get access!</b>
                             </a>

                              <!-- <p class="ratings">
                                <a href="#"><span class="fa fa-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                              </p> -->
                            </div>
                          </div>
                         </div>

                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-video-camera"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">Camera #6</span>
                              <span class="info-box-description">Location 3.2</span>
                              <p class="ratings">
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                              </p>
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-video-camera"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">Camera #4</span>
                              <span class="info-box-description">Location 2.2</span>

                              <!-- <div class="btn-group btn-block">
                                <button type="button" class="btn col-lg-10 btn-unsuccess ">
                                  <i class="fa fa-chain-broken fa-lg"></i>&nbsp;<b>Connection interrupted</b></button>
                                <button type="button" class="btn col-lg-2 btn-unsuccess dropdown-toggle" data-toggle="dropdown">
                                  <span class="caret"></span>
                                  <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a ><i class="fa fa-bar-chart fa-lg"></i>
                                  <i class="fa fa-plus fa-lg"></i>&nbsp;Send data request</a></li>
                                </ul>
                              </div> -->

                              <!-- <a href="#" class="btn-sm btn-primary btn-block loc_a gree" >
                                 <i class="fa fa-bar-chart fa-lg"></i>
                                 <i class="fa fa-plus fa-lg"></i>
                                  &nbsp;<b>Send data
                                request</b>
                             </a> -->
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-video-camera"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">Camera #5</span>
                              <span class="info-box-description">Location 3.1</span>

                              <!-- <div class="btn-group btn-block">
                                <button type="button" class="btn col-lg-10 btn-success ">
                                  <i class="fa fa-envelope-o fa-lg"></i><i class="fa fa-check fa-lg"></i>&nbsp;<b>Data request sent</b></button>
                                <button type="button" class="btn col-lg-2 btn-success dropdown-toggle" data-toggle="dropdown">
                                  <span class="caret"></span>
                                  <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a ><i class="fa fa-envelope fa-lg"></i><i class="fa fa-times fa-lg"></i>&nbsp;Cancel data request</a></li>
                                </ul>
                              </div> -->

                              <a href="#" class="btn-sm btn-default btn-block loc_a " >
                                 <i class="fa fa-bar-chart fa-lg"></i>
                                 <i class="fa fa-times fa-lg"></i>
                                  &nbsp;Cancel requested
                             </a>
                              <!-- <p class="ratings">
                                <a href="#"><span class="fa fa-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                              </p> -->
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-video-camera"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">Camera #6</span>
                              <span class="info-box-description">Location 3.2</span>
                              <p class="ratings">
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                              </p>
                            </div>
                          </div>
                         </div>
                       </div>
                     </div>
                     <div class="box-footer clear-fix">
                       <ul class="pagination pagination-sm no-margin pull-right">
                         <li><a href="#">«</a></li>
                         <li><a href="#">1</a></li>
                         <li><a href="#">2</a></li>
                         <li><a href="#">»</a></li>
                       </ul>
                     </div>

                   </div>

                 </div>
                 <div class="panel box box-danger">
                   <div class="box-header with-border">
                     <h4 class="box-title">
                       <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                         Security trust s.r.o.
                       </a>
                     </h4>
                     <div class="box-tools">
                       <div class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Share with Everybody (Public)
                           <span class="caret"></span>
                         </a>

                         <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Only me (Private)</a></li>
                            <li><a href="#">Neighbourhood</a></li>
                            <li><a href="#">Everybody (Public)</a></li>
                         </ul>
                        </div>
                     </div>
                   </div>

                   <div id="collapseTwo" class="panel-collapse collapse">
                     <div class="box-body box-bg-grey">
                       <div class="row">
                         <div class="col-md-4">
                           <div class="info-box">
                             <span class="info-box-icon bg-aqua"><i class="fa fa-calculator"></i></span>
                             <div class="info-box-content">
                               <span class="info-box-text">Security sensor #1</span>
                               <span class="info-box-description">Floor 1</span>
                               <p class="ratings">
                                 <a href="#"><span class="fa fa-check-square-o"></span></a>
                                 <a href="#"><span class="fa fa-check-square-o"></span></a>
                                 <a href="#"><span class="fa fa-check-square-o"></span></a>
                                 <a href="#"><span class="fa fa-check-square-o"></span></a>
                                 <a href="#"><span class="fa fa-check-square-o"></span></a>
                               </p>
                             </div>
                           </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-calculator"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">Security sensor #2</span>
                              <span class="info-box-description">Floor 2</span>
                              <p class="ratings">
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                              </p>
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-calculator"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">Security sensor #3</span>
                              <span class="info-box-description">Floor 3</span>
                              <p class="ratings">
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                              </p>
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-calculator"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">Security sensor #4</span>
                              <span class="info-box-description">Floor 4</span>
                              <p class="ratings">
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                              </p>
                            </div>
                          </div>
                         </div>
                      <!--   <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-cubes"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">ACME ElectroMeter #5</span>
                              <span class="info-box-description">Room 1.005</span>
                            </div>
                          </div>
                        </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-cubes"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">ACME ElectroMeter #6</span>
                              <span class="info-box-description">Room 1.006</span>
                            </div>
                          </div>
                         </div>  -->
                       </div>

                     </div>
                     <div class="box-footer clear-fix">
                       <ul class="pagination pagination-sm no-margin pull-right">
                         <li><a href="#">«</a></li>
                         <li><a href="#">1</a></li>
                         <li><a href="#">2</a></li>
                         <li><a href="#">»</a></li>
                       </ul>
                     </div>
                   </div>
                 </div>
                 <div class="panel box box-success">
                   <div class="box-header with-border">
                     <h4 class="box-title">
                       <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                         NETFLIX
                       </a>
                     </h4>
                     <div class="box-tools">
                       <div class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Share with Everybody (Public)
                           <span class="caret"></span>
                         </a>

                         <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Only me (Private)</a></li>
                            <li><a href="#">Neighbourhood</a></li>
                            <li><a href="#">Everybody (Public)</a></li>
                         </ul>
                        </div>
                     </div>
                   </div>
                   <div id="collapseThree" class="panel-collapse collapse">
                     <div class="box-body box-bg-grey">
                       <div class="row">
                         <div class="col-md-4">
                           <div class="info-box">
                             <span class="info-box-icon bg-aqua"><i class="fa fa-television"></i></span>
                             <div class="info-box-content">
                               <span class="info-box-text">UN46D6000SF</span>
                               <span class="info-box-description">Appartment 1.1</span>
                               <p class="ratings">
                                 <a href="#"><span class="fa fa-square-o"></span></a>
                                 <a href="#"><span class="fa fa-square-o"></span></a>
                                 <a href="#"><span class="fa fa-square-o"></span></a>
                                 <a href="#"><span class="fa fa-square-o"></span></a>
                                 <a href="#"><span class="fa fa-square-o"></span></a>
                               </p>
                             </div>
                           </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-television"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">AD48D6010ZA</span>
                              <span class="info-box-description">Appartment 1.3</span>
                              <p class="ratings">
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                              </p>
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-television"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">WQ51E6001AG</span>
                              <span class="info-box-description">Appartment 2.2</span>
                              <p class="ratings">
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                              </p>
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-television"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">MN236W8100PL</span>
                              <span class="info-box-description">Appartment 2.4</span>
                              <p class="ratings">
                                <a href="#"><span class="fa fa-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                              </p>
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-television"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">TR22U7001SA</span>
                              <span class="info-box-description">Appartment 3.11</span>
                              <p class="ratings">
                                <a href="#"><span class="fa fa-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                              </p>
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-television"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">RT64G1001GF</span>
                              <span class="info-box-description">Appartmnet 3.13</span>
                              <p class="ratings">
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                              </p>
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-television"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">MA91W7800PP</span>
                              <span class="info-box-description">Appartment 4.4</span>
                              <p class="ratings">
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                              </p>
                            </div>
                          </div>
                         </div>
                       </div>

                     </div>
                     <div class="box-footer clear-fix">
                       <ul class="pagination pagination-sm no-margin pull-right">
                         <li><a href="#">«</a></li>
                         <li><a href="#">1</a></li>
                         <li><a href="#">2</a></li>
                         <li><a href="#">»</a></li>
                       </ul>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
             <!-- /.box-body -->
           </div>
           <!-- /.box -->
        </div>
      </div>
</section>
