<section class="content-header">
  <h1>All services</h1>
</section>


<section class="content">

  <!-- Filter -->
  <div class="box-header with-border" style >
    <div class="box-tools">
      <div class="dropdown">
        <a ui-sref="root.main.allServices" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-filter"></i> Item selection
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
           <li><a ng-click="filterItems(0)" ui-sref="root.main.allServices">My disabled {{typeOfItem}}</a></li>
           <li><a ng-click="filterItems(1)" ui-sref="root.main.allServices">My private {{typeOfItem}}</a></li>
           <li><a ng-click="filterItems(2)" ui-sref="root.main.allServices">My {{typeOfItem}} for friends</a></li>
           <li><a ng-click="filterItems(3)" ui-sref="root.main.allServices">My public {{typeOfItem}}</a></li>
           <li><a ng-click="filterItems(4)" ui-sref="root.main.allServices">My {{typeOfItem}}</a></li>
           <li><a ng-click="filterItems(5)" ui-sref="root.main.allServices">All {{typeOfItem}} for friends</a></li>
           <li><a ng-click="filterItems(6)" ui-sref="root.main.allServices">All public {{typeOfItem}}</a></li>
           <li><a ng-click="filterItems(7)" ui-sref="root.main.allServices">All {{typeOfItem}}</a></li>
        </ul>
       </div>
    </div>
  </div>

<hr>

<!-- Start -->
  <div class="row">

    <!-- onlyPrivateDevices -->
    <div ng-show="noItems" >
       <h2 style="margin-left:20px;">No {{typeOfItem}} found for the current selection...</h2>
   </div>

    <div ng-show="loadedPage" class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="it in items | nameFilter:searchTerm">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div style="z-index: -2" class="widget-user-header3 bg-service">

          <div class="round">
            <img style="cursor: pointer" onmouseover="" ui-sref="root.main.serviceProfile.whoSee({serviceId: it._id})" ng-src="{{it.avatar}}" alt="Company Avatar">
          </div>

          <div class="tooltip2" id="circle_gray" style="cursor:default"> &nbsp; &nbsp; &nbsp;
            <span class="tooltiptext2"> Unknown </span>
          </div>

          <h3 class="widget-user-username2"><a style="color: #000; z-index: -1" href="" ui-sref="root.main.serviceProfile.whoSee({serviceId: it._id})">{{it.name}}</a></h3>
          <h5 class="widget-user-desc2"><a style="text-decoration: underline; color: #FFF" href="" ui-sref="root.main.companyProfile.services({companyAccountId: it.cid.id._id})">{{it.cid.id.name}}</a></h5>
          <h5 class="widget-user-desc2" ng-show="!it.isOwner && it.contracted > 0">Contracted {{it.contracted}} time(s)</h5>
          <h5 class="widget-user-desc2" ng-show="it.status === 'enabled'">Enabled</h5>
          <h5 class="widget-user-desc2" ng-show="it.status === 'disabled'">Disabled</h5>
          <h5 class="widget-user-desc2" ng-show="it.isPublic">Service is public</h5>
          <h5 class="widget-user-desc2" ng-show="it.isFriendData">Access for friends</h5>
          <h5 class="widget-user-desc2" ng-show="it.isPrivate">Private data</h5>
          <img ng-if="it.adid.type === 'vcnt'" class="pull-right widget-logo-vcnt" src="img/logos/vcntlogo.png"/>
          <img ng-if="it.adid.type === 'shq'" class="pull-right widget-logo-shq" src="img/logos/shqlogo.png"/>
        </div>

        <div class="widget-user-footer-moreinfo2" ng-show="!it.isOwner && canRequestService">
          <a href="" ui-sref="root.main.requestService({companyAccountId: it.cid.id._id, serviceId: it._id})" class=" btn-xs btn-success btn-block">
             <i class="fa fa-plus fa-lg"></i>
              &nbsp;<b>Request service</b>
         </a>
        </div>

        <div class="widget-user-footer-moreinfo2 bg-primary" ng-show="!it.isOwner && it.contracted" >
          <i class="fa fa-bar-chart fa-lg"></i>
              &nbsp;<b>Service in use</b>
        </div>

        <div class="widget-user-footer-moreinfo2 bg-warning" ng-show="!it.isOwner && !it.contracted && !canRequestService" >
          <i class="fa fa-bar-chart fa-lg"></i>
              &nbsp;<b>Friend service</b>
        </div>

        <div class="widget-user-footer-moreinfo2 bg-teal" ng-show="it.isOwner">
             <i class="fa fa-user fa-lg"></i>
              &nbsp;<b>My service</b>
        </div>

        <a href="" ui-sref="root.main.serviceProfile.whoSee({serviceId: it._id})" class="widget-user-footer-moreinfo" >More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>

  </div>

  <div class="coll-md-1" ng-hide="loaded" style="margin: auto; width:60%">
    <i class="fa fa-refresh fa-spin fa-4x" style="text-align: center; display: block"/>
  </div>

  <div class="centered" ng-show="!allItemsLoaded && loaded">
    <h3 ng-click="loadMore()" class="well" style="cursor: pointer">Load more items</h3>
  </div>

  <div class="centered" ng-show="allItemsLoaded && !noItems">
    <h3 class="well">All items loaded!</h3>
  </div>

</section>
