<section class="content-header">
  <h1>Search results</h1>
</section>


<section class="content">
  <div class="row">
    <div class="col-md-4" ng-repeat="result in resultsList | filter: searchFilter">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-yellow">
          <div class="widget-user-image">
            <img class="img-circle" ng-src="{{result.avatar}}" alt="User Avatar">
          </div>
          <!-- /.widget-user-image -->
          <h3 class="widget-user-username">{{result.accountOf.name}}</h3>
          <h5 class="widget-user-desc">{{result.accountOf.occupation}} - {{result._id}}</h5>
        </div>
        <a href="" class="widget-user-footer-moreinfo" ui-sref="root.main.profile.neigbourhood({userAccountId: result._id})">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
  </div>
</section>
