<section class="content-header">
  <h1>My devices</h1>
</section>


<section class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Share with
              <span class="caret"></span>
            </a>

            <ul class="dropdown-menu" role="menu">
               <li><a href="#">Only me (Private)</a></li>
               <li><a href="#">Neighbourhood</a></li>
               <li><a href="#">Everybody (Public)</a></li>
            </ul>
           </div> -->
           <div class="box box-solid">
             <div class="box-header with-border">
               <h3 class="box-title">...</h3>
             </div>
             <!-- /.box-header -->
             <div class="box-body">
               <div class="box-group" id="accordion">
                 <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                 <div class="panel box box-warning">
                   <div class="box-header with-border">
                     <h4 class="box-title">
                       <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                         My devices
                       </a>
                     </h4>
                     <div class="box-tools">
                       <div class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">See only
                           <span class="caret"></span>
                         </a>

                         <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a href="#">Private (Only me)</a></li>
                            <li><a href="#">Metadata shared with friends</a></li>
                            <li><a href="#">Public (Everybody)</a></li>
                         </ul>
                        </div>
                     </div>
                   </div>
                   <div id="collapseThree" class="panel-collapse collapse">
                     <div class="box-body box-bg-grey">
                       <div class="row">
                         <div class="col-md-4">
                           <div class="info-box">
                             <span class="info-box-icon bg-aqua"><img src="/app/img/tap_water2.png"></img></span>
                             <div class="info-box-content">
                               <span class="info-box-text">UN46D6000SF</span>
                               <span class="info-box-description">Appartment 1.1</span>
                               <!-- <p class="ratings">
                                 <a href="#"><span class="fa fa-square-o"></span></a>
                                 <a href="#"><span class="fa fa-square-o"></span></a>
                                 <a href="#"><span class="fa fa-square-o"></span></a>
                                 <a href="#"><span class="fa fa-square-o"></span></a>
                                 <a href="#"><span class="fa fa-square-o"></span></a>
                               </p> -->
                             </div>
                           </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-aqua"><img src="/app/img/tap_water2.png"></img></span>
                            <div class="info-box-content">
                              <span class="info-box-text">AD48D6010ZA</span>
                              <span class="info-box-description">Appartment 1.3</span>
                              <!-- <p class="ratings">
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                              </p> -->
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-orange"><img src="/app/img/heat_sensor.png"></img></span>
                            <div class="info-box-content">
                              <span class="info-box-text">WQ51E6001AG</span>
                              <span class="info-box-description">Appartment 2.2</span>
                              <!-- <p class="ratings">
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                              </p> -->
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-orange"><img src="/app/img/heat_sensor.png"></span>
                            <div class="info-box-content">
                              <span class="info-box-text">MN236W8100PL</span>
                              <span class="info-box-description">Appartment 2.4</span>
                              <!-- <p class="ratings">
                                <a href="#"><span class="fa fa-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                              </p> -->
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-orange"><img src="/app/img/heat_sensor.png"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">TR22U7001SA</span>
                              <span class="info-box-description">Appartment 3.11</span>
                              <!-- <p class="ratings">
                                <a href="#"><span class="fa fa-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                                <a href="#"><span class="fa fa-square-o"></span></a>
                              </p> -->
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-yellow"><i class="fa fa-calculator"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">RT64G1001GF</span>
                              <span class="info-box-description">Appartmnet 3.13</span>
                              <!-- <p class="ratings">
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                              </p> -->
                            </div>
                          </div>
                         </div>
                         <div class="col-md-4">
                          <div class="info-box">
                            <span class="info-box-icon bg-yellow"><i class="fa fa-calculator"></i></span>
                            <div class="info-box-content">
                              <span class="info-box-text">MA91W7800PP</span>
                              <span class="info-box-description">Appartment 4.4</span>
                              <!-- <p class="ratings">
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                                <a href="#"><span class="fa fa-check-square-o"></span></a>
                              </p> -->
                            </div>
                          </div>
                         </div>
                       </div>

                     </div>
                     <div class="bottomLeft">
                       <h5 class="box-title">
                         <a >
                           Make listed devices to be:
                         </a>
                       </h5>
                     <form action="http://www.cs.tut.fi/cgi-bin/run/~jkorpela/checkcombo.pl" ><div>     <!--.asp?-->
                       <select name="menu" class="box-title">
                         <option value="1">Visible only for me (Private)</option>
                         <option value="2">Seen their metadata by friends</option>
                         <option value="3">Seen by everyone (Public)</option>
                       </select>
                       <div ><input type="submit" value="Ok" class="btn-xs btn-primary"></div>
                     </form>
                    </div>
                    </div>
                     <div class="box-footer clearfix pull-right">
                       <!-- <h4 class="box-title">
                         <a >
                           Make listed devices to be:
                         </a>
                       </h4> -->
                        <!-- <form action="">
                            <input type="radio" name="gender" > Visible only for me (Private) &nbsp;
                            <input type="radio" name="gender" > Seen their metadata by friends &nbsp;
                            <input type="radio" name="gender" > Seen by everyone (Public)
                        </form> -->

                        <!-- <input type="text" list="browsers" class="pull-right"></input>
                        <datalist id="browsers">
                          <option value="Internet Explorer">
                          <option value="Firefox">
                          <option value="Chrome">
                          <option value="Opera">
                          <option value="Safari">
                        </datalist> -->

                        <!-- <form action="http://www.cs.tut.fi/cgi-bin/run/~jkorpela/checkcombo.pl" class="pull-right"><div>
                          <select name="menu">
                            <option value="0" selected>(please select:)</option>
                            <option value="1">one</option>
                            <option value="2">two</option>
                            <option value="3">three</option>
                            <option value="other">other, please specify:</option>
                          </select>
                          <div><input type="submit" value="Ok"></div>
                        </form> -->

                       <ul class="pagination pagination-sm no-margin">
                         <li><a href="#">«</a></li>
                         <li><a href="#">1</a></li>
                         <li><a href="#">2</a></li>
                         <li><a href="#">»</a></li>
                       </ul>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
             <!-- /.box-body -->
           </div>
           <!-- /.box -->
        </div>
      </div>
</section>
