<section class="content-header">
  <h1>Neigbourhood</h1>
</section>

<section class="content">
  <div class="row">
    <div id="ramik"class="input-group bvr2-navbar-form navbar-right col-md-2 ">
      <input id="bvr-search-input" type="text" name="q" class="form-control" placeholder="Search..." ng-model="searchTerm">
      <span class="input-group-btn">
        <button  type="submit" name="search" id="search-btn" class="btn btn-flat" ><i class="fa fa-search"></i>      <!-- ui-sref="root.main.neighbourhood({searchTerm: searchTerm})" -->
        </button>
      </span>
    </div>
  </div>
  <div class="row">

    <!-- onlyPrivateDevices -->
    <div ng-show="onlyPrivateDevices" >
       <span style="margin-left:20px;" class="info-box-description">There is no shared device with you.</span>
   </div>

   <!-- vypis devices -->
    <div class="col-md-3" ng-repeat="dev in devs | filter: searchFilter">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-yellow">
          <div class="widget-user-image">
            <img class="img-circle" ng-src="{{dev.avatar}}" alt="Comapany Avatar">
          </div>
          <!-- /.widget-user-image -->
          <h3 class="widget-user-username">{{dev.name}}</h3>
          <h5 class="widget-user-desc">{{dev.hasAdministrator[0].organisation}}</h5>
        </div>
        <a href="" class="widget-user-footer-moreinfo" ui-sref="root.main.companyProfile.friends({companyAccountId: result._id})">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>

  </div>
</section>
