<!-- Menu toggle button -->
<a href="" class="dropdown-toggle" data-toggle="dropdown" style="padding-top: 10px; padding-bottom: 11px">
  <i class="fa fa-child fa-2x"></i><i class="fa fa-plus"></i>
  <!-- <span ng-show="!zeroNotif" class="label label-warning">{{notifs.length}}</span> -->
</a>

<ul id="invitLi" class="dropdown-menu" style="border: 0px; margin-top: 1px">
  <!-- <li ng-show="!oneNotif" class="header">You have {{notifs.length}} new notifications</li> -->
  <!-- <li ng-show="oneNotif" class="header">You have 1 new notification</li> -->
  <li id="invitLi">
    <!-- Inner Menu: contains the notifications -->
    <ul id="invitations" class="menu">
      <li >    <!-- | filter: searchfilter1-->
        <a id="invit" href="" ng-click="alertPopUp2()" style="color: #FFF"><i class="fa fa-building-o" ></i>Invite other company to join Vicinity</a>
      </li>
      <li ng-show="isAdmin">    <!-- | filter: searchfilter1-->
        <a id="invit" href="" ng-click="alertPopUp1()" style="color: #FFF"><i class="fa fa-user-plus"></i>Invite new user from {{comp.organisation}} to join Vicinity</a>
      </li>

      <!-- end notification -->
    </ul>
  </li>
  <!-- <li class="footer"><a href="">View all</a></li> -->
</ul>

<div id="myModal2" class="modal">

  <form name="myForm2" id="login-wrap" role="form">

    <div class="modal-content">
      <div class="modal-header" id="bvrModal">
        <span ng-click="closeNow2()" id="closing" class="close">×</span>
        <h2>Invite new company to join Vicinity</h2>
      </div>
      <div class="modal-body">
        <span style="display: block; padding: 7px"><p style="display: inline-block; width: 135px">Name of the company: </p><span style="color: red">* </span><input type="text" ng-model="nameCompany" required></input></span>
        <span style="display: block; padding: 7px"><p style="display: inline-block; width: 135px">Email address: </p><span style="color: red">* </span><input type="email" ng-model="emailCompany" id="emailVer2" required></input></span>
      </div>
      <a ng-click="inviteCompany(myForm2.$valid)" href="">
        <div class="modal-footer" id="bvrModal-footer">
          <h3>Send invitation</h3>
        </div>
      </a>
    </div>

  </form>

</div>

<!-- <div id="myModal2" class="modal">

  <div class="modal-content">
    <div class="modal-header" id="bvrModal">
      <span ng-click="closeNow2()" id="closing" class="close">×</span>
      <h2>Invite new company to join Vicinity</h2>
    </div>
    <div id="login-wrap" class="modal-body">
      <span style="display: block; padding: 7px"><p style="display: inline-block; width: 135px">Name of the company: </p><input type="text" ng-model="nameCompany" ></input></span>
      <span style="display: block; padding: 7px"><p style="display: inline-block; width: 135px">Email address: </p><input id="emailVer" type="email" ng-model="emailCompany"></input></span>
    </div>
    <a ng-click="inviteCompany()" href="">
      <div class="modal-footer" id="bvrModal-footer">
        <h3>Send invitation</h3>
      </div>
    </a>
  </div>

</div> -->


<div id="myModal1" class="modal">

  <form name="myForm" id="login-wrap" role="form">

    <div class="modal-content">
      <div class="modal-header" id="bvrModal">
        <span ng-click="closeNow1()" id="closing" class="close">×</span>
        <h2>Invite new user from {{comp.organisation}} to join Vicinity</h2>
      </div>
      <div class="modal-body">
        <span style="display: block; padding: 7px"><p style="display: inline-block; width: 90px">Name of user: </p><span style="color: red">*</span><input class="style-1" name="userName" type="text" ng-model="nameUser" required></span>
        <span style="display: block; padding: 7px"><p style="display: inline-block; width: 90px">Email address: </p><span style="color: red">*</span><input name="userEmail" type="email" class="style-1" ng-model="emailUser" id="emailVer" required></span>
      </div>
      <a ng-click="inviteUser(myForm.$valid)" href="">
        <div class="modal-footer" id="bvrModal-footer">
          <h3>Send invitation</h3>
        </div>
      </a>
    </div>

  </form>

</div>

<!-- <div id="myModal1" class="modal">

  <div class="modal-content">
    <div class="modal-header" id="bvrModal">
      <span ng-click="closeNow1()" id="closing" class="close">×</span>
      <h2>Invite new user from {{comp.organisation}} to join Vicinity</h2>
    </div>
    <div class="modal-body">
      <span style="display: block; padding: 7px"><p style="display: inline-block; width: 90px">Name of user: </p><input class="style-1" type="text" ng-model="nameUser"></input></span>
      <span style="display: block; padding: 7px"><p style="display: inline-block; width: 90px">Email address: </p><input type="email" class="style-1" ng-model="emailUser"></input></span>
    </div>
    <a ng-click="inviteUser()" href="">
      <div  class="modal-footer" id="bvrModal-footer">
        <h3>Send invitation</h3>
      </div>
    </a>
  </div>

</div> -->
