<section class="content-header">
  <h1>All services</h1>
</section>


<section class="content">

  <!-- Filter -->
  <div class="box-header with-border" style >
    <div class="box-tools">
      <div class="dropdown">
        <a ui-sref="root.main.alldevices" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-filter"></i> Item selection
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
           <li><a ng-click="filterItems(0)" ui-sref="root.main.alldevices">My disabled {{typeOfItem}}</a></li>
           <li><a ng-click="filterItems(1)" ui-sref="root.main.alldevices">My private {{typeOfItem}}</a></li>
           <li><a ng-click="filterItems(2)" ui-sref="root.main.alldevices">My shared {{typeOfItem}}</a></li>
           <li><a ng-click="filterItems(3)" ui-sref="root.main.alldevices">My public {{typeOfItem}}</a></li>
           <li><a ng-click="filterItems(4)" ui-sref="root.main.alldevices">My {{typeOfItem}}</a></li>
           <li><a ng-click="filterItems(5)" ui-sref="root.main.alldevices">All shared {{typeOfItem}}</a></li>
           <li><a ng-click="filterItems(6)" ui-sref="root.main.alldevices">All public {{typeOfItem}}</a></li>
           <li><a ng-click="filterItems(7)" ui-sref="root.main.alldevices">All {{typeOfItem}}</a></li>
        </ul>
       </div>
    </div>
  </div>

<hr>
<!-- Start -->
  <div class="row">

    <!-- onlyPrivateDevices -->
    <div ng-show="noItems" >
       <h2 style="margin-left:20px;">No {{typeOfItem}} found for the current selection...</h2>
   </div>

    <div ng-show="loadedPage" class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="it in items | nameFilter:searchTerm">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div style="z-index: -2" class="widget-user-header3 bg-service">

          <div class="round">
            <img style="cursor: pointer" onmouseover="" ui-sref="root.main.serviceProfile.whoSee({serviceId: it._id})" ng-src="{{it.avatar}}" alt="Company Avatar">
          </div>

          <div class="tooltip2" id="circle_gray" style="cursor:default"> &nbsp; &nbsp; &nbsp;
            <span class=" tooltiptext2" > Unknown </span>
          </div>

          <h3 class="widget-user-username2"><a style="color: #000; z-index: -1" href="" ui-sref="root.main.serviceProfile.whoSee({serviceId: it._id})">{{it.name}}</a></h3>
          <h5 class="widget-user-desc2"><a style="text-decoration: underline; color: #FFF" href="" ui-sref="root.main.companyProfile.services({companyAccountId: it.hasAdministrator[0]._id})">{{it.hasAdministrator[0].organisation}}</a></h5>
          <h5 class="widget-user-desc2">{{it.accessLevelCaption}}</h5>
          <!-- <h5 class="widget-user-desc2">{{it.info.location}}</h5> -->
          <h5 ng-show="it.seeData && !it.isOwner" class="widget-user-desc2 label label-success"><i class="fa fa-link" aria-hidden="true"></i>  Data Access</h5>
          <h5 ng-show="!it.seeData && !it.isOwner" class="widget-user-desc2 label label-default"><i class="fa fa-chain-broken" aria-hidden="true"></i>  No Data Access</h5>

        </div>

        <div  class="widget-user-footer-moreinfo2" ng-show="it.isUnderRequest && !it.cancelRequest && !it.interruptConnection">
          <a href=""  ng-click="processMyAccess(it._id)" class=" btn-xs btn-success btn-block" >
             <i class="fa fa-bar-chart fa-lg"></i>
             <i class="fa fa-plus fa-lg"></i>
              &nbsp;<b>Get access!</b>
         </a>
        </div>

        <div class="widget-user-footer-moreinfo2" ng-show="it.isUnderRequest && it.cancelRequest">
         <a href=""  ng-click="cancelMyRequest(it._id)"  class="btn-xs btn-default btn-block" >
            <i class="fa fa-bar-chart fa-lg"></i>
            <i class="fa fa-times fa-lg"></i>
             &nbsp;Cancel request
        </a>
        </div>

        <div class="widget-user-footer-moreinfo2" ng-show="it.isUnderRequest && it.interruptConnection">
         <a href=""  ng-click="cancelMyAccess(it._id)"  class="btn-xs btn-default btn-block" >
            <i class="fa fa-chain-broken fa-lg"></i>
             &nbsp;Interrupt connection
        </a>
        </div>


        <div class="widget-user-footer-moreinfo3" ng-show="it.isPublic" >
        <span><i href="/#" class="fa fa-bar-chart fa-1x"></i> <strong> Service is public </strong> </span>
        </div>

        <div class="widget-user-footer-moreinfo3" ng-show="it.isFriendData">
        <span><i href="/#" class="fa fa-bar-chart fa-1x" > </i> <strong>Access for friends</strong></span>
        </div>

        <div class="widget-user-footer-moreinfo3" ng-show="it.isPrivate">
        <span><i href="/#" class="fa fa-bar-chart fa-1x" > </i> <strong>Private data</strong></span>
        </div>

        <div class="widget-user-footer-moreinfo3" ng-show="it.isOwner">
        <span><strong>My service</strong></span>
        </div>

        <a href="" ui-sref="root.main.serviceProfile.whoSee({serviceId: it._id})" class="widget-user-footer-moreinfo" >More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>

  </div>

  <div class="coll-md-1" ng-hide="loaded" style="margin: auto; width:60%">
    <i class="fa fa-refresh fa-spin fa-4x" style="text-align: center; display: block"/>
  </div>

  <div class="centered" ng-show="!allItemsLoaded && loaded">
    <h3 ng-click="loadMore()" class="well" style="cursor: pointer">Load more items</h3>
  </div>

  <div class="centered" ng-show="allItemsLoaded && !noItems">
    <h3 class="well">All items loaded!</h3>
  </div>

</section>
