<section class="content-header">
    <h1>Organisation Access Points</h1>
</section>

<div class="coll-md-1" ng-hide="loadedPage" style="margin: auto; width:60%">
  <i class="fa fa-refresh fa-spin fa-4x" style="text-align: center; display: block"/>
</div>

  <!-- /.box-header -->
<section class="content" ng-show="loadedPage && !imMobile">
  <span class="col-xs-2 pull-right">
  <div>
    <button class="btn btn-default" ng-click="goToEdit(0)"><span class="glyphicon glyphicon-plus"></span>Create Access Point</button>
  </div>
  <!-- <div class="col-xs-6">
    <button class="btn btn-default btn-block" ng-click="createGroup()" ng-disabled="true"><span class="glyphicon glyphicon-plus"></span>Create group</button>
  </div> -->
  </span>
  <hr>
<div class="box">
  <div class="box-body">
    <table id="RegTable" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name<i ng-click="orderByMe('name')" class="fa fa-fw fa-sort"/></th>
          <th>AGID<i ng-click="orderByMe('adid')" class="fa fa-fw fa-sort"/></th>
          <th>Types<i ng-click="orderByMe('types')" class="fa fa-fw fa-sort"/></th>
          <th># Items<i ng-click="orderByMe('# Items')" class="fa fa-fw fa-sort"/></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="nod in nodes | orderBy:myOrderBy:rev">
          <td class="col-sm-3">
            <a ui-sref="root.main.nodeDetail({nodeId: nod.adid})"><span>{{nod.name}}</span></a>
          </td>
          <td class="col-sm-3">
            <span>{{nod.adid}}</span>
          </td>
          <td class="col-sm-3">
            <div class="row">
              <div class="col-sm-6">
                <span>{{nod.type[0]}}</span>
              </div>
              <div class="col-sm-6">
                <img ng-hide="nod.type[0] === 'generic.adapter.sharq.eu'" class="pull-right node-logo" src="img/logos/vcntlogo.png"/>
                <img ng-show="nod.type[0] === 'generic.adapter.sharq.eu'" class="pull-right node-logo" src="img/logos/shqlogo.png"/>
              </div>
            </div>
          </td>
          <td class="col-sm-1">
            <span>{{nod.numItems}}</span>
          </td>
          <!-- <td class="col-sm-2" >
            <div ng-repeat="typ in nod.type">
              <span class="label label-success pull-right">{{typ}}</span>
            </div>
          </td> -->
          <td class="col-sm-2">
              <span>
                <i ng-click="goToEdit(nod.adid)" style="color: black; padding-left:10%" class="fa fa-pencil fa-lg col-sm-6"></i>
                <i ng-click="deleteNode(nod.adid)" style="color: red; padding-left:10%" class="fa fa-close fa-lg col-sm-6"></i>
                <!-- <a ui-sref="root.main.nodeDetail({nodeId: nod._id})"><i style="padding-left:10%" class="fa fa-search fa-lg col-sm-6"></i></a> -->
              </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- /.box-body -->
</section>
<!-- /.box -->

<!-- MOBILE VERSION -->
<section ng-show="loadedPage && imMobile" style="margin: auto; width:80%">
  <hr>
  <span>
    <div>
      <button class="btn btn-default btn-block" ng-click="goToEdit(0)"><span class="glyphicon glyphicon-plus"></span>Create Access Point</button>
    </div>
  </span>
  <hr>
  <span>
    <i ng-click="onSort(false)"  class="fa fa-sort-alpha-asc btn btn-default" aria-hidden="true"></i>
    <i ng-click="onSort(true)"  class="fa fa-sort-alpha-desc btn btn-default" aria-hidden="true"></i>
  </span>
  <hr>
  <div class="box-body box" ng-repeat="nod in nodes | orderBy:'name':rev">
      <div class="col-sm-2">
        <label>Name: </label>
        <a ui-sref="root.main.nodeDetail({nodeId: nod.adid})"><span>{{nod.name}}</span></a>
      </div>
      <div class="col-sm-4">
        <label>AGID: </label>
        <span>{{nod.adid}}</span>
      </div>
      <div class="col-sm-3">
        <label>Type: </label>
        <span>{{nod.type[0]}}</span>
      </div>
      <div class="col-sm-3">
        <div class="col-sm-6">
          <button class="btn btn-info btn-block pull-right" ng-click="goToEdit(nod.adid)">Edit</button>
        </div>
        <hr>
        <div class="col-sm-6">
          <button class="btn btn-danger btn-block pull-right" ng-click="deleteNode(nod.adid)">Delete</button>
        </div>
    </div>
  </div>
  <hr>
</section>
