<section class="content-header">
    <h1>Device logs</h1>
</section>

<br>

<div class="box-group" id="accordion" style="max-width:800px">
  <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
  <div class="panel box-bg-dark-grey box-warning">
    <div class="box-header with-border">
      <div class="box-tools">
        <div class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Select period
            <span class="caret"></span>
          </a>

          <ul class="dropdown-menu dropdown-menu-right" role="menu">
             <li><a ng-click="notificationsDays('today')">Today</a></li>
             <li><a ng-click="notificationsDays('week')">Whole week</a></li>
             <li><a ng-click="notificationsDays('month')">Whole month</a></li>
             <li><a ng-click="notificationsDays('year')">Whole year</a></li>
          </ul>
         </div>
      </div>
    </div>
  </div>
</div>

<div class="coll-md-1" ng-hide="loadedPage" style="margin: auto; max-width:700px">
  <i class="fa fa-refresh fa-spin fa-4x" style="text-align: center; display: block"/>
</div>

 <div class="centered"  ng-show="loadedPage && noLogs">
    <h3 class="well">No logs found...</h3>
 </div>

<!-- /.box-header -->
<section class="content" ng-show="loadedPage && !noLogs">

<div class="box-body">

<div class="row">

  <div class="col-md-12">
    <!-- The time line -->
    <ul class="timeline">
      <!-- timeline time label -->
      <li class="time-label" ng-repeat="d in dates">
            <span class="bg-gray">
              {{ d }}
            </span>

            <div class="timeline-item" style="max-width:700px; margin-top:10px" ng-repeat="log in logs" ng-if="log.dateCaption === d">

              <!-- Clock -->
              <span class="time" > <i class="fa fa-clock-o"></i> {{log.timeCaption}}</span>

                <h3 class="timeline-header bg-warning">

                  <div class="inline">

                    <!-- Label type -->
                    <span ng-show="[1, 41, 11, 21].lastIndexOf(log.type) !== -1"><i class="fa fa-plus my-green"/></span>
                    <span ng-show="[2, 42, 12, 22].lastIndexOf(log.type) !== -1"><i class="fa fa-minus my-red"/></span>
                    <span ng-show="log.type===13"><i class="fa fa-user"/></span>
                    <span ng-show="log.type===23"><i class="fa fa-sitemap"/></span>
                    <span ng-show="[31, 53].lastIndexOf(log.type) !== -1"><i class="fa fa-envelope my-blue"/></span>
                    <span ng-show="[32, 34].lastIndexOf(log.type) !== -1"><i class="fa fa-times my-red"/></span>
                    <span ng-show="log.type===33"><i class="fa fa-user-plus my-green"/></span>
                    <span ng-show="log.type===35"><i class="fa fa-user-times my-red"/></span>
                    <span ng-show="[43, 54].lastIndexOf(log.type) !== -1"><i class="fa fa-arrow-up my-green"/></span>
                    <span ng-show="log.type===44"><i class="fa fa-arrow-down my-red"/></span>
                    <span ng-show="log.type===45"><i class="fa fa-eye"/></span>
                    <span ng-show="log.type===51"><i class="fa fa-chain my-blue"/></span>
                    <span ng-show="log.type===52"><i class="fa fa-chain-broken"/></span>
                    <span ng-show="[46, 56].lastIndexOf(log.type) !== -1"><i class="fa fa-wrench"/></span>
                  </div>

                </h3>

                <!-- Description -->
                <span ng-show="log.type===1">The organisation {{log.target.item.name}} was created</span>
                <!-- <span ng-show="log.type===2">The {{log.orgOrigin.id.name}} was deleted</span> -->
                <span ng-show="log.type===11">The user {{log.object.item.name}} joined Vicinity</span>
                <span ng-show="log.type===12">The user {{log.object.item.name}} left Vicinity</span>
                <span ng-show="log.type===13">The user {{log.object.item.name}} had its roles modified</span>
                <span ng-show="log.type===21">The node {{log.object.extid}} was created</span>
                <span ng-show="log.type===22">The node {{log.object.extid}} was removed</span>
                <span ng-show="log.type===23">The node {{log.object.extid}} was modified</span>

                <span ng-show="log.type===31">Partnership request from {{log.target.item.name}} to {{log.orgDest.id.name}}</span>
                <span ng-show="log.type===32">{{log.target.item.name}} cancelled the partnership request to {{log.object.item.name}}</span>
                <span ng-show="log.type===33">Partnership established between {{log.target.item.name}} and {{log.object.item.name}}</span>
                <span ng-show="log.type===34">Partnership rejected between {{log.target.item.name}} and {{log.object.item.name}}</span>
                <span ng-show="log.type===35">Partnership cancelled between {{log.target.item.name}} and {{log.object.item.name}}</span>

                <span ng-show="log.type===41">The {{log.target.item.name}} was discovered</span>
                <span ng-show="log.type===42">The {{log.object.item.name}} was deleted</span>
                <span ng-show="log.type===43">The {{log.target.item.name}} was enabled</span>
                <span ng-show="log.type===44">The {{log.target.item.name}} was disabled</span>
                <span ng-show="log.type===45">Privacy change in {{log.target.item.name}}: {{log.description}} </span>
                <span ng-show="log.type===46">Item updated: {{log.target.item.name}}</span>

                <span ng-show="log.type===51">Contract stablished between {{log.target.item.name}} and {{log.actor.item.name}} with id: {{log.object.extid}}</span>
                <span ng-show="log.type===52">Contract cancelled between {{log.target.item.name}} and {{log.actor.item.name}} with id: {{log.object.extid}}</span>
                <span ng-show="log.type===53">Contract request between {{log.target.item.name}} and {{log.actor.item.name}} with id: {{log.object.extid}}</span>
                <span ng-show="log.type===54">Contract updated between {{log.target.item.name}} and {{log.actor.item.name}} with new id: {{log.object.extid}}</span>
                <span ng-show="log.type===56">Contract {{log.target.item.name}} updated by {{log.actor.item.name}}</span>

                <br>

                <!-- Initiator -->
                <span>Action performed by <b>{{log.actor.extid}}</b></span>

                </div>
            </li>
        <li>
        <i class="fa fa-clock-o bg-gray"></i>
      </li>
    </ul>
  </div>
</div>
</div>
</section>
