<div class="login-box">
  <div class="login-logo">
    <img src="img/logos/vicinity_logo.png"/>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg"> <a href="http://www.vicinity-h2020.eu"> About project </a> </p>
    <p class="login-box-msg">Log in to start your session</p>

    <!-- <div style="text-align: center" ng-show="isError" class="alert alert-danger">{{error}}</div> -->

    <form id="login-wrap" name="form" role="form" ng-submit="login()">

      <!-- username -->
      <div class="form-group has-feedback">
        <input id="user" type="email" name="username" id="username" class="form-control" ng-model="username" placeholder="Email" required/>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Email address as username is required</span>
      </div>

      <!-- password -->
      <div class="form-group has-feedback">
        <input  type="password" id="pass" class="form-control" placeholder="Password" name="password" username="password" ng-model="password" required/>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <!-- password show password -->
      <!-- <div ng-show="showPass" class="form-group has-feedback">
        <input id="pass" type="text" class="form-control" placeholder="Password" name="password" username="password" ng-model="password" required/>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div> -->

      <div class="checkbox">
        <label>
         <input type="checkbox" id="myCheck"> &nbsp; Show password
        </label>
      </div>

      <!-- <div  class="form-group has-feedback" >
        <input style="background-color: #FF8784" type="password" class="form-control" placeholder={{error}} name="password" username="password" ng-model="password" required/>
        <span style="background-color: #FF8784" class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div> -->

      <div style="text-align: center" id="alert2" ng-show="isError" >{{error}}</div>

      <!-- class="alert alert-danger" -->

      <div class="row">
        <div class="col-xs-3">
          <div class="checkbox">
            <label>
            <!--  <input type="checkbox" disabled> Remember Me -->
        <!-- TODO: Implement remember me functionality -->
            </label>
          </div>
        </div>
        <!-- /.col -->

        <!-- submit button -->
        <div class="col-xs-6">
          <button id="login-button" type="submit" class="btn btn-primary btn-block btn-flat" ng-disabled="form.$invalid || dataLoading">Log In</button>
          <img ng-if="dataLoading" ng-src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
        </div>


        <!-- /.col -->
      </div>
    </form>

  <!--  <a href="#">I forgot my password</a><br>  -->
<!-- TODO: Implement forgot my password functionality -->
 <!--    <a href="#" class="text-center">Register a new member</a> -->
<!-- TODO: Implement register a new membership functionality -->

  </div>
  <!-- /.login-box-body -->
</div>

<footer class="main-footer2">
  <!-- To the right -->
  <div class="pull-right hidden-xs">
    v0.1
  </div>
  <!-- Default to the left -->
  <img src="img/flag_yellow_low.jpg"/>&nbsp; This project has received funding from the European Union’s Horizon 2020 Framework Programme for Research and Innovation under grant agreement no 688467.
  <br>
  <br>
  <strong>Copyright &copy; 2015 <a href="http://www.bavenir.eu" target="_blank">bAvenir, s.r.o </a>.</strong> All rights reserved.
</footer>
