<div class="login-box">

  <!-- // LOGIN LOGO ========================== -->

  <div class="login-logo">
    <img src="img/logos/vcntlogo_big.png"/>
  </div>

  <div id="recoverTmp" class="login-box-body">

    <!-- // About project and type of form (login/reg) -->
    <p class="login-box-msg"> <a href="http://www.vicinity-h2020.eu"> About project </a> </p>

    <form name="formComp" role="form" ng-submit="resetMyPwd()">

    <span style="position: relative; margin-left: 5px; padding-right: 3px; z-index: 1000; background-color: #FFF"><strong>Password reset</strong></span>

      <div  class="form-group has-feedback">
        <span > New password </span><span style="color: red">*</span>
        <input id="pw1" style="width: 60%" type="password" ng-model="password1" class="pull-right" placeholder="Password" required/>
      </div>

      <div  class="form-group has-feedback">
        <span> Repeat password </span><span style="color: red">*</span>
        <input id="pw2" style="width: 60%" type="password" ng-model="password2" class="pull-right" placeholder="Same password again" required/>
      </div>

      <span class="help-block" style="color: green" ng-show="password1===password2 && password2"><i class="fa fa-check"></i> Passwords match!</span>
      <span class="help-block" style="color: red" ng-show="password1!==password2 && password2"><i class="fa fa-times"></i> Passwords not matching</span>

    <div style="margin-top: 50px">
      <button type="submit" class="btn btn-primary btn-block btn-flat" ng-disabled="password1!==password2" >Reset</button>
    </div>

    </form>

  </div>

  <div id="emailSentTmp">
    <div>
      <h3 style="color: green" class="login-box-msg"> Dear user, your password has been restored.</h3>
    </div>
    <div align="center"><h3><i class="fa fa-check fa-3x" style="color: green"></i></h3></div>
    <div align="center">
      <a href="{{baseHref}}" class="text-center">Back to login</a>
    </div>
  </div>
</div>
