<div id="myModal1" class="modal modal-default">

  <form name="myForm" id="login-wrap" role="form">

    <div class="modal-content">
      <div class="modal-header" id="bvrModal">
        <span ng-click="closeNow1()" id="closing" class="close">×</span>
        <h2>Terms and conditions</h2>
      </div>
      <div class="modal-body">
        <div tos></div>
      </div>
      <a ng-click="acceptTerms()" href="">
        <div class="modal-footer" id="bvrModal-footer" ng-model="termsAccepted">
          <h3>Accept conditions</h3>
        </div>
      </a>
    </div>

  </form>

</div> 
