<div class="login-box" ng-show="!alreadyUsed">
  <div class="login-logo">
    <img src="img/logos/vcntlogo_big.png"/>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">

  <!-- // REGISTER user form template ================ -->

      <div id="newUserInfo" onload="myInit()">

        <p class="login-box-msg"> <a href="http://www.vicinity-h2020.eu"> About project </a> </p>
        <p class="login-box-msg">{{note2}}</p>      <!-- Log in to start your session -->

        <span style="position: relative; margin-left: 5px; padding-right: 3px; z-index: 1000; background-color: #FFF"> User </span>

        <form id="regUser-wrap" name="formUser" role="form" ng-submit="regisUser()">

        <div id="org2">
          <div  class="form-group has-feedback">
            <span> Company Name </span>
            <span ng-model="companynameUs" style="width: 60%" class="pull-right">{{companynameUs}}</span>
          </div>

          <div  class="form-group has-feedback">
            <span> Email </span><span style="color: red">*</span>
            <input ng-model="emailUs" style="width: 60%" type="email"  class="pull-right" placeholder="Email of user" required/>
          </div>

          <div  class="form-group has-feedback">
            <span> Password </span><span style="color: red">*</span>
            <input id="pwUs1" ng-model="password1Us" style="width: 60%" type="password"  class="pull-right" placeholder="Password" required/>
          </div>

          <div  class="form-group has-feedback">
            <span> Repeat password </span><span style="color: red">*</span>
            <input id="pwUs2" ng-model="password2Us" style="width: 60%" type="password"  class="pull-right" placeholder="Same password again" required/>
          </div>

          <div  class="form-group has-feedback">
            <span> Name </span><span style="color: red">*</span>
            <input ng-model="nameUs" style="width: 60%" type="text"  class="pull-right" placeholder="First and last name of user" required/>
          </div>

          <div  class="form-group has-feedback">
            <span> Occupation </span><span style="color: red">*</span>
            <input ng-model="occupationUs" style="width: 60%" type="text"  class="pull-right" placeholder="Occupation of user" required/>
          </div>
        </div>

        <!-- Register new member-->
        <div class="col-xs-6" style="padding-right: 0px">
            <input type="checkbox" id="zmiz" href="" ng-model="termsAccepted"></input>
            <a id="zmiz" href="" ng-click="alertPopUp1()" class="text-center">Terms and Conditions</a>
        </div>
        <div style="margin-top: 50px">
          <button type="submit" ng-disabled="!termsAccepted" class="btn btn-primary btn-block btn-flat" >Register me</button>    <!-- ng-disabled="form.$invalid || dataLoading" -->
        </div>

      </form>
    </div>

<!-- Verification mail -->
    <div id="verEmailSent">
      <h3 style="color: green" class="login-box-msg"> Verification email was sent!</h3>
      <div align="center"><h3><i class="fa fa-check fa-3x" style="color: green"></i></h3></div>
    </div>
    </div>
  </div>

<div ng-show="alreadyUsed">
  <div class="login-logo">
    <img src="img/logos/vcntlogo_big.png"/>
  </div>
  <div>
    <h3 style="color: green" class="login-box-msg">This invitation has expired</h3>
  </div>
  <div align="center"><h3><i class="fa fa-times fa-3x" style="color: red"></i></h3></div>
</div>

  <!-- Terms and conditions -->

     <div id="myModal1" class="modal">

       <form name="myForm" id="login-wrap" role="form">

         <div class="modal-content">
           <div class="modal-header" id="bvrModal">
             <span ng-click="closeNow1()" id="closing" class="close">×</span>
             <h2>Terms and conditions</h2>
           </div>
           <div class="modal-body">
             <p> ... Place content ... </p>
           </div>
           <a ng-click="acceptTerms()" href="">
             <div class="modal-footer" id="bvrModal-footer" ng-model="termsAccepted">
               <h3>Accept conditions</h3>
             </div>
           </a>
         </div>

       </form>

     </div>


  <footer class="main-footer2">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      v0.1
    </div>

    <!-- Default to the left -->
    <img src="img/logos/logo_eu.jpg"/>&nbsp; This project has received funding from the European Union’s Horizon 2020 Framework Programme for Research and Innovation under grant agreement no 688467 and no LCE-01-2016/731285/SHAR-Q.
    <br>
    <br>
    <strong>Copyright &copy; 2015-2018 <a href="http://www.bavenir.eu" target="_blank">bAvenir, s.r.o </a>.</strong> All rights reserved.
</footer>
