<div class="login-box">
  <div class="login-logo">
    <img src="img/logos/vicinity_logo.png"/>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg"> <a href="http://www.vicinity-h2020.eu" style="cursor: pointer"> About project </a> </p>
    <!-- <p class="login-box-msg">{{note2}}</p>     -->
     <!-- Log in to start your session -->

    <!-- <div id="registerInput">
      <span id="newRegistr" ng-hide="newRegisHide" class="box-title" style="width: auto">I want to register </span>
      <select id="newRegistr" ng-hide="newRegisHide" class="pull-right" style="width: auto" name="menu" class="box-title">
        <option value="0" selected="selected">...</option>
        <option value="1">new company</option>
        <option value="2">new user in registered company</option>
      </select>

    </div> -->

    <!-- <div style="text-align: center" ng-show="isError" class="alert alert-danger">{{error}}</div> -->

    <!-- <form id="login-wrap" name="form" role="form" ng-submit="login()">


      <div id="zmiz" class="form-group has-feedback">
        <input id="user" type="email" name="username" id="username" class="form-control" ng-model="username" placeholder="Email" required/>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Email address as username is required</span>
      </div>


      <div id="zmiz" class="form-group has-feedback">
        <input  type="password" id="pass" class="form-control" placeholder="Password" name="password" username="password" ng-model="password" required/>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>



      <div  style="text-align: center" id="alert2" ng-show="isError" >{{error}}</div>

      <div id="zmiz">

        <div class="col-xs-6">
          <div style="margin-bottom: 0px" class="checkbox">
            <label>
            <input type="checkbox" disabled> Remember Me
     TODO: Implement remember me functionality


                 <input type="checkbox" id="myCheck"> &nbsp; Show password

            </label>
          </div>
        </div>



        <div id="zmiz" class="col-xs-6">
          <button id="login-button" type="submit" class="btn btn-primary btn-block btn-flat" ng-disabled="form.$invalid || dataLoading">Log In</button>
          <img ng-if="dataLoading" ng-src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
        </div>


      </div>

      <div id="zmiz2" style="margin-top: 5px" class="col-xs-6">
        <a  href="" ng-click="registerNew()" class="text-center">{{note}}</a>
      </div>


    </form> -->





    <div id="newOrganisationInfo">

      <span style="position: relative; margin-left: 5px; padding-right: 3px; z-index: 1000; background-color: #FFF"> Company </span>

      <form id="login-wrap" name="form" role="form" ng-submit="registerCompany()">

      <div  id="org">
        <div  class="form-group has-feedback">
          <span > Name </span><span style="color: red">*</span>
          <input style="width: 60%" type="text"  class="pull-right" placeholder="Name of your organisation" required/>
        </div>

        <div  class="form-group has-feedback">
          <span > Location</span>
          <input style="width: 60%" type="text"  class="pull-right" placeholder="Location of your organisation" required/>
        </div>
      </div>

      <span style="position: relative; margin-left: 5px; padding-right: 3px; z-index: 1000; background-color: #FFF"> Administrator </span>

      <div  id="org2">
        <div  class="form-group has-feedback">
          <span > Email </span><span style="color: red">*</span>
          <input style="width: 60%" type="email"  class="pull-right" placeholder="Email of administrator" required/>
        </div>

        <div  class="form-group has-feedback">
          <span > Password </span><span style="color: red">*</span>
          <input id="pass1" style="width: 60%" type="password"  class="pull-right" placeholder="Password" required/>
        </div>

        <div  class="form-group has-feedback">
          <span > Repeat password </span><span style="color: red">*</span>
          <input id="pass2" style="width: 60%" type="password"  class="pull-right" placeholder="Same password again" required/>
        </div>

        <div  class="form-group has-feedback">
          <span > Name</span>
          <input style="width: 60%" type="text"  class="pull-right" placeholder="First and last name of administrator" />
        </div>

        <div  class="form-group has-feedback">
          <span > Occupation</span>
          <input style="width: 60%" type="text"  class="pull-right" placeholder="Occupation of administrator" />
        </div>

      </div>

      <div class="col-xs-6">
        <!-- <a id="zmiz" href="" ng-click="registerNew()" class="text-center">{{note}}</a>       -->
      </div>
      <div class="col-xs-6" style="padding-right: 0px">
        <button type="submit" class="btn btn-primary btn-block btn-flat" >Register me</button>    <!-- ng-disabled="form.$invalid || dataLoading" -->
        <!-- <img ng-if="dataLoading" ng-src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/> -->
      </div>

    </form>

    </div>

    <div id="verEmailSent">
      <h3 style="color: green" class="login-box-msg">Your VICINITY user account is active now and your company is registered! <i class="fa fa-check fa-3x" style="color: green"></i></h3>
    </div>

    <!-- <div id="newUserInfo">

      <span style="position: relative; margin-left: 5px; padding-right: 3px; z-index: 1000; background-color: #FFF"> User </span>

      <div  id="org2">
        <div  class="form-group has-feedback">
          <span > Company </span>
          <span style="width: 60%" class="pull-right">ABC/ACME/whatever</span>
        </div>

        <div  class="form-group has-feedback">
          <span > Email </span><span style="color: red">*</span>
          <input style="width: 60%" type="email"  class="pull-right" placeholder="Email of user" required/>
        </div>

        <div  class="form-group has-feedback">
          <span > Password </span><span style="color: red">*</span>
          <input style="width: 60%" type="password"  class="pull-right" placeholder="Password" required/>
        </div>

        <div  class="form-group has-feedback">
          <span > Repeat password </span><span style="color: red">*</span>
          <input style="width: 60%" type="password"  class="pull-right" placeholder="Same password again" required/>
        </div>

        <div  class="form-group has-feedback">
          <span > Name</span>
          <input style="width: 60%" type="text"  class="pull-right" placeholder="First and last name of user" />
        </div>

        <div  class="form-group has-feedback">
          <span > Occupation</span>
          <input style="width: 60%" type="text"  class="pull-right" placeholder="Occupation of user" />
        </div>
      </div>

      <div class="col-xs-6">
        <a id="zmiz" href="" ng-click="registerNew()" class="text-center">{{note}}</a>
      </div>
      <div class="col-xs-6" style="padding-right: 0px">
        <button type="submit" class="btn btn-primary btn-block btn-flat" >Register me</button>
      </div>

    </div> -->

    <!-- <a id="zmiz" href="" ng-click="registerNew()" class="text-center">{{note}}</a>       -->

    </div>


  <!--  <a href="#">I forgot my password</a><br>  -->
<!-- TODO: Implement forgot my password functionality -->

<!-- TODO: Implement register a new membership functionality -->
  <a ui-sref="login" style="cursor: pointer"> <p class="login-box-msg">  Log in </p> </a>
  </div>
  <!-- /.login-box-body -->
</div>

<footer class="main-footer2">
  <!-- To the right -->
  <div class="pull-right hidden-xs">
    v0.1
  </div>
  <!-- Default to the left -->
  <img src="img/flag_yellow_low.jpg"/>&nbsp; This project has received funding from the European Union’s Horizon 2020 Framework Programme for Research and Innovation under grant agreement no 688467.
  <br>
  <br>
  <strong>Copyright &copy; 2015 <a href="http://www.bavenir.eu" target="_blank">bAvenir, s.r.o </a>.</strong> All rights reserved.
</footer>
