<div class="login-box">
  <div class="login-logo">
    <img src="img/logos/vcntlogo_big.png"/>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg"> <a href="http://www.vicinity-h2020.eu" style="cursor: pointer"> About project </a> </p>

     <!-- Log in to start your session -->

    <div id="verEmailSent" onload="myInit()">
      <h3 style="color: green" class="login-box-msg" >Your VICINITY user account is active now!</h3>
    </div>
    <div align="center"><h3><i class="fa fa-check fa-3x" style="color: green"></i></h3></div>

    </div>

  <a href="{{baseHref}}" style="cursor: pointer"> <p class="login-box-msg">  Log in </p> </a>
  </div>
  <!-- /.login-box-body -->
</div>

<footer class="main-footer2">
  <!-- To the right -->
  <div class="pull-right hidden-xs">
    v0.1
  </div>

  <!-- Default to the left -->
  <img src="img/logos/logo_eu.jpg"/>&nbsp; This project has received funding from the European Union’s Horizon 2020 Framework Programme for Research and Innovation under grant agreement no 688467 and no LCE-01-2016/731285/SHAR-Q.
  <br>
  <br>
  <strong>Copyright &copy; 2015-2018 <a href="http://www.bavenir.eu" target="_blank">bAvenir, s.r.o </a>.</strong> All rights reserved.
</footer>
