/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.border-bottom-rounded {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.widget-user-footer-moreinfo {
  text-align: center;
  padding-bottom: 3px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 3px;
  display: block;
}

.box-bg-grey {
    background: #f7f7f7 !important;
}

.info-box-description {
  display: block;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.skin-blue .bvr-navbar-form {
  border-radius: 3px;
  border: 0px solid #374850;
  margin: 8px 10px;
}
.skin-blue .bvr-navbar-form input[type="text"],
.skin-blue .bvr-navbar-form .btn {
  box-shadow: none;
  background-color: #3c8dbc;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.skin-blue .bvr-navbar-form input[type="text"] {
  color: #FFF;
  border-color: #FFF;
  border-top-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
}
.skin-blue .bvr-navbar-form input[type="text"]:focus,
.skin-blue .bvr-navbar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #3c8dbc;
  color: #FFF;
}
.skin-blue .bvr-navbar-form input[type="text"]:focus + .input-group-btn .btn {
  /*border-left-color: #3c8dbc;*/
  border-left: : 0px solid transparent;
}

.skin-blue .bvr-navbar-form input[type="text"]:focus {
  border-right: 0px solid transparent;
}

.skin-blue .bvr-navbar-form .btn {
  color: #FFF;
  border-top-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-left: 0px;
  border-color: #FFF;
}

#search-btn.btn-flat:hover {
  background-color: #357ca5;
}

/*#ramik.input-group {
  border-color: #FFF;
}*/

.main-header #bvr-search-input.form-control::-moz-placeholder {
  color: #FFF;
  opacity: 1;
}
.main-header #bvr-search-input.form-control:-ms-input-placeholder {
  color: #FFF;
}
.main-header #bvr-search-input.form-control::-webkit-input-placeholder {
  color: #FFF;
}

}
.profile_pic {
  width: 35%;
  float: left;
}

.profile_info {
  padding: 25px 10px 10px;
  /*width: 10%;*/
  float: none;
}

.profile_info span {
  font-size: 13px;
  line-height: 30px;
  color: #BAB8B8;
}

.profile_info h2 {
  font-size: 14px;
  color: #ECF0F1;
  margin: 0;
  font-weight: 800;
  margin-left: 30%;
  margin-top: 1%;
  margin-bottom: 7%;
}

.profile.img_2 .profile_pic {
  width: 50%;
}

.profile.img_2 .profile_pic .img-circle.profile_img {
  width: 50%;
  margin: 10px 0 0;
}

.img-circle.profile_img {
  width: 30%;
  background: #fff;
  margin-left: 30%;
  z-index: 1000;
  position: inherit;
  margin-top: 20px;
  border: 1px solid rgba(52, 73, 94, 0.44);
  padding: 2px;
}

.profile.img_2 .profile_pic .img-circle.profile_img {
  width: 50%;
  margin: 10px 0 0;
}

.well.profile_view .img-circle {
  border: 1px solid #E6E9ED;
  padding: 2px;
}

ul.widget_profile_box li .profile_img {
  width: 85px;
  height: 85px;
  margin: 0;
  margin-top: -28px;
}

.profile.img_2 .profile_info {
  padding: 15px 10px 0;
  width: 100%;
  margin-bottom: 10px;
  float: left;
}

.well.profile_view .ratings {
  margin-bottom: 0;
}

.well.profile_view .ratings {
  text-align: left;
  font-size: 16px;
}

.ratings {
  margin-top: 4px;
}

.ratings .active_data .fa-bar-chart {
  color: #222d32;
}

.ratings .active_data .fa-bar-chart:hover {
  color: #00a65a;
}

.ratings .inactive_data .fa-bar-chart {
  color: #d2d6de;
}

.ratings .inactive_data_img img{
  opacity: 0.4;
  margin-top: -10px;
  margin-left: 4px;
  height: 15%;
  width: 15%;
}

.ratings .request_sent img{
  margin-top: -15px;
  margin-left: 2px;
  height: 18%;
  width: 18%;
}

.ratings .inactive_data_img img:hover{
  opacity: 1;
  margin-top: -15px;
  margin-left: 2px;
  height: 18%;
  width: 18%;
  /*src: "img/icons/data_request_grey.png";*/
}

.info-box-content .loc_a {
  margin-top: 6px;
}

.info-box-content .gree {
  background-color: rgba(0,166,90,0.6);
}

.info-box-content .gree:hover {
  background-color: #00a65a;
}


.info-box-content .greyc {
  background-color: rgba(210,214,222,0.8);
}

.info-box-content .greyc:hover {
  background-color: #d2d6de;
}

.info-box-content .btn-unsuccess{
  background-color: rgba(210,214,222,0.8);
  border: 2px;
  border-color: rgb(50,50,50);
  color: #FFF;
}

.info-box-content .btn-unsuccess:hover{
  background-color: #d2d6de;
  border: 2px;
  border-color: rgb(50,50,50);
  color: #FFF;
}

.info-box-content .btn-unsuccess:focus{
  background-color: #d2d6de;
  border: 2px;
  border-color: rgb(50,50,50);
  color: #FFF;
}

.bg-aqua img{
  width: 60%;
  height: 60%;
}

.bg-orange img{
  width: 80%;
  height: 80%;
}

.bg-yellow img{
  width: 70%;
  height: 70%;
}

.bottomLeft h5 {
  display: inline-block;
}

.bottomLeft form div {
  display: inline-block;
  margin: 5px;
}

.bottomLeft form select {
  display: inline-block;
}

.profile_header{
 margin-left: 100px;
}
/*
.bottomRight {
    margin-left: 707px;
}*/

/*.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li:active > a {
  color: #ffffff;
  background: #1e282c;
  border-left-color: #3c8dbc;
}

.sidebar-menu > li:hover > a,
.sidebar-menu > li:active > a {
  color: #ffffff;
  background: #1e282c;
  border-left-color: #3c8dbc;
}

.sidebar-menu > li:focus > a {
  color: #ffffff;
  background: #1e282c;
  border-left-color: #3c8dbc;
}*/

/*#prva{
    display: none;
}

#prva:checked + label span{
  color: #ffffff;
  background: #1e282c;
  border-left-color: #3c8dbc;
}*/

/*.sidebar-menu li.active > .treeview-menu {
  display: block;
}*/

/*.bottomRight > h5 {
  display: inline-block;
}

.bottomRight form div {
  display: inline-block;
  margin: 5px;
}

.bottomRight form select {
  display: inline-block;
  margin-left: 707px;

}*/

/*.box-tools .dropdown-content {
    right: 0;
}*/

/*.box-tools .dropdown:hover .dropdown-content {
    display: block;
}

.box-tools .dropdown {
    position: relative;
    display: inline-block;
}

.box-tools .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
}

.box-tools .dropdown-content a {
    display: block;
}
*/



/*.btn-group-sm > .btn:last-child:not(:first-child),
.btn-group-sm > .dropdown-toggle:not(:first-child) {
  .border-left-radius(0);
}

.btn-group-justified > .btn-group-sm {
  display: table-cell;
  float: none;
  width: 1%;
}

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;}
  > .btn,
  > .btn-group-sm {
    float: none;
    display: table-cell;
    width: 1%;
  }
  > .btn-group-sm .btn {
    width: 100%;
  }

  > .btn-group-sm .dropdown-menu {
    left: auto;
  }*/


/*.loc_a img{
  height: 18%;
  width: 18%;
}*/
