/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.border-bottom-rounded {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.widget-user-footer-moreinfo {
  text-align: center;
  padding-bottom: 3px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 3px;
  display: block;
}

.box-bg-grey {
    background: #f7f7f7 !important;
}

.info-box-description {
  display: block;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.skin-blue .bvr-navbar-form {
  border-radius: 3px;
  border: 0px solid #374850;
  margin: 8px 10px;
}
.skin-blue .bvr-navbar-form input[type="text"],
.skin-blue .bvr-navbar-form .btn {
  box-shadow: none;
  background-color: #3c8dbc;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.skin-blue .bvr-navbar-form input[type="text"] {
  color: #FFF;
  border-color: #FFF;
  border-top-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
}
.skin-blue .bvr-navbar-form input[type="text"]:focus,
.skin-blue .bvr-navbar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #3c8dbc;
  color: #FFF;
}
.skin-blue .bvr-navbar-form input[type="text"]:focus + .input-group-btn .btn {
  /*border-left-color: #3c8dbc;*/
  border-left: : 0px solid transparent;
}

.skin-blue .bvr-navbar-form input[type="text"]:focus {
  border-right: 0px solid transparent;
}

.skin-blue .bvr-navbar-form .btn {
  color: #FFF;
  border-top-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-left: 0px;
  border-color: #FFF;
}

#search-btn.btn-flat:hover {
  background-color: #357ca5;
}

/*#ramik.input-group {
  border-color: #FFF;
}*/

.main-header #bvr-search-input.form-control::-moz-placeholder {
  color: #FFF;
  opacity: 1;
}
.main-header #bvr-search-input.form-control:-ms-input-placeholder {
  color: #FFF;
}
.main-header #bvr-search-input.form-control::-webkit-input-placeholder {
  color: #FFF;
}
