/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.border-bottom-rounded {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.widget-user-footer-moreinfo {
  text-align: center;
  padding-bottom: 3px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 3px;
  display: block;
}

.box-bg-grey {
    background: #f7f7f7 !important;
}

.box-bg-dark-grey {
    background: #ecf0f5 !important;
}

.info-box-description {
  display: block;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.skin-blue .bvr-navbar-form {
  border-radius: 3px;
  border: 0px solid #374850;
  margin: 8px 10px;
}
.skin-blue .bvr-navbar-form input[type="text"],
.skin-blue .bvr-navbar-form .btn {
  box-shadow: none;
  background-color: #3c8dbc;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.skin-blue .bvr-navbar-form input[type="text"] {
  color: #FFF;
  border-color: #FFF;
  border-top-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
}
.skin-blue .bvr-navbar-form input[type="text"]:focus,
.skin-blue .bvr-navbar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #3c8dbc;
  color: #FFF;
}
.skin-blue .bvr-navbar-form input[type="text"]:focus + .input-group-btn .btn {
  /*border-left-color: #3c8dbc;*/
  border-left: : 0px solid transparent;
}

.skin-blue .bvr-navbar-form input[type="text"]:focus {
  border-right: 0px solid transparent;
}

.skin-blue .bvr-navbar-form .btn {
  color: #FFF;
  border-top-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-left: 0px;
  border-color: #FFF;
}

#search-btn.btn-flat:hover {
  background-color: #357ca5;
}

/*#ramik.input-group {
  border-color: #FFF;
}*/

.main-header #bvr-search-input.form-control::-moz-placeholder {
  color: #FFF;
  opacity: 1;
}
.main-header #bvr-search-input.form-control:-ms-input-placeholder {
  color: #FFF;
}
.main-header #bvr-search-input.form-control::-webkit-input-placeholder {
  color: #FFF;
}

}
.profile_pic {
  width: 35%;
  float: left;
}

.profile_info {
  padding: 25px 10px 10px;
  /*width: 10%;*/
  float: none;
}

.profile_info span {
  font-size: 13px;
  line-height: 30px;
  color: #BAB8B8;
}

.profile_info h2 {
  font-size: 14px;
  color: #ECF0F1;
  margin: 0;
  font-weight: 800;
  margin-left: 30%;
  margin-top: 1%;
  margin-bottom: 7%;
}

.profile.img_2 .profile_pic {
  width: 50%;
}

.profile.img_2 .profile_pic .img-circle.profile_img {
  width: 50%;
  margin: 10px 0 0;
}

.img-circle.profile_img {
  width: 30%;
  background: #fff;
  margin-left: 30%;
  z-index: 1000;
  position: inherit;
  margin-top: 20px;
  border: 1px solid rgba(52, 73, 94, 0.44);
  padding: 2px;
}

.profile.img_2 .profile_pic .img-circle.profile_img {
  width: 50%;
  margin: 10px 0 0;
}

.well.profile_view .img-circle {
  border: 1px solid #E6E9ED;
  padding: 2px;
}

ul.widget_profile_box li .profile_img {
  width: 85px;
  height: 85px;
  margin: 0;
  margin-top: -28px;
}

.profile.img_2 .profile_info {
  padding: 15px 10px 0;
  width: 100%;
  margin-bottom: 10px;
  float: left;
}

.well.profile_view .ratings {
  margin-bottom: 0;
}

.well.profile_view .ratings {
  text-align: left;
  font-size: 16px;
}

.ratings {
  margin-top: 4px;
}

.ratings .active_data .fa-bar-chart {
  color: #222d32;
}

/*.widget-user-header .active_data {
  color #FFF;
  border: 5px;
  border-color: #222d32;
  border-width: thick;
  border-radius: 0%;
}*/



.ratings .active_data .fa-bar-chart:hover {
  color: #00a65a;
}

.ratings .inactive_data .fa-bar-chart {
  color: #d2d6de;
}

.ratings .inactive_data_img img{
  opacity: 0.4;
  margin-top: -10px;
  margin-left: 4px;
  height: 15%;
  width: 15%;
}

.ratings .request_sent img{
  margin-top: auto;
  margin-left: auto;
  border-top: 100px;
  height: 3%;
  width: 3%;
}

 /*.request_sent img{
  margin-top: auto;
  margin-left: auto;
  border-top: 100px;
  height: 3%;
  width: 3%;
}*/

.ratings .inactive_data_img img:hover{
  opacity: 1;
  margin-top: -15px;
  margin-left: 2px;
  height: 18%;
  width: 18%;
  /*src: "img/icons/data_request_grey.png";*/
}

.info-box-content .loc_a {
  margin-top: 6px;
}

.info-box-content .gree {
  background-color: rgba(0,166,90,0.6);
}

.info-box-content .gree:hover {
  background-color: #00a65a;
}


.info-box-content .greyc {
  background-color: rgba(210,214,222,0.8);
}

.info-box-content .greyc:hover {
  background-color: #d2d6de;
}

.info-box-content .btn-unsuccess{
  background-color: rgba(210,214,222,0.8);
  border: 2px;
  border-color: rgb(50,50,50);
  color: #FFF;
}

.info-box-content .btn-unsuccess:hover{
  background-color: #d2d6de;
  border: 2px;
  border-color: rgb(50,50,50);
  color: #FFF;
}

.info-box-content .btn-unsuccess:focus{
  background-color: #d2d6de;
  border: 2px;
  border-color: rgb(50,50,50);
  color: #FFF;
}

.bg-aqua img{
  width: 60%;
  height: 60%;
}

.bg-orange img{
  width: 80%;
  height: 80%;
}

.bg-yellow img{
  width: 70%;
  height: 70%;
}

.bg-gold img{
  width: 70%;
  height: 70%;
}


.bg-olive img{
  width: 70%;
  height: 70%;
}

.bg-green-active img{
  width: 70%;
  height: 70%;
}

.bottomLeft h5 {
  display: inline-block;
}

.bottomLeft form div {
  display: inline-block;
  margin: 5px;
}

.bottomLeft form select {
  display: inline-block;
}

.profile_header{
 margin-left: 100px;
}

/*.edit_profile{
  visibility: hidden;
}

.edit_profile:hover,
.edit_profile:focus{
  visibility: visible;
}*/

.skin-blue .bvr2-navbar-form {
  border-radius: 3px;
  border: 0px solid #374850;
  margin: 8px 10px;
}
.skin-blue .bvr2-navbar-form input[type="text"],
.skin-blue .bvr2-navbar-form .btn {
  box-shadow: none;
  background-color: #FFF;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.skin-blue .bvr2-navbar-form input[type="text"] {
  color: #3c8dbc;
  border-color: #3c8dbc;
  border-top-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
}
.skin-blue .bvr2-navbar-form input[type="text"]:focus,
.skin-blue .bvr2-navbar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #FFF;
  color: #3c8dbc;
}
.skin-blue .bvr2-navbar-form input[type="text"]:focus + .input-group-btn .btn {
  /*border-left-color: #3c8dbc;*/
  border-left: : 0px solid transparent;
}

.skin-blue .bvr2-navbar-form input[type="text"]:focus {
  border-right: 0px solid transparent;
}

.skin-blue .bvr2-navbar-form .btn {
  color: #3c8dbc;
  border-top-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-left: 0px;
  border-color: #3c8dbc;
}


.btn-primary-bvr {
  /*background-color: #3c8dbc;
  border-color: #367fa9;*/
  background-color: #f4f4f4;
  color: #444;
  border-color: #ddd;

}
.btn-primary-bvr:hover,
.btn-primary-bvr:active,
.btn-primary-bvr.hover {
  background-color: #367fa9;
  color:#FFF;
}

.badge_in_profile{
  margin:2px;
}

ul.messages li .message_date {
  float: right;
  text-align: right;
}

.media .date {
  background: #ccc;
  width: 52px;
  margin-right: 10px;
  border-radius: 10px;
  padding: 5px;
}
.media .date .month {
  margin: 0;
  text-align: center;
  color: #fff;
}
.media .date .day {
  text-align: center;
  color: #fff;
  font-size: 27px;
  margin: 0;
  line-height: 27px;
  font-weight: bold;
}

ul.messages li img.avatar, img.avatar {
  height: 32px;
  width: 32px;
  float: left;
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 2px;
  background: #f7f7f7;
  border: 1px solid #e6e6e6;
}
ul.messages li .message_date {
  float: right;
  text-align: right;
}
ul.messages li .message_wrapper {
  margin-left: 50px;
  margin-right: 40px;
}
ul.messages li .message_wrapper h4.heading {
  font-weight: 600;
  margin: 0;
  cursor: pointer;
  margin-bottom: 10px;
  line-height: 100%;
}
ul.messages li .message_wrapper blockquote {
  padding: 0px 10px;
  margin: 0;
  border-left: 5px solid #eee;
}

.widget-user-2 .widget-user-header {
  padding: 20px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.widget-user-2 .widget-user-header2 {
  padding: 20px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  /*height: 169px;*/
  height: auto;
  position: static;
}

.widget-user-2 .widget-user-username {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 300;
}
.widget-user-2 .widget-user-desc {
  margin-top: 0;
}
.widget-user-2 .widget-user-username,
.widget-user-2 .widget-user-desc {
  margin-left: 75px;
}
.widget-user-2 .widget-user-image > img {
  width: 65px;
  height: auto;
  float: left;
}

.widget-user2 .widget-user-image {
  position: absolute;
  top: 65px;
  left: 50%;
  margin-left: -45px;
}

.statusDev {
  /*float: right;*/
  width:35%;
  color: #222d32;
  height: 35%;
  margin-left: 56%;
  margin-top: -5%;
  position: absolute;

  /*margin-top: 0%;*/

  /*margin-bottom: 45%;*/

  /*position: relative;
  right: auto;*/

  z-index:-1;
}

.btn-group-justified2 {
  display: table;
  width: 35%;
  table-layout: fixed;
  border-collapse: separate;
}
.btn-group-justified2 > .btn,
.btn-group-justified2 > .btn-group {
  display: table-cell;
  float: none;
  width: 1%;
}
.btn-group-justified2 > .btn-group .btn {
  width: 100%;
}
.btn-group-justified2 > .btn-group .dropdown-menu {
  left: auto;
}

.statusDev2 {
  /*float: right;*/
  width:45%;
  color: #222d32;
  /*height: 10%;*/
  margin-left: 55%;     /*55% */
  /*margin-right: 10%;*/
  /*padding-bottom: 1%;*/
  /*margin-top: -15%;*/
}

.round {
  border-radius: 50%;
  overflow: hidden;
  width: 65px;
  height: 65px;

  position: absolute;
  /*top: 65px;*/
  left: 18%;
  margin-left: -45px;
}
.round img {
  /*display: block;*/
  /*position: absolute;*/
  /*width: 65px;
  height: auto;*/
  float: left;
            /* Stretch
                  height: 100%;
                  width: 100%; */
  min-width: 100%;
  min-height: 100%;
}

.round_profile {
  border-radius: 50%;
  overflow: hidden;
  /*width: 65px;
  height: 65px;*/
  /*width: 100px;
  height: 100px;*/
  width: 150px;
  height: 150px;
  margin: 0 auto;
  padding: 3px;
  border: 3px solid #d2d6de;

  /*position: absolute;*/
  /*top: 65px;*/
  /*left: 18%;*/
  /*margin-left: -45px;*/
}
.round_profile img {
  /*display: block;*/
  /*position: absolute;*/
  /*width: 65px;
  height: auto;*/
  /*float: left;*/
            /* Stretch
                  height: 100%;
                  width: 100%; */
  min-width: 100%;
  min-height: 100%;
}

#circle_red {
      width: 12px;
      height: 12px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 25px;
      background: #dd4b39;
      /*z-index: -5;*/
    }

#circle_green {
      width: 12px;
      height: 12px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 25px;
      background: #00a65a;
      /*z-index: -5;*/
    }

#circle_gray {
      width: 12px;
      height: 12px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 25px;
      background: #d2d6de;
      /*z-index: -5;*/
    }

.widget-user-2 .widget-user-username2 {
  margin-left: 30%;
}

.widget-user-2 .widget-user-username2 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 300;
}

.widget-user-2 .widget-user-desc2 {
  margin-top: 0;
  margin-left: 30%;
}

.bg-user {
  color: green;
  background-color: #C88141 !important;
  /*#6531CC    #C88141*/
}

.bg-gold{
  background-color: #9ACD32 !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}
/*
.bottomRight {
    margin-left: 707px;
}*/

/*.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li:active > a {
  color: #ffffff;
  background: #1e282c;
  border-left-color: #3c8dbc;
}

.sidebar-menu > li:hover > a,
.sidebar-menu > li:active > a {
  color: #ffffff;
  background: #1e282c;
  border-left-color: #3c8dbc;
}

.sidebar-menu > li:focus > a {
  color: #ffffff;
  background: #1e282c;
  border-left-color: #3c8dbc;
}*/

/*#prva{
    display: none;
}

#prva:checked + label span{
  color: #ffffff;
  background: #1e282c;
  border-left-color: #3c8dbc;
}*/

/*.sidebar-menu li.active > .treeview-menu {
  display: block;
}*/

/*.bottomRight > h5 {
  display: inline-block;
}

.bottomRight form div {
  display: inline-block;
  margin: 5px;
}

.bottomRight form select {
  display: inline-block;
  margin-left: 707px;

}*/

/*.box-tools .dropdown-content {
    right: 0;
}*/

/*.box-tools .dropdown:hover .dropdown-content {
    display: block;
}

.box-tools .dropdown {
    position: relative;
    display: inline-block;
}

.box-tools .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
}

.box-tools .dropdown-content a {
    display: block;
}
*/



/*.btn-group-sm > .btn:last-child:not(:first-child),
.btn-group-sm > .dropdown-toggle:not(:first-child) {
  .border-left-radius(0);
}

.btn-group-justified > .btn-group-sm {
  display: table-cell;
  float: none;
  width: 1%;
}

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;}
  > .btn,
  > .btn-group-sm {
    float: none;
    display: table-cell;
    width: 1%;
  }
  > .btn-group-sm .btn {
    width: 100%;
  }

  > .btn-group-sm .dropdown-menu {
    left: auto;
  }*/


/*.loc_a img{
  height: 18%;
  width: 18%;
}*/
